In [1]:
"""
Para las acciones de Nvidia (NVDA), hemos extraído los siguientes ficheros .csv, cada comentario se indica qué tipo de información contienen
"""

'\nPara las acciones de Nvidia (NVDA), hemos extraído los siguientes ficheros .csv, cada comentario se indica qué tipo de información contienen\n'

In [2]:
#pip install yfinance
#pip install finplot
#pip install matplotlib

In [3]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [4]:
#exploración de los datos que existen de una acción
ticker = "NVDA"
stock = yf.Ticker(ticker)
stock_info = stock.info

for line in stock_info.items():
    print("-", line)

- ('address1', '2788 San Tomas Expressway')
- ('city', 'Santa Clara')
- ('state', 'CA')
- ('zip', '95051')
- ('country', 'United States')
- ('phone', '408 486 2000')
- ('website', 'https://www.nvidia.com')
- ('industry', 'Semiconductors')
- ('industryKey', 'semiconductors')
- ('industryDisp', 'Semiconductors')
- ('sector', 'Technology')
- ('sectorKey', 'technology')
- ('sectorDisp', 'Technology')
- ('longBusinessSummary', "NVIDIA Corporation provides graphics and compute and networking solutions in the United States, Taiwan, China, Hong Kong, and internationally. The Graphics segment offers GeForce GPUs for gaming and PCs, the GeForce NOW game streaming service and related infrastructure, and solutions for gaming platforms; Quadro/NVIDIA RTX GPUs for enterprise workstation graphics; virtual GPU or vGPU software for cloud-based visual and virtual computing; automotive platforms for infotainment systems; and Omniverse software for building and operating metaverse and 3D internet applications. The Compute & Networking segment comprises Data Center computing platforms and end-to-end networking platforms, including Quantum for InfiniBand and Spectrum for Ethernet; NVIDIA DRIVE automated-driving platform and automotive development agreements; Jetson robotics and other embedded platforms; NVIDIA AI Enterprise and other software; and DGX Cloud software and services. The company's products are used in gaming, professional visualization, data center, and automotive markets. It sells its products to original equipment manufacturers, original device manufacturers, system integrators and distributors, independent software vendors, cloud service providers, consumer internet companies, add-in board manufacturers, distributors, automotive manufacturers and tier-1 automotive suppliers, and other ecosystem participants. NVIDIA Corporation was incorporated in 1993 and is headquartered in Santa Clara, California.")
- ('fullTimeEmployees', 29600)
- ('companyOfficers', [{'maxAge': 1, 'name': 'Mr. Jen-Hsun  Huang', 'age': 60, 'title': 'Co-Founder, CEO, President & Director', 'yearBorn': 1963, 'fiscalYear': 2024, 'totalPay': 7491487, 'exercisedValue': 217327152, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Colette M. Kress', 'age': 56, 'title': 'Executive VP & CFO', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1510765, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Debora  Shoquist', 'age': 68, 'title': 'Executive Vice President of Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 1371266, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Timothy S. Teter', 'age': 56, 'title': 'Executive VP, General Counsel & Secretary', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1360939, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Ajay K. Puri', 'age': 68, 'title': 'Executive Vice President of Worldwide Field Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 2295097, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Chris A. Malachowsky', 'title': 'Co-Founder', 'fiscalYear': 2024, 'totalPay': 320000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Donald F. Robertson Jr.', 'age': 54, 'title': 'VP & Chief Accounting Officer', 'yearBorn': 1969, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Prof. William J. Dally Ph.D.', 'age': 62, 'title': 'Chief Scientist & Senior VP of Research', 'yearBorn': 1961, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Mylene  Mangalindan', 'title': 'VP of Corporate Communications', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Tommy  Lee', 'title': 'Senior Vice President of Systems Engineering & Application', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}])
- ('auditRisk', 7)
- ('boardRisk', 10)
- ('compensationRisk', 5)
- ('shareHolderRightsRisk', 6)
- ('overallRisk', 8)
- ('governanceEpochDate', 1727740800)
- ('compensationAsOfEpochDate', 1735603200)
- ('irWebsite', 'http://phx.corporate-ir.net/phoenix.zhtml?c=116466&p=irol-IRHome')
- ('maxAge', 86400)
- ('priceHint', 2)
- ('previousClose', 143.59)
- ('open', 142.015)
- ('dayLow', 137.46)
- ('dayHigh', 142.43)
- ('regularMarketPreviousClose', 143.59)
- ('regularMarketOpen', 142.015)
- ('regularMarketDayLow', 137.46)
- ('regularMarketDayHigh', 142.43)
- ('dividendRate', 0.04)
- ('dividendYield', 0.00029999999)
- ('exDividendDate', 1726099200)
- ('payoutRatio', 0.010299999)
- ('fiveYearAvgDividendYield', 0.1)
- ('beta', 1.669)
- ('trailingPE', 65.21495)
- ('forwardPE', 34.374386)
- ('volume', 283965277)
- ('regularMarketVolume', 283965277)
- ('averageVolume', 325125778)
- ('averageVolume10days', 254594450)
- ('averageDailyVolume10Day', 254594450)
- ('marketCap', 3423406653440)
- ('fiftyTwoWeekLow', 39.23)
- ('fiftyTwoWeekHigh', 144.42)
- ('priceToSalesTrailing12Months', 35.54681)
- ('fiftyDayAverage', 123.5296)
- ('twoHundredDayAverage', 101.79636)
- ('trailingAnnualDividendRate', 0.022)
- ('trailingAnnualDividendYield', 0.00015321402)
- ('currency', 'USD')
- ('enterpriseValue', 3398621724672)
- ('profitMargins', 0.55041003)
- ('floatShares', 23541441000)
- ('sharesOutstanding', 24529999872)
- ('sharesShort', 251090067)
- ('sharesShortPriorMonth', 260873913)
- ('sharesShortPreviousMonthDate', 1724976000)
- ('dateShortInterest', 1727654400)
- ('sharesPercentSharesOut', 0.010199999)
- ('heldPercentInsiders', 0.042940002)
- ('heldPercentInstitutions', 0.66766)
- ('shortRatio', 0.8)
- ('shortPercentOfFloat', 0.0107)
- ('impliedSharesOutstanding', 24748699648)
- ('bookValue', 2.368)
- ('priceToBook', 58.93581)
- ('lastFiscalYearEnd', 1706400000)
- ('nextFiscalYearEnd', 1738022400)
- ('mostRecentQuarter', 1722124800)
- ('earningsQuarterlyGrowth', 1.682)
- ('netIncomeToCommon', 53007998976)
- ('trailingEps', 2.14)
- ('forwardEps', 4.06)
- ('pegRatio', 0.86)
- ('lastSplitFactor', '10:1')
- ('lastSplitDate', 1717977600)
- ('enterpriseToRevenue', 35.289)
- ('enterpriseToEbitda', 55.548)
- ('52WeekChange', 2.4607944)
- ('SandP52WeekChange', 0.40128052)
- ('lastDividendValue', 0.01)
- ('lastDividendDate', 1726099200)
- ('exchange', 'NMS')
- ('quoteType', 'EQUITY')
- ('symbol', 'NVDA')
- ('underlyingSymbol', 'NVDA')
- ('shortName', 'NVIDIA Corporation')
- ('longName', 'NVIDIA Corporation')
- ('firstTradeDateEpochUtc', 917015400)
- ('timeZoneFullName', 'America/New_York')
- ('timeZoneShortName', 'EDT')
- ('uuid', '7f5f6a07-b148-30f4-98a2-2caa3df2aed0')
- ('messageBoardId', 'finmb_32307')
- ('gmtOffSetMilliseconds', -14400000)
- ('currentPrice', 139.56)
- ('targetHighPrice', 202.79)
- ('targetLowPrice', 75.4)
- ('targetMeanPrice', 149.03)
- ('targetMedianPrice', 150.0)
- ('recommendationMean', 1.8)
- ('recommendationKey', 'buy')
- ('numberOfAnalystOpinions', 50)
- ('totalCash', 34800001024)
- ('totalCashPerShare', 1.419)
- ('ebitda', 61184000000)
- ('totalDebt', 10014999552)
- ('quickRatio', 3.503)
- ('currentRatio', 4.269)
- ('totalRevenue', 96307003392)
- ('debtToEquity', 17.221)
- ('revenuePerShare', 3.91)
- ('returnOnAssets', 0.55258)
- ('returnOnEquity', 1.23767)
- ('freeCashflow', 33725874176)
- ('operatingCashflow', 48663998464)
- ('earningsGrowth', 1.68)
- ('revenueGrowth', 1.224)
- ('grossMargins', 0.75975996)
- ('ebitdaMargins', 0.6353)
- ('operatingMargins', 0.62057)
- ('financialCurrency', 'USD')
- ('trailingPegRatio', 1.0783)

In [5]:
#datos del comportamiento de la acción a lo largo del tiempo

def get_historical_prices(ticker):
    historical_prices = yf.download(ticker)
    historical_prices = historical_prices.reset_index()
    
    #añadir valor del ticker para todas las filas
    historical_prices["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    historical_prices["Extraction_Timestamp"] = extraction_time
    historical_prices["Extraction_Timestamp"] = pd.to_datetime(historical_prices["Extraction_Timestamp"])
    
    #renombrar las columnas
    historical_prices.columns = ["date", "open", "high", "low", "close", "adj_close", "volume", "ticker", "extraction_timestamp"]
    
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_historical_prices_{datetime.now().strftime('%Y%m%d')}.csv"
    historical_prices.to_csv(file_name)

    return historical_prices

In [6]:
ticker = "NVDA"
df_historical_prices = get_historical_prices(ticker)

[*********************100%***********************]  1 of 1 completed

In [7]:
df_historical_prices

,date,open,high,low,close,adj_close,volume,ticker,extraction_timestamp
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037618,2714688000,NVDA,2024-10-24 11:46:01
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041559,510480000,NVDA,2024-10-24 11:46:01
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038334,343200000,NVDA,2024-10-24 11:46:01
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038215,244368000,NVDA,2024-10-24 11:46:01
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038095,227520000,NVDA,2024-10-24 11:46:01
...,...,...,...,...,...,...,...,...,...
6476,2024-10-17,139.339996,140.889999,136.869995,136.929993,136.929993,306435900,NVDA,2024-10-24 11:46:01
6477,2024-10-18,138.669998,138.899994,137.279999,138.000000,138.000000,176090200,NVDA,2024-10-24 11:46:01
6478,2024-10-21,138.130005,143.710007,138.000000,143.710007,143.710007,264554500,NVDA,2024-10-24 11:46:01
6479,2024-10-22,142.910004,144.419998,141.779999,143.589996,143.589996,226311600,NVDA,2024-10-24 11:46:01
6480,2024-10-23,142.029999,142.429993,137.460007,139.559998,139.559998,284973100,NVDA,2024-10-24 11:46:01

In [8]:
#datos de cuándo y cuánto ha pagado la empresa en dividendos

def get_dividends(ticker):
    dividends = yf.Ticker(ticker).dividends
    dividends = dividends.reset_index()
    
    #añadir valor del ticker para todas las filas
    dividends["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    dividends = pd.DataFrame(dividends)
    dividends["Extraction_Timestamp"] = extraction_time
    dividends["Extraction_Timestamp"] = pd.to_datetime(dividends["Extraction_Timestamp"])
    
    #renombrar las columnas
    dividends.columns = ["date", "dividends", "ticker", "extraction_timestamp"]
    
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_dividends_{datetime.now().strftime('%Y%m%d')}.csv"
    dividends.to_csv(file_name)

    return dividends

In [9]:
ticker = "NVDA"
df_dividends = get_dividends(ticker)

In [10]:
df_dividends.head(10)

                       date  dividends ticker extraction_timestamp
0 2012-11-20 00:00:00-05:00   0.001875   NVDA  2024-10-24 11:46:02
1 2013-02-26 00:00:00-05:00   0.001875   NVDA  2024-10-24 11:46:02
2 2013-05-21 00:00:00-04:00   0.001875   NVDA  2024-10-24 11:46:02
3 2013-08-20 00:00:00-04:00   0.001875   NVDA  2024-10-24 11:46:02
4 2013-11-19 00:00:00-05:00   0.002125   NVDA  2024-10-24 11:46:02
5 2014-02-25 00:00:00-05:00   0.002125   NVDA  2024-10-24 11:46:02
6 2014-05-20 00:00:00-04:00   0.002125   NVDA  2024-10-24 11:46:02
7 2014-08-19 00:00:00-04:00   0.002125   NVDA  2024-10-24 11:46:02
8 2014-11-19 00:00:00-05:00   0.002125   NVDA  2024-10-24 11:46:02
9 2015-02-24 00:00:00-05:00   0.002125   NVDA  2024-10-24 11:46:02

In [11]:
#datos de los splits, afectan a cómo se interpreta el precio histórico de las acciones

def get_splits(ticker):
    splits = yf.Ticker(ticker).splits
    splits = splits.reset_index()
    
    #añadir valor del ticker para todas las filas
    splits["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    splits = pd.DataFrame(splits)
    splits["Extraction_Timestamp"] = extraction_time
    splits["Extraction_Timestamp"] = pd.to_datetime(splits["Extraction_Timestamp"])
    
    #renombrar las columnas
    splits.columns = ["date", "splits", "ticker", "extraction_timestamp"]
    
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_splits_{datetime.now().strftime('%Y%m%d')}.csv"
    splits.to_csv(file_name)

    return splits

In [12]:
ticker = "NVDA"
df_splits = get_splits(ticker)

In [13]:
df_splits

                       date  splits ticker extraction_timestamp
0 2000-06-27 00:00:00-04:00     2.0   NVDA  2024-10-24 11:46:02
1 2001-09-10 00:00:00-04:00     2.0   NVDA  2024-10-24 11:46:02
2 2006-04-07 00:00:00-04:00     2.0   NVDA  2024-10-24 11:46:02
3 2007-09-11 00:00:00-04:00     1.5   NVDA  2024-10-24 11:46:02
4 2021-07-20 00:00:00-04:00     4.0   NVDA  2024-10-24 11:46:02
5 2024-06-10 00:00:00-04:00    10.0   NVDA  2024-10-24 11:46:02

In [14]:
#datos de la estructura financiera de la empresa

def get_balance_sheet(ticker):
    balance_sheet = yf.Ticker(ticker).balance_sheet.T
    balance_sheet = balance_sheet.reset_index()
    balance_sheet = balance_sheet.rename(columns={'index': 'Date'})
    
    #añadir valor del ticker para todas las filas
    balance_sheet["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    balance_sheet["Extraction_Timestamp"] = extraction_time
    balance_sheet["Extraction_Timestamp"] = pd.to_datetime(balance_sheet["Extraction_Timestamp"])
    
    #filtrar columnas
    balance_sheet_filtered = balance_sheet[["Date", "ticker", "Ordinary Shares Number", "Net Debt", "Total Assets", "Current Liabilities", "Stockholders Equity", "Extraction_Timestamp"]]
    
    #renombrar las columnas
    balance_sheet_filtered.columns = ["date", "ticker", "ordinary_shares_number", "net_debt", "total_assets", "current_liabilities", "stockholders_equity", "extraction_timestamp"]
          
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_balance_sheet_{datetime.now().strftime('%Y%m%d')}.csv"
    balance_sheet_filtered.to_csv(file_name)

    return balance_sheet_filtered

In [15]:
ticker = "NVDA"
df_balance_sheet = get_balance_sheet(ticker)

In [16]:
df_balance_sheet

,date,ticker,ordinary_shares_number,net_debt,total_assets,current_liabilities,stockholders_equity,extraction_timestamp
0,2024-01-31,NVDA,24640000000.0,2429000000.0,65728000000.0,10631000000.0,42978000000.0,2024-10-24 11:46:02
1,2023-01-31,NVDA,24661365720.0,7564000000.0,41182000000.0,6563000000.0,22101000000.0,2024-10-24 11:46:02
2,2022-01-31,NVDA,25060000000.0,8956000000.0,44187000000.0,4335000000.0,26612000000.0,2024-10-24 11:46:02
3,2021-01-31,NVDA,24800000000.0,6116000000.0,28791000000.0,3925000000.0,16893000000.0,2024-10-24 11:46:02
4,2020-01-31,NVDA,NaN,NaN,NaN,NaN,NaN,2024-10-24 11:46:02

In [17]:
#estado de resultados, para entender la rentabilidad de la empresa a lo largo del tiempo

def get_income_statement(ticker):
    income_statement = yf.Ticker(ticker).financials.T
    income_statement = income_statement.reset_index()
    income_statement = income_statement.rename(columns={'index': 'Date'})
    
    #añadir valor del ticker para todas las filas
    income_statement["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    income_statement["Extraction_Timestamp"] = extraction_time
    income_statement["Extraction_Timestamp"] = pd.to_datetime(income_statement["Extraction_Timestamp"])
    
    #filtrar columnas
    income_statement_filtered = income_statement[["Date", "ticker", "EBITDA", "Total Revenue", "Net Income", "Operating Income", "Diluted EPS", "Extraction_Timestamp"]]
    
    #renombrar las columnas
    income_statement_filtered.columns = ["date", "ticker", "ebitda", "total_revenue", "net_income", "operating_income", "diluted_eps", "extraction_timestamp"]
    
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_income_statement_{datetime.now().strftime('%Y%m%d')}.csv"
    income_statement_filtered.to_csv(file_name)

    return income_statement_filtered

In [18]:
ticker = "NVDA"
df_income_statement = get_income_statement(ticker)

In [19]:
df_income_statement

,date,ticker,ebitda,total_revenue,net_income,operating_income,diluted_eps,extraction_timestamp
0,2024-01-31,NVDA,35583000000.0,60922000000.0,29760000000.0,32972000000.0,1.193,2024-10-24 11:46:02
1,2023-01-31,NVDA,5987000000.0,26974000000.0,4368000000.0,5577000000.0,0.174,2024-10-24 11:46:02
2,2022-01-31,NVDA,11351000000.0,26914000000.0,9752000000.0,10041000000.0,0.385,2024-10-24 11:46:02
3,2021-01-31,NVDA,5691000000.0,16675000000.0,4332000000.0,4532000000.0,0.1725,2024-10-24 11:46:02

In [20]:
#muestra cómo se genera y usa el efectivo, sirve para medir su salud financiera

def get_cashflow(ticker):
    cashflow = yf.Ticker(ticker).cashflow.T
    cashflow = cashflow.reset_index()
    cashflow = cashflow.rename(columns={'index': 'Date'})
    
    #añadir valor del ticker para todas las filas
    cashflow["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    cashflow["Extraction_Timestamp"] = extraction_time
    cashflow["Extraction_Timestamp"] = pd.to_datetime(cashflow["Extraction_Timestamp"])
    
    #filtrar columnas
    cashflow_filtered = cashflow[["Date", "ticker", "Operating Cash Flow", "Capital Expenditure", "Free Cash Flow", "Extraction_Timestamp"]]
    
    #renombrar las columnas
    cashflow_filtered.columns = ["date", "ticker", "operating_cash_flow", "capital_expenditure", "free_cash_flow", "extraction_timestamp"]
    
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_cashflow_{datetime.now().strftime('%Y%m%d')}.csv"
    cashflow_filtered.to_csv(file_name)

    return cashflow_filtered

In [21]:
ticker = "NVDA"
df_cashflow = get_cashflow(ticker)

In [22]:
df_cashflow

,date,ticker,operating_cash_flow,capital_expenditure,free_cash_flow,extraction_timestamp
0,2024-01-31,NVDA,28090000000.0,-1069000000.0,27021000000.0,2024-10-24 11:46:03
1,2023-01-31,NVDA,5641000000.0,-1833000000.0,3808000000.0,2024-10-24 11:46:03
2,2022-01-31,NVDA,9108000000.0,-976000000.0,8132000000.0,2024-10-24 11:46:03
3,2021-01-31,NVDA,5822000000.0,-1128000000.0,4694000000.0,2024-10-24 11:46:03
4,2020-01-31,NVDA,NaN,NaN,NaN,2024-10-24 11:46:03

In [23]:
#identificación de las instituciones que tienen participaciones

def get_holders(ticker):
    holders = yf.Ticker(ticker).institutional_holders
    
    #añadir valor del ticker para todas las filas
    holders["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    holders["Extraction_Timestamp"] = extraction_time
    holders["Extraction_Timestamp"] = pd.to_datetime(holders["Extraction_Timestamp"])
    
    #renombrar las columnas
    holders.columns = ["date", "holder", "pct_held", "shares", "value", "ticker", "extraction_timestamp"]
        
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_holders_{datetime.now().strftime('%Y%m%d')}.csv"
    holders.to_csv(file_name)

    return holders

In [24]:
ticker = "NVDA"
df_holders = get_holders(ticker)

In [25]:
df_holders

,date,holder,pct_held,shares,value,ticker,extraction_timestamp
0,2024-03-31,Vanguard Group Inc,0.8672,2133356260,192761538228,NVDA,2024-10-24 11:46:03
1,2024-03-31,Blackrock Inc.,0.7408,1822389250,164663803073,NVDA,2024-10-24 11:46:03
2,2024-03-31,"FMR, LLC",0.4679,1151036980,104003097364,NVDA,2024-10-24 11:46:03
3,2024-03-31,State Street Corporation,0.3678,904894170,81762617624,NVDA,2024-10-24 11:46:03
4,2024-03-31,"Geode Capital Management, LLC",0.2134,524942990,47431748804,NVDA,2024-10-24 11:46:03
5,2024-03-31,Price (T.Rowe) Associates Inc,0.1876,461499100,41699212679,NVDA,2024-10-24 11:46:03
6,2024-03-31,JP Morgan Chase & Company,0.1543,379614540,34300451376,NVDA,2024-10-24 11:46:03
7,2024-03-31,Morgan Stanley,0.1377,338760640,30609056387,NVDA,2024-10-24 11:46:03
8,2023-12-31,Norges Bank Investment Management,0.1199,294947080,14606369295,NVDA,2024-10-24 11:46:03
9,2024-03-31,Northern Trust Corporation,0.0986,242517530,21912913940,NVDA,2024-10-24 11:46:03

In [26]:
#datos de los cambios en las calificaciones que los analistas financieros hacen sobre una acción

def get_upgrades_downgrades(ticker):
    upgrades_downgrades = yf.Ticker(ticker).upgrades_downgrades
    upgrades_downgrades = upgrades_downgrades.reset_index()
    
    #añadir valor del ticker para todas las filas
    upgrades_downgrades["ticker"] = ticker
    
    #añadir timestamp
    extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    upgrades_downgrades["Extraction_Timestamp"] = extraction_time
    upgrades_downgrades["Extraction_Timestamp"] = pd.to_datetime(upgrades_downgrades["Extraction_Timestamp"])
    
    #renombrar las columnas
    upgrades_downgrades.columns = ["date", "firm", "to_grade", "from_grade", "action", "ticker", "extraction_timestamp"]
       
    #guardar .csv con el nombre del ticker y la fecha de extracción
    file_name = f"{ticker}_upgrades_downgrades_{datetime.now().strftime('%Y%m%d')}.csv"
    upgrades_downgrades.to_csv(file_name) 

    return upgrades_downgrades

In [27]:
ticker = "NVDA"
df_upgrades_downgrades = get_upgrades_downgrades(ticker)

In [28]:
df_upgrades_downgrades

,date,firm,to_grade,from_grade,action,ticker,extraction_timestamp
0,2024-10-18 11:15:27,B of A Securities,Buy,Buy,main,NVDA,2024-10-24 11:46:03
1,2024-10-11 13:55:04,Goldman Sachs,Buy,Buy,main,NVDA,2024-10-24 11:46:03
2,2024-10-10 12:29:45,Morgan Stanley,Overweight,Overweight,reit,NVDA,2024-10-24 11:46:03
3,2024-10-08 19:45:05,Cantor Fitzgerald,Overweight,Overweight,reit,NVDA,2024-10-24 11:46:03
4,2024-10-08 14:41:59,UBS,Buy,Buy,reit,NVDA,2024-10-24 11:46:03
...,...,...,...,...,...,...,...
813,2012-05-14 10:19:00,Jefferies,Hold,,main,NVDA,2024-10-24 11:46:03
814,2012-04-05 11:07:00,Cantor Fitzgerald,Buy,,init,NVDA,2024-10-24 11:46:03
815,2012-02-16 12:29:00,Evercore ISI Group,Underweight,,main,NVDA,2024-10-24 11:46:03
816,2012-02-16 11:34:00,B of A Securities,Neutral,Buy,down,NVDA,2024-10-24 11:46:03
817,2012-02-13 12:27:00,FBR Capital,Outperform,Market Perform,up,NVDA,2024-10-24 11:46:03

In [29]:
#identificación de las empresas del sector de tecnológico
sector = yf.Sector("technology").top_companies
sector = sector.reset_index().rename(columns={"index": "symbol"})
sector

   symbol                                          name rating  market weight
0    AAPL                                    Apple Inc.    Buy       0.188195
1    NVDA                            NVIDIA Corporation    Buy       0.183778
2    MSFT                         Microsoft Corporation    Buy       0.169390
3    AVGO                                 Broadcom Inc.    Buy       0.043495
4    ORCL                            Oracle Corporation    Buy       0.025744
5     CRM                              Salesforce, Inc.    Buy       0.014594
6     AMD                  Advanced Micro Devices, Inc.    Buy       0.013283
7     ACN                                 Accenture plc    Buy       0.012430
8    CSCO                           Cisco Systems, Inc.    Buy       0.012040
9     IBM   International Business Machines Corporation   Hold       0.011507
10   ADBE                                    Adobe Inc.    Buy       0.011459
11    NOW                              ServiceNow, Inc.    Buy       0.010029
12   QCOM                         QUALCOMM Incorporated    Buy       0.009961
13    TXN                Texas Instruments Incorporated   Hold       0.009886
14   INTU                                   Intuit Inc.    Buy       0.009056
15   UBER                       Uber Technologies, Inc.    Buy       0.009002
16   AMAT                       Applied Materials, Inc.    Buy       0.008084
17   ANET                         Arista Networks, Inc.    Buy       0.006644
18    ADP               Automatic Data Processing, Inc.   Hold       0.006349
19   PANW                      Palo Alto Networks, Inc.    Buy       0.006259
20     FI                                  Fiserv, Inc.    Buy       0.006253
21     MU                       Micron Technology, Inc.    Buy       0.006251
22    ADI                          Analog Devices, Inc.    Buy       0.006045
23   PLTR                    Palantir Technologies Inc.   Hold       0.005119
24   LRCX                      Lam Research Corporation    Buy       0.005068
25   INTC                             Intel Corporation   Hold       0.005047
26   KLAC                               KLA Corporation    Buy       0.004779
27   DELL                        Dell Technologies Inc.    Buy       0.004502
28    APH                          Amphenol Corporation    Buy       0.004426
29    MSI                      Motorola Solutions, Inc.    Buy       0.004182
30   SNPS                                Synopsys, Inc.    Buy       0.004068
31   CRWD                    CrowdStrike Holdings, Inc.    Buy       0.003938
32   MRVL                      Marvell Technology, Inc.    Buy       0.003804
33   CDNS                  Cadence Design Systems, Inc.    Buy       0.003661
34   WDAY                                 Workday, Inc.    Buy       0.003442
35   ADSK                                Autodesk, Inc.    Buy       0.003311
36   FTNT                                Fortinet, Inc.   Hold       0.003299
37   NXPI                       NXP Semiconductors N.V.    Buy       0.003231
38    ROP                      Roper Technologies, Inc.    Buy       0.003124
39    TTD                          The Trade Desk, Inc.    Buy       0.003102
40    APP                          AppLovin Corporation    Buy       0.002860
41   PAYX                                 Paychex, Inc.   Hold       0.002732
42   TEAM                         Atlassian Corporation    Buy       0.002634
43    FIS  Fidelity National Information Services, Inc.    Buy       0.002632
44   FICO                        Fair Isaac Corporation    Buy       0.002630
45    TEL                           TE Connectivity plc    Buy       0.002373
46     SQ                                   Block, Inc.    Buy       0.002359
47   MSTR                    MicroStrategy Incorporated    Buy       0.002327
48   MPWR                Monolithic Power Systems, Inc.    Buy       0.002312
49   DDOG                                 Datadog, Inc.    Buy       0.002199

In [30]:
#datos de las acciones del sector de tecnológico

tickers = [
    'AAPL', 'MSFT', 'GOOGL', 'AMZN', 'META', 'TSLA', 'NVDA', 'INTC', 'ADBE', 'CSCO',
    'ORCL', 'CRM', 'IBM', 'AMD', 'NFLX', 'PYPL', 'SQ', 'TWTR', 'SNPS', 'ATVI',"AAPL","MSFT",                          
    "AVGO","ORCL", "CRM","AMD",  "ACN", "CSCO", "ADBE", "IBM", "NOW", "QCOM", "TXN", "INTU",                                    
    "UBER", "AMAT", "ANET", "PANW", "MU", "ADP", "FI", "ADI", "INTC", "PLTR", "LRCX", "KLAC",                             
    "DELL", "APH", "MSI", "SNPS", "CRWD", "MRVL", "CDNS", "WDAY", "FTNT", "ADSK", "ROP", "NXPI",                       
    "TTD", "APP", "PAYX", "TEAM", "FIS", "FICO", "SQ", "TEL", "MSTR", "MPWR", "DDOG"  
]

stock_info = []

for ticker in tickers:
    stock = yf.Ticker(ticker)
    stock_data = {
        "ticker": ticker,
        "name": stock.info.get("longName", ""),
        "sector": stock.info.get("sector", ""),
        "industry": stock.info.get("industry", ""),
        "market_cap": stock.info.get("marketCap", ""),
        "full_time_employees": stock.info.get("fullTimeEmployees", ""),
        "marketStart": stock.info.get("regularMarketTime", None)  # Time in Unix
        
    }
    stock_info.append(stock_data)

stocks = pd.DataFrame(stock_info)

# Convert marketStart from Unix timestamp to human-readable date if needed
stocks["marketStart"] = pd.to_datetime(stocks["marketStart"], unit="s")

stocks

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=GCsPK2EQY5F

,ticker,name,sector,industry,market_cap,full_time_employees,marketStart
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3508498071552,161000,NaT
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3156068794368,228000,NaT
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2013311926272,179582,NaT
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1938642305024,1525000,NaT
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1426034130944,70799,NaT
...,...,...,...,...,...,...,...
64,SQ,"Block, Inc.",Technology,Software - Infrastructure,43950895104,12985,NaT
65,TEL,TE Connectivity plc,Technology,Electronic Components,44211097600,85000,NaT
66,MSTR,MicroStrategy Incorporated,Technology,Software - Application,43352260608,1839,NaT
67,MPWR,"Monolithic Power Systems, Inc.",Technology,Semiconductors,43079217152,3564,NaT
68,DDOG,"Datadog, Inc.",Technology,Software - Application,40970711040,5200,NaT

In [31]:
#IPO (Initial Public Offering)
tech_tickers_ipo = {
    'AAPL': '1980-12-12',
    'MSFT': '1986-03-13',
    'GOOGL': '2004-08-19',
    'AMZN': '1997-05-15',
    'META': '2012-05-18',  
    'TSLA': '2010-06-29',
    'NVDA': '1999-01-22',
    'INTC': '1971-10-13',
    'ADBE': '1986-08-08',
    'CSCO': '1990-02-16',
    'ORCL': '1986-03-12',
    'CRM': '2004-06-23',
    'IBM': '1911-11-12',
    'AMD': '1972-09-18',
    'NFLX': '2002-05-23',
    'PYPL': '2015-07-20',
    'SQ': '2015-11-19',
    'TWTR': '2013-11-07',
    'SNPS': '2000-01-24',
    'ATVI': '2003-08-09',
    'AVGO': '2016-09-14',
    'NOW': '2012-06-28',
    'QCOM': '1991-07-11',
    'TXN': '1953-01-01',
    'INTU': '1993-03-24',
    'UBER': '2019-05-10',
    'AMAT': '1980-06-19',
    'ANET': '2015-06-27',
    'PANW': '2012-07-20',
    'MU': '1984-03-06',
    'ADP': '1961-10-13',
    'FI': 'NA', 
    'ADI': '2000-08-08',
    'PLTR': '2020-09-30',
    'LRCX': '1996-11-06',
    'KLAC': '1995-08-01',
    'DELL': '2018-12-28',  # IPO tras ser privado
    'APH': '2011-07-06',
    'MSI': '2006-12-01',
    'CRWD': '2019-09-20',
    'MRVL': '2000-11-17',
    'CDNS': '1983-03-29',
    'WDAY': '2012-10-09',
    'FTNT': '2009-08-06',
    'ADSK': '1985-12-12',
    'ROP': '2000-08-10',
    'NXPI': '2012-08-02',
    'TTD': '2016-09-21',
    'APP': 'NA', 
    'PAYX': '1971-08-14',
    'TEAM': '2018-09-25',
    'FIS': '1968-01-08',
    'FICO': '1986-04-04',
    'TEL': '2016-01-05',
    'MSTR': '2006-01-26',
    'MPWR': '2007-11-02',
    'DDOG': '2019-09-19',
}

data = []

for ticker, ipo_date in tech_tickers_ipo.items():
    stock = yf.Ticker(ticker)
    info = stock.info
    data.append({
        "ticker": ticker,
        "name": info.get("shortName", None),
        "sector": info.get("sector", None),
        "industry": info.get("industry", None),
        "market_cap": info.get("marketCap", None),
        "full_time_employees": info.get("fullTimeEmployees", None),
        "ipo_date": ipo_date if ipo_date != "NA" else None  # Use the manually defined IPO date
    })


df = pd.DataFrame(data)

df['ipo_date'] = pd.to_datetime(df['ipo_date'])

# Añadir la columna de Extraction_Timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
df["extraction_timestamp"] = extraction_time
df["extraction_timestamp"] = pd.to_datetime(df["extraction_timestamp"])

file_name = f"stocks_{datetime.now().strftime('%Y%m%d')}.csv"
df.to_csv(file_name)

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=GCsPK2EQY5F

In [32]:
df.head(10)

,ticker,name,sector,industry,market_cap,full_time_employees,ipo_date,extraction_timestamp
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3.508498e+12,161000.0,1980-12-12,2024-10-24 11:46:26
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3.156069e+12,228000.0,1986-03-13,2024-10-24 11:46:26
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2.013312e+12,179582.0,2004-08-19,2024-10-24 11:46:26
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1.938642e+12,1525000.0,1997-05-15,2024-10-24 11:46:26
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1.426034e+12,70799.0,2012-05-18,2024-10-24 11:46:26
5,TSLA,"Tesla, Inc.",Consumer Cyclical,Auto Manufacturers,6.825348e+11,140473.0,2010-06-29,2024-10-24 11:46:26
6,NVDA,NVIDIA Corporation,Technology,Semiconductors,3.423407e+12,29600.0,1999-01-22,2024-10-24 11:46:26
7,INTC,Intel Corporation,Technology,Semiconductors,9.398648e+10,124800.0,1971-10-13,2024-10-24 11:46:26
8,ADBE,Adobe Inc.,Technology,Software - Infrastructure,2.135102e+11,29945.0,1986-08-08,2024-10-24 11:46:26
9,CSCO,"Cisco Systems, Inc.",Technology,Communication Equipment,2.243332e+11,90400.0,1990-02-16,2024-10-24 11:46:26