In [1]:
"""
Extracción de ficheros .csv de Yfinance, cada comentario se indica qué tipo de información contienen
"""

'\nExtracción de ficheros .csv de Yfinance, cada comentario se indica qué tipo de información contienen\n'

In [2]:
#pip install yfinance
#pip install finplot
#pip install matplotlib

In [3]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [4]:
#exploración de los datos que existen de una acción
ticker = "NVDA"
stock = yf.Ticker(ticker)
stock_info = stock.info

for line in stock_info.items():
    print("-", line)

- ('address1', '2788 San Tomas Expressway')
- ('city', 'Santa Clara')
- ('state', 'CA')
- ('zip', '95051')
- ('country', 'United States')
- ('phone', '408 486 2000')
- ('website', 'https://www.nvidia.com')
- ('industry', 'Semiconductors')
- ('industryKey', 'semiconductors')
- ('industryDisp', 'Semiconductors')
- ('sector', 'Technology')
- ('sectorKey', 'technology')
- ('sectorDisp', 'Technology')
- ('longBusinessSummary', "NVIDIA Corporation provides graphics and compute and networking solutions in the United States, Taiwan, China, Hong Kong, and internationally. The Graphics segment offers GeForce GPUs for gaming and PCs, the GeForce NOW game streaming service and related infrastructure, and solutions for gaming platforms; Quadro/NVIDIA RTX GPUs for enterprise workstation graphics; virtual GPU or vGPU software for cloud-based visual and virtual computing; automotive platforms for infotainment systems; and Omniverse software for building and operating metaverse and 3D internet applications. The Compute & Networking segment comprises Data Center computing platforms and end-to-end networking platforms, including Quantum for InfiniBand and Spectrum for Ethernet; NVIDIA DRIVE automated-driving platform and automotive development agreements; Jetson robotics and other embedded platforms; NVIDIA AI Enterprise and other software; and DGX Cloud software and services. The company's products are used in gaming, professional visualization, data center, and automotive markets. It sells its products to original equipment manufacturers, original device manufacturers, system integrators and distributors, independent software vendors, cloud service providers, consumer internet companies, add-in board manufacturers, distributors, automotive manufacturers and tier-1 automotive suppliers, and other ecosystem participants. NVIDIA Corporation was incorporated in 1993 and is headquartered in Santa Clara, California.")
- ('fullTimeEmployees', 29600)
- ('companyOfficers', [{'maxAge': 1, 'name': 'Mr. Jen-Hsun  Huang', 'age': 60, 'title': 'Co-Founder, CEO, President & Director', 'yearBorn': 1963, 'fiscalYear': 2024, 'totalPay': 7491487, 'exercisedValue': 217327152, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Colette M. Kress', 'age': 56, 'title': 'Executive VP & CFO', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1510765, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Debora  Shoquist', 'age': 68, 'title': 'Executive Vice President of Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 1371266, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Timothy S. Teter', 'age': 56, 'title': 'Executive VP, General Counsel & Secretary', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1360939, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Ajay K. Puri', 'age': 68, 'title': 'Executive Vice President of Worldwide Field Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 2295097, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Chris A. Malachowsky', 'title': 'Co-Founder', 'fiscalYear': 2024, 'totalPay': 320000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Donald F. Robertson Jr.', 'age': 54, 'title': 'VP & Chief Accounting Officer', 'yearBorn': 1969, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Prof. William J. Dally Ph.D.', 'age': 62, 'title': 'Chief Scientist & Senior VP of Research', 'yearBorn': 1961, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Mylene  Mangalindan', 'title': 'VP of Corporate Communications', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Tommy  Lee', 'title': 'Senior Vice President of Systems Engineering & Application', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}])
- ('auditRisk', 7)
- ('boardRisk', 10)
- ('compensationRisk', 1)
- ('shareHolderRightsRisk', 6)
- ('overallRisk', 7)
- ('governanceEpochDate', 1730073600)
- ('compensationAsOfEpochDate', 1735603200)
- ('irWebsite', 'http://phx.corporate-ir.net/phoenix.zhtml?c=116466&p=irol-IRHome')
- ('maxAge', 86400)
- ('priceHint', 2)
- ('previousClose', 141.25)
- ('open', 139.44)
- ('dayLow', 136.81)
- ('dayHigh', 140.33)
- ('regularMarketPreviousClose', 141.25)
- ('regularMarketOpen', 139.44)
- ('regularMarketDayLow', 136.81)
- ('regularMarketDayHigh', 140.33)
- ('dividendRate', 0.04)
- ('dividendYield', 0.00029999999)
- ('exDividendDate', 1726099200)
- ('payoutRatio', 0.010299999)
- ('fiveYearAvgDividendYield', 0.1)
- ('beta', 1.669)
- ('trailingPE', 65.41549)
- ('forwardPE', 34.318966)
- ('volume', 173164533)
- ('regularMarketVolume', 173164533)
- ('averageVolume', 308335656)
- ('averageVolume10days', 214542320)
- ('averageDailyVolume10Day', 214542320)
- ('bid', 132.45)
- ('ask', 140.0)
- ('bidSize', 100)
- ('askSize', 200)
- ('marketCap', 3417887735808)
- ('fiftyTwoWeekLow', 42.894)
- ('fiftyTwoWeekHigh', 144.42)
- ('priceToSalesTrailing12Months', 35.489502)
- ('fiftyDayAverage', 125.1354)
- ('twoHundredDayAverage', 103.94463)
- ('trailingAnnualDividendRate', 0.022)
- ('trailingAnnualDividendYield', 0.0001557522)
- ('currency', 'USD')
- ('enterpriseValue', 3393102544896)
- ('profitMargins', 0.55041003)
- ('floatShares', 23541441000)
- ('sharesOutstanding', 24529999872)
- ('sharesShort', 255835181)
- ('sharesShortPriorMonth', 275330404)
- ('sharesShortPreviousMonthDate', 1726185600)
- ('dateShortInterest', 1728950400)
- ('sharesPercentSharesOut', 0.0104)
- ('heldPercentInsiders', 0.042940002)
- ('heldPercentInstitutions', 0.66841006)
- ('shortRatio', 0.93)
- ('shortPercentOfFloat', 0.0109)
- ('impliedSharesOutstanding', 24900100096)
- ('bookValue', 2.368)
- ('priceToBook', 58.840797)
- ('lastFiscalYearEnd', 1706400000)
- ('nextFiscalYearEnd', 1738022400)
- ('mostRecentQuarter', 1722124800)
- ('earningsQuarterlyGrowth', 1.682)
- ('netIncomeToCommon', 53007998976)
- ('trailingEps', 2.13)
- ('forwardEps', 4.06)
- ('pegRatio', 0.85)
- ('lastSplitFactor', '10:1')
- ('lastSplitDate', 1717977600)
- ('enterpriseToRevenue', 35.232)
- ('enterpriseToEbitda', 55.457)
- ('52WeekChange', 2.2027767)
- ('SandP52WeekChange', 0.3464489)
- ('lastDividendValue', 0.01)
- ('lastDividendDate', 1726099200)
- ('exchange', 'NMS')
- ('quoteType', 'EQUITY')
- ('symbol', 'NVDA')
- ('underlyingSymbol', 'NVDA')
- ('shortName', 'NVIDIA Corporation')
- ('longName', 'NVIDIA Corporation')
- ('firstTradeDateEpochUtc', 917015400)
- ('timeZoneFullName', 'America/New_York')
- ('timeZoneShortName', 'EDT')
- ('uuid', '7f5f6a07-b148-30f4-98a2-2caa3df2aed0')
- ('messageBoardId', 'finmb_32307')
- ('gmtOffSetMilliseconds', -14400000)
- ('currentPrice', 139.335)
- ('targetHighPrice', 202.79)
- ('targetLowPrice', 75.4)
- ('targetMeanPrice', 149.19)
- ('targetMedianPrice', 150.0)
- ('recommendationMean', 1.8)
- ('recommendationKey', 'buy')
- ('numberOfAnalystOpinions', 50)
- ('totalCash', 34800001024)
- ('totalCashPerShare', 1.419)
- ('ebitda', 61184000000)
- ('totalDebt', 10014999552)
- ('quickRatio', 3.503)
- ('currentRatio', 4.269)
- ('totalRevenue', 96307003392)
- ('debtToEquity', 17.221)
- ('revenuePerShare', 3.91)
- ('returnOnAssets', 0.55258)
- ('returnOnEquity', 1.23767)
- ('freeCashflow', 33725874176)
- ('operatingCashflow', 48663998464)
- ('earningsGrowth', 1.68)
- ('revenueGrowth', 1.224)
- ('grossMargins', 0.75975996)
- ('ebitdaMargins', 0.6353)
- ('operatingMargins', 0.62057)
- ('financialCurrency', 'USD')
- ('trailingPegRatio', 1.0754)

In [5]:
#identificación de las empresas del sector de tecnológico
sector = yf.Sector("technology").top_companies
sector = sector.reset_index().rename(columns={"index": "symbol"})
tech_tickers_list = sector["symbol"].tolist()

print(tech_tickers_list)

['AAPL', 'NVDA', 'MSFT', 'AVGO', 'ORCL', 'CRM', 'AMD', 'ACN', 'CSCO', 'ADBE', 'NOW', 'TXN', 'IBM', 'QCOM', 'INTU', 'UBER', 'AMAT', 'ANET', 'ADP', 'PANW', 'MU', 'FI', 'ADI', 'LRCX', 'PLTR', 'INTC', 'KLAC', 'DELL', 'APH', 'SNPS', 'CDNS', 'MSI', 'CRWD', 'MRVL', 'NXPI', 'ADSK', 'WDAY', 'FTNT', 'TTD', 'ROP', 'APP', 'PAYX', 'TEAM', 'FICO', 'MSTR', 'FIS', 'TEL', 'SQ', 'MPWR', 'DDOG']

In [6]:
#lista de tickers del sector tecnológico
def input_tickers():
    print("Lista de tickers tecnológicos disponibles:")
    for i, ticker in enumerate(tech_tickers_list, start=1):
        print(f"{i}. {ticker}")

    # Solicitar al usuario los números de los tickers deseados
    selected_numbers = input("Introduce los números de los tickers separados por comas (ej. 1, 3, 5): ")
    
    # Convertir la entrada en una lista de tickers
    selected_tickers = [tech_tickers_list[int(num.strip()) - 1] for num in selected_numbers.split(",") if num.strip().isdigit()]
    
    return selected_tickers

In [7]:
#solicitar tickers al usuario
tickers = input_tickers()

Lista de tickers tecnológicos disponibles:
1. AAPL
2. NVDA
3. MSFT
4. AVGO
5. ORCL
6. CRM
7. AMD
8. ACN
9. CSCO
10. ADBE
11. NOW
12. TXN
13. IBM
14. QCOM
15. INTU
16. UBER
17. AMAT
18. ANET
19. ADP
20. PANW
21. MU
22. FI
23. ADI
24. LRCX
25. PLTR
26. INTC
27. KLAC
28. DELL
29. APH
30. SNPS
31. CDNS
32. MSI
33. CRWD
34. MRVL
35. NXPI
36. ADSK
37. WDAY
38. FTNT
39. TTD
40. ROP
41. APP
42. PAYX
43. TEAM
44. FICO
45. MSTR
46. FIS
47. TEL
48. SQ
49. MPWR
50. DDOG

Introduce los números de los tickers separados por comas (ej. 1, 3, 5):  1,2,3,4,5

In [8]:
#ver tickers seleccionados
tickers

['AAPL', 'NVDA', 'MSFT', 'AVGO', 'ORCL']

In [9]:
def get_historical_prices(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        historical_prices = yf.download(ticker)
        historical_prices = historical_prices.reset_index()
        
        #añadir valor del ticker para todas las filas
        historical_prices["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        historical_prices["extraction_timestamp"] = pd.to_datetime(extraction_time)
        
        #renombrar las columnas
        historical_prices.columns = ["date", "open", "high", "low", "close", "adj_close", "volume", "ticker", "extraction_timestamp"]
        
        #transformación de datos
        historical_prices["date"] = pd.to_datetime(historical_prices["date"]).dt.date
        historical_prices["open"] = historical_prices["open"].astype(float)
        historical_prices["high"] = historical_prices["high"].astype(float)
        historical_prices["low"] = historical_prices["low"].astype(float)
        historical_prices["close"] = historical_prices["close"].astype(float)
        historical_prices["adj_close"] = historical_prices["adj_close"].astype(float)
        historical_prices["volume"] = historical_prices["volume"].astype("Int64") 
        historical_prices["ticker"] = historical_prices["ticker"].astype(str)
        
        #añadir df a la lista
        all_data.append(historical_prices)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción 
    file_name = f"historical_prices_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [10]:
df_historical_prices = get_historical_prices(tickers)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
df_historical_prices

,date,open,high,low,close,adj_close,volume,ticker,extraction_timestamp
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,AAPL,2024-10-31 11:36:57
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,AAPL,2024-10-31 11:36:57
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,AAPL,2024-10-31 11:36:57
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,AAPL,2024-10-31 11:36:57
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,AAPL,2024-10-31 11:36:57
...,...,...,...,...,...,...,...,...,...
40854,2024-10-24,173.320007,174.949997,172.910004,174.380005,174.380005,3488000,ORCL,2024-10-31 11:36:58
40855,2024-10-25,174.779999,176.289993,173.100006,173.520004,173.520004,3674700,ORCL,2024-10-31 11:36:58
40856,2024-10-28,174.050003,174.169998,172.139999,172.419998,172.419998,4330000,ORCL,2024-10-31 11:36:58
40857,2024-10-29,172.289993,174.020004,172.289993,173.429993,173.429993,4122900,ORCL,2024-10-31 11:36:58
40858,2024-10-30,173.979996,176.160004,172.789993,174.559998,174.559998,5817300,ORCL,2024-10-31 11:36:58

In [12]:
#datos de cuándo y cuánto ha pagado la empresa en dividendos

def get_dividends(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        dividends = yf.Ticker(ticker).dividends
        dividends = dividends.reset_index()
        
        #añadir valor del ticker para todas las filas
        dividends["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        dividends = pd.DataFrame(dividends)
        dividends["Extraction_Timestamp"] = extraction_time
        dividends["Extraction_Timestamp"] = pd.to_datetime(dividends["Extraction_Timestamp"])
        
        #renombrar las columnas
        dividends.columns = ["date", "dividends", "ticker", "extraction_timestamp"]
    
        #añadir df a la lista
        all_data.append(dividends)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"dividends_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [13]:
df_dividends = get_dividends(tickers)

In [14]:
df_dividends

                         date  dividends ticker extraction_timestamp
0   1987-05-11 00:00:00-04:00   0.000536   AAPL  2024-10-31 11:36:59
1   1987-08-10 00:00:00-04:00   0.000536   AAPL  2024-10-31 11:36:59
2   1987-11-17 00:00:00-05:00   0.000714   AAPL  2024-10-31 11:36:59
3   1988-02-12 00:00:00-05:00   0.000714   AAPL  2024-10-31 11:36:59
4   1988-05-16 00:00:00-04:00   0.000714   AAPL  2024-10-31 11:36:59
..                        ...        ...    ...                  ...
328 2023-10-11 00:00:00-04:00   0.400000   ORCL  2024-10-31 11:37:00
329 2024-01-10 00:00:00-05:00   0.400000   ORCL  2024-10-31 11:37:00
330 2024-04-09 00:00:00-04:00   0.400000   ORCL  2024-10-31 11:37:00
331 2024-07-11 00:00:00-04:00   0.400000   ORCL  2024-10-31 11:37:00
332 2024-10-10 00:00:00-04:00   0.400000   ORCL  2024-10-31 11:37:00

[333 rows x 4 columns]

In [15]:
#datos de los splits, afectan a cómo se interpreta el precio histórico de las acciones

def get_splits(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        splits = yf.Ticker(ticker).splits
        splits = splits.reset_index()
        
        #añadir valor del ticker para todas las filas
        splits["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        splits = pd.DataFrame(splits)
        splits["Extraction_Timestamp"] = extraction_time
        splits["Extraction_Timestamp"] = pd.to_datetime(splits["Extraction_Timestamp"])
            
        #renombrar las columnas
        splits.columns = ["date", "splits", "ticker", "extraction_timestamp"]
    
        #añadir df a la lista
        all_data.append(splits)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"splits_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [16]:
df_splits = get_splits(tickers)

In [17]:
df_splits

                        date  splits ticker extraction_timestamp
0  1987-06-16 00:00:00-04:00     2.0   AAPL  2024-10-31 11:37:01
1  2000-06-21 00:00:00-04:00     2.0   AAPL  2024-10-31 11:37:01
2  2005-02-28 00:00:00-05:00     2.0   AAPL  2024-10-31 11:37:01
3  2014-06-09 00:00:00-04:00     7.0   AAPL  2024-10-31 11:37:01
4  2020-08-31 00:00:00-04:00     4.0   AAPL  2024-10-31 11:37:01
5  2000-06-27 00:00:00-04:00     2.0   NVDA  2024-10-31 11:37:01
6  2001-09-10 00:00:00-04:00     2.0   NVDA  2024-10-31 11:37:01
7  2006-04-07 00:00:00-04:00     2.0   NVDA  2024-10-31 11:37:01
8  2007-09-11 00:00:00-04:00     1.5   NVDA  2024-10-31 11:37:01
9  2021-07-20 00:00:00-04:00     4.0   NVDA  2024-10-31 11:37:01
10 2024-06-10 00:00:00-04:00    10.0   NVDA  2024-10-31 11:37:01
11 1987-09-21 00:00:00-04:00     2.0   MSFT  2024-10-31 11:37:02
12 1990-04-16 00:00:00-04:00     2.0   MSFT  2024-10-31 11:37:02
13 1991-06-27 00:00:00-04:00     1.5   MSFT  2024-10-31 11:37:02
14 1992-06-15 00:00:00-04:00     1.5   MSFT  2024-10-31 11:37:02
15 1994-05-23 00:00:00-04:00     2.0   MSFT  2024-10-31 11:37:02
16 1996-12-09 00:00:00-05:00     2.0   MSFT  2024-10-31 11:37:02
17 1998-02-23 00:00:00-05:00     2.0   MSFT  2024-10-31 11:37:02
18 1999-03-29 00:00:00-05:00     2.0   MSFT  2024-10-31 11:37:02
19 2003-02-18 00:00:00-05:00     2.0   MSFT  2024-10-31 11:37:02
20 2024-07-15 00:00:00-04:00    10.0   AVGO  2024-10-31 11:37:02
21 1987-03-25 00:00:00-05:00     2.0   ORCL  2024-10-31 11:37:02
22 1987-12-21 00:00:00-05:00     2.0   ORCL  2024-10-31 11:37:02
23 1989-07-03 00:00:00-04:00     2.0   ORCL  2024-10-31 11:37:02
24 1993-11-09 00:00:00-05:00     2.0   ORCL  2024-10-31 11:37:02
25 1995-02-23 00:00:00-05:00     1.5   ORCL  2024-10-31 11:37:02
26 1996-04-17 00:00:00-04:00     1.5   ORCL  2024-10-31 11:37:02
27 1997-08-18 00:00:00-04:00     1.5   ORCL  2024-10-31 11:37:02
28 1999-03-01 00:00:00-05:00     1.5   ORCL  2024-10-31 11:37:02
29 2000-01-19 00:00:00-05:00     2.0   ORCL  2024-10-31 11:37:02
30 2000-10-13 00:00:00-04:00     2.0   ORCL  2024-10-31 11:37:02

In [18]:
#datos de la estructura financiera de la empresa

def get_balance_sheet(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        try:
            balance_sheet = yf.Ticker(ticker).balance_sheet.T
            balance_sheet = balance_sheet.reset_index()
            balance_sheet = balance_sheet.rename(columns={'index': 'Date'})
            
            #añadir valor del ticker para todas las filas
            balance_sheet["ticker"] = ticker
            
            #añadir timestamp
            extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
            balance_sheet["extraction_timestamp"] = pd.to_datetime(extraction_time)
            
            #filtrado de columnas
            columns_needed = {
                "Date": "date",
                "ticker": "ticker",
                "Ordinary Shares Number": "ordinary_shares_number",
                "Net Debt": "net_debt",
                "Total Assets": "total_assets",
                "Current Liabilities": "current_liabilities",
                "Stockholders Equity": "stockholders_equity",
                "extraction_timestamp": "extraction_timestamp"
            }
            balance_sheet_filtered = balance_sheet[[col for col in columns_needed if col in balance_sheet.columns]]
            
            #renombrar las columnas
            balance_sheet_filtered = balance_sheet_filtered.rename(columns=columns_needed)
            
            #añadir df a la lista
            all_data.append(balance_sheet_filtered)
        
        except exception as e: #por si algun ticket da error
            print(f"Error en el {ticker}: {e}")
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"balance_sheet_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [19]:
df_balance_sheet = get_balance_sheet(tickers)

In [20]:
df_balance_sheet

,date,ticker,ordinary_shares_number,net_debt,total_assets,current_liabilities,stockholders_equity,extraction_timestamp
0,2023-09-30,AAPL,15550061000.0,81123000000.0,352583000000.0,145308000000.0,62146000000.0,2024-10-31 11:37:03
1,2022-09-30,AAPL,15943425000.0,96423000000.0,352755000000.0,153982000000.0,50672000000.0,2024-10-31 11:37:03
2,2021-09-30,AAPL,16426786000.0,89779000000.0,351002000000.0,125481000000.0,63090000000.0,2024-10-31 11:37:03
3,2020-09-30,AAPL,16976763000.0,74420000000.0,323888000000.0,105392000000.0,65339000000.0,2024-10-31 11:37:03
4,2024-01-31,NVDA,24640000000.0,2429000000.0,65728000000.0,10631000000.0,42978000000.0,2024-10-31 11:37:03
5,2023-01-31,NVDA,24661365720.0,7564000000.0,41182000000.0,6563000000.0,22101000000.0,2024-10-31 11:37:03
6,2022-01-31,NVDA,25060000000.0,8956000000.0,44187000000.0,4335000000.0,26612000000.0,2024-10-31 11:37:03
7,2021-01-31,NVDA,24800000000.0,6116000000.0,28791000000.0,3925000000.0,16893000000.0,2024-10-31 11:37:03
8,2020-01-31,NVDA,NaN,NaN,NaN,NaN,NaN,2024-10-31 11:37:03
9,2024-06-30,MSFT,7434000000.0,33315000000.0,512163000000.0,125286000000.0,268477000000.0,2024-10-31 11:37:03
10,2023-06-30,MSFT,7432000000.0,12533000000.0,411976000000.0,104149000000.0,206223000000.0,2024-10-31 11:37:03
11,2022-06-30,MSFT,7464000000.0,35850000000.0,364840000000.0,95082000000.0,166542000000.0,2024-10-31 11:37:03
12,2021-06-30,MSFT,7519000000.0,43922000000.0,333779000000.0,88657000000.0,141988000000.0,2024-10-31 11:37:03
13,2023-10-31,AVGO,4140000000.0,24991000000.0,72861000000.0,7405000000.0,23988000000.0,2024-10-31 11:37:03
14,2022-10-31,AVGO,4180000000.0,27040000000.0,73249000000.0,7052000000.0,22709000000.0,2024-10-31 11:37:03
15,2021-10-31,AVGO,4130000000.0,27502000000.0,75570000000.0,6281000000.0,24989000000.0,2024-10-31 11:37:03
16,2020-10-31,AVGO,4070000000.0,33444000000.0,75933000000.0,6371000000.0,23901000000.0,2024-10-31 11:37:03
17,2024-05-31,ORCL,2755000000.0,76415000000.0,140976000000.0,31544000000.0,8704000000.0,2024-10-31 11:37:03
18,2023-05-31,ORCL,2713000000.0,80716000000.0,134384000000.0,23090000000.0,1073000000.0,2024-10-31 11:37:03
19,2022-05-31,ORCL,2665000000.0,54499000000.0,109297000000.0,19511000000.0,-6220000000.0,2024-10-31 11:37:03
20,2021-05-31,ORCL,2814000000.0,54147000000.0,131107000000.0,24164000000.0,5238000000.0,2024-10-31 11:37:03
21,2020-05-31,ORCL,NaN,NaN,NaN,NaN,NaN,2024-10-31 11:37:03

In [21]:
#estado de resultados, para entender la rentabilidad de la empresa a lo largo del tiempo

def get_income_statement(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        income_statement = yf.Ticker(ticker).financials.T
        income_statement = income_statement.reset_index()
        income_statement = income_statement.rename(columns={'index': 'Date'})
        
        #añadir valor del ticker para todas las filas
        income_statement["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        income_statement["Extraction_Timestamp"] = extraction_time
        income_statement["Extraction_Timestamp"] = pd.to_datetime(income_statement["Extraction_Timestamp"])
                
        #filtrar columnas
        income_statement_filtered = income_statement[["Date", "ticker", "EBITDA", "Total Revenue", "Net Income", "Operating Income", "Diluted EPS", "Extraction_Timestamp"]]
        
        #renombrar las columnas
        income_statement_filtered.columns = ["date", "ticker", "ebitda", "total_revenue", "net_income", "operating_income", "diluted_eps", "extraction_timestamp"]
    
        #añadir df a la lista
        all_data.append(income_statement_filtered)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"income_statement_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [22]:
df_income_statement = get_income_statement(tickers)

In [23]:
df_income_statement

,date,ticker,ebitda,total_revenue,net_income,operating_income,diluted_eps,extraction_timestamp
0,2023-09-30,AAPL,129188000000.0,383285000000.0,96995000000.0,114301000000.0,6.13,2024-10-31 11:37:03
1,2022-09-30,AAPL,133138000000.0,394328000000.0,99803000000.0,119437000000.0,6.11,2024-10-31 11:37:03
2,2021-09-30,AAPL,123136000000.0,365817000000.0,94680000000.0,108949000000.0,5.61,2024-10-31 11:37:03
3,2020-09-30,AAPL,81020000000.0,274515000000.0,57411000000.0,66288000000.0,3.28,2024-10-31 11:37:03
4,2024-01-31,NVDA,35583000000.0,60922000000.0,29760000000.0,32972000000.0,1.193,2024-10-31 11:37:04
5,2023-01-31,NVDA,5987000000.0,26974000000.0,4368000000.0,5577000000.0,0.174,2024-10-31 11:37:04
6,2022-01-31,NVDA,11351000000.0,26914000000.0,9752000000.0,10041000000.0,0.385,2024-10-31 11:37:04
7,2021-01-31,NVDA,5691000000.0,16675000000.0,4332000000.0,4532000000.0,0.1725,2024-10-31 11:37:04
8,2024-06-30,MSFT,133009000000.0,245122000000.0,88136000000.0,109433000000.0,11.8,2024-10-31 11:37:04
9,2023-06-30,MSFT,105140000000.0,211915000000.0,72361000000.0,88523000000.0,9.68,2024-10-31 11:37:04
10,2022-06-30,MSFT,100239000000.0,198270000000.0,72738000000.0,83383000000.0,9.65,2024-10-31 11:37:04
11,2021-06-30,MSFT,85134000000.0,168088000000.0,61271000000.0,69916000000.0,8.05,2024-10-31 11:37:04
12,2023-10-31,AVGO,20554000000.0,35819000000.0,14082000000.0,16451000000.0,3.298,2024-10-31 11:37:04
13,2022-10-31,AVGO,19155000000.0,33203000000.0,11495000000.0,14282000000.0,2.646368,2024-10-31 11:37:04
14,2021-10-31,AVGO,14691000000.0,27450000000.0,6736000000.0,8667000000.0,1.49625,2024-10-31 11:37:04
15,2020-10-31,AVGO,11125000000.0,23888000000.0,2960000000.0,4212000000.0,0.631418,2024-10-31 11:37:04
16,2024-05-31,ORCL,21394000000.0,52961000000.0,10467000000.0,16071000000.0,3.71,2024-10-31 11:37:04
17,2023-05-31,ORCL,18739000000.0,49954000000.0,8503000000.0,13773000000.0,3.07,2024-10-31 11:37:04
18,2022-05-31,ORCL,13526000000.0,42440000000.0,6717000000.0,15830000000.0,2.41,2024-10-31 11:37:04
19,2021-05-31,ORCL,18411000000.0,40479000000.0,13746000000.0,15782000000.0,4.55,2024-10-31 11:37:04
20,2020-05-31,ORCL,NaN,NaN,NaN,NaN,NaN,2024-10-31 11:37:04

In [24]:
#muestra cómo se genera y usa el efectivo, sirve para medir su salud financiera

def get_cashflow(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        cashflow = yf.Ticker(ticker).cashflow.T
        cashflow = cashflow.reset_index()
        cashflow = cashflow.rename(columns={'index': 'Date'})
        
        #añadir valor del ticker para todas las filas
        cashflow["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        cashflow["Extraction_Timestamp"] = extraction_time
        cashflow["Extraction_Timestamp"] = pd.to_datetime(cashflow["Extraction_Timestamp"])
        
        #filtrar columnas
        cashflow_filtered = cashflow[["Date", "ticker", "Operating Cash Flow", "Capital Expenditure", "Free Cash Flow", "Extraction_Timestamp"]]
        
        #renombrar las columnas
        cashflow_filtered.columns = ["date", "ticker", "operating_cash_flow", "capital_expenditure", "free_cash_flow", "extraction_timestamp"]
           
        #añadir df a la lista
        all_data.append(cashflow_filtered)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"cashflow_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [25]:
df_cashflow = get_cashflow(tickers)

In [26]:
df_cashflow

,date,ticker,operating_cash_flow,capital_expenditure,free_cash_flow,extraction_timestamp
0,2023-09-30,AAPL,110543000000.0,-10959000000.0,99584000000.0,2024-10-31 11:37:04
1,2022-09-30,AAPL,122151000000.0,-10708000000.0,111443000000.0,2024-10-31 11:37:04
2,2021-09-30,AAPL,104038000000.0,-11085000000.0,92953000000.0,2024-10-31 11:37:04
3,2020-09-30,AAPL,80674000000.0,-7309000000.0,73365000000.0,2024-10-31 11:37:04
4,2024-01-31,NVDA,28090000000.0,-1069000000.0,27021000000.0,2024-10-31 11:37:04
5,2023-01-31,NVDA,5641000000.0,-1833000000.0,3808000000.0,2024-10-31 11:37:04
6,2022-01-31,NVDA,9108000000.0,-976000000.0,8132000000.0,2024-10-31 11:37:04
7,2021-01-31,NVDA,5822000000.0,-1128000000.0,4694000000.0,2024-10-31 11:37:04
8,2020-01-31,NVDA,NaN,NaN,NaN,2024-10-31 11:37:04
9,2024-06-30,MSFT,118548000000.0,-44477000000.0,74071000000.0,2024-10-31 11:37:05
10,2023-06-30,MSFT,87582000000.0,-28107000000.0,59475000000.0,2024-10-31 11:37:05
11,2022-06-30,MSFT,89035000000.0,-23886000000.0,65149000000.0,2024-10-31 11:37:05
12,2021-06-30,MSFT,76740000000.0,-20622000000.0,56118000000.0,2024-10-31 11:37:05
13,2020-06-30,MSFT,NaN,NaN,NaN,2024-10-31 11:37:05
14,2023-10-31,AVGO,18085000000.0,-452000000.0,17633000000.0,2024-10-31 11:37:05
15,2022-10-31,AVGO,16736000000.0,-424000000.0,16312000000.0,2024-10-31 11:37:05
16,2021-10-31,AVGO,13764000000.0,-443000000.0,13321000000.0,2024-10-31 11:37:05
17,2020-10-31,AVGO,12061000000.0,-463000000.0,11598000000.0,2024-10-31 11:37:05
18,2024-05-31,ORCL,18673000000.0,-6866000000.0,11807000000.0,2024-10-31 11:37:05
19,2023-05-31,ORCL,17165000000.0,-8695000000.0,8470000000.0,2024-10-31 11:37:05
20,2022-05-31,ORCL,9539000000.0,-4511000000.0,5028000000.0,2024-10-31 11:37:05
21,2021-05-31,ORCL,15887000000.0,-2135000000.0,13752000000.0,2024-10-31 11:37:05
22,2020-05-31,ORCL,NaN,NaN,NaN,2024-10-31 11:37:05

In [27]:
#identificación de las instituciones que tienen participaciones

def get_holders(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        holders = yf.Ticker(ticker).institutional_holders
        
        #añadir valor del ticker para todas las filas
        holders["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        holders["Extraction_Timestamp"] = extraction_time
        holders["Extraction_Timestamp"] = pd.to_datetime(holders["Extraction_Timestamp"])
    
        #renombrar las columnas
        holders.columns = ["date", "holder", "pct_held", "shares", "value", "ticker", "extraction_timestamp"]
        
        #añadir df a la lista
        all_data.append(holders)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"holders_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [28]:
df_holders = get_holders(tickers)

In [29]:
df_holders

,date,holder,pct_held,shares,value,ticker,extraction_timestamp
0,2023-06-30,Vanguard Group Inc,0.0834,1303688506,252876459508,AAPL,2024-10-31 11:37:05
1,2023-06-30,Blackrock Inc.,0.0665,1039640859,201659137420,AAPL,2024-10-31 11:37:05
2,2023-06-30,"Berkshire Hathaway, Inc",0.0586,915560382,177591247296,AAPL,2024-10-31 11:37:05
3,2023-06-30,State Street Corporation,0.0370,578897858,112288817516,AAPL,2024-10-31 11:37:05
4,2023-06-30,"FMR, LLC",0.0196,307066638,59561715772,AAPL,2024-10-31 11:37:05
5,2023-06-30,"Geode Capital Management, LLC",0.0186,291538165,56549657865,AAPL,2024-10-31 11:37:05
6,2023-06-30,Price (T.Rowe) Associates Inc,0.0145,226650943,43963483413,AAPL,2024-10-31 11:37:05
7,2023-06-30,Morgan Stanley,0.0131,204714950,39708558851,AAPL,2024-10-31 11:37:05
8,2022-12-31,Norges Bank Investment Management,0.0107,167374278,21746939940,AAPL,2024-10-31 11:37:05
9,2023-06-30,Northern Trust Corporation,0.0105,164536073,31915062079,AAPL,2024-10-31 11:37:05
10,2024-03-31,Vanguard Group Inc,0.8672,2133356260,192761538228,NVDA,2024-10-31 11:37:05
11,2024-03-31,Blackrock Inc.,0.7408,1822389250,164663803073,NVDA,2024-10-31 11:37:05
12,2024-03-31,"FMR, LLC",0.4679,1151036980,104003097364,NVDA,2024-10-31 11:37:05
13,2024-03-31,State Street Corporation,0.3678,904894170,81762617624,NVDA,2024-10-31 11:37:05
14,2024-03-31,"Geode Capital Management, LLC",0.2134,524942990,47431748804,NVDA,2024-10-31 11:37:05
15,2024-03-31,Price (T.Rowe) Associates Inc,0.1876,461499100,41699212679,NVDA,2024-10-31 11:37:05
16,2024-03-31,JP Morgan Chase & Company,0.1543,379614540,34300451376,NVDA,2024-10-31 11:37:05
17,2024-03-31,Morgan Stanley,0.1377,338760640,30609056387,NVDA,2024-10-31 11:37:05
18,2023-12-31,Norges Bank Investment Management,0.1199,294947080,14606369295,NVDA,2024-10-31 11:37:05
19,2024-03-31,Northern Trust Corporation,0.0986,242517530,21912913940,NVDA,2024-10-31 11:37:05
20,2023-06-30,Vanguard Group Inc,0.0879,653247546,222456919314,MSFT,2024-10-31 11:37:05
21,2023-06-30,Blackrock Inc.,0.0722,536245027,182612881494,MSFT,2024-10-31 11:37:05
22,2023-06-30,State Street Corporation,0.0395,293614078,99987338122,MSFT,2024-10-31 11:37:05
23,2023-06-30,"FMR, LLC",0.0283,210111250,71551285075,MSFT,2024-10-31 11:37:05
24,2023-06-30,Price (T.Rowe) Associates Inc,0.0215,159904219,54453782738,MSFT,2024-10-31 11:37:05
25,2023-06-30,"Geode Capital Management, LLC",0.0199,148129470,50444009713,MSFT,2024-10-31 11:37:05
26,2023-06-30,Morgan Stanley,0.0166,123498322,42056118573,MSFT,2024-10-31 11:37:05
27,2023-06-30,JP Morgan Chase & Company,0.0152,113024837,38489477991,MSFT,2024-10-31 11:37:05
28,2022-12-31,Norges Bank Investment Management,0.0116,86316926,20700525193,MSFT,2024-10-31 11:37:05
29,2023-06-30,Capital World Investors,0.0115,85507261,29118642660,MSFT,2024-10-31 11:37:05
30,2023-06-30,Vanguard Group Inc,0.0982,40531455,35158200010,AVGO,2024-10-31 11:37:05
31,2023-06-30,Blackrock Inc.,0.0768,31681688,27481646621,AVGO,2024-10-31 11:37:05
32,2023-06-30,Capital World Investors,0.0674,27822521,24134089391,AVGO,2024-10-31 11:37:05
33,2023-06-30,Capital International Investors,0.0555,22910715,19873441512,AVGO,2024-10-31 11:37:05
34,2023-06-30,Capital Research Global Investors,0.0465,19205984,16659846701,AVGO,2024-10-31 11:37:05
35,2023-06-30,State Street Corporation,0.0410,16941449,14695521106,AVGO,2024-10-31 11:37:05
36,2023-06-30,"Geode Capital Management, LLC",0.0208,8602239,7461840175,AVGO,2024-10-31 11:37:05
37,2023-06-30,Bank of America Corporation,0.0202,8353977,7246490269,AVGO,2024-10-31 11:37:05
38,2023-06-30,Morgan Stanley,0.0145,6001603,5205970490,AVGO,2024-10-31 11:37:05
39,2023-06-30,"Charles Schwab Investment Management, Inc.",0.0132,5444336,4722580376,AVGO,2024-10-31 11:37:05
40,2023-06-30,Vanguard Group Inc,0.0509,139389898,16599942952,ORCL,2024-10-31 11:37:05
41,2023-06-30,Blackrock Inc.,0.0440,120625641,14365307586,ORCL,2024-10-31 11:37:05
42,2023-06-30,State Street Corporation,0.0232,63514823,7563980271,ORCL,2024-10-31 11:37:05
43,2023-06-30,JP Morgan Chase & Company,0.0124,34102445,4061260175,ORCL,2024-10-31 11:37:05
44,2023-06-30,"FMR, LLC",0.0122,33508717,3990553107,ORCL,2024-10-31 11:37:05
45,2023-06-30,"Geode Capital Management, LLC",0.0106,29109414,3466640113,ORCL,2024-10-31 11:37:05
46,2023-06-30,Morgan Stanley,0.0088,24003167,2858537158,ORCL,2024-10-31 11:37:05
47,2023-06-30,"Loomis Sayles & Company, LP",0.0073,19969497,2378167397,ORCL,2024-10-31 11:37:05
48,2023-06-30,"First Eagle Investment Management, LLC",0.0068,18735569,2231218912,ORCL,2024-10-31 11:37:05
49,2023-06-30,"Fisher Asset Management, LLC",0.0068,18537261,2207602412,ORCL,2024-10-31 11:37:05

In [30]:
#datos de los cambios en las calificaciones que los analistas financieros hacen sobre una acción

def get_upgrades_downgrades(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        upgrades_downgrades = yf.Ticker(ticker).upgrades_downgrades
        upgrades_downgrades = upgrades_downgrades.reset_index()
        
        #añadir valor del ticker para todas las filas
        upgrades_downgrades["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        upgrades_downgrades["Extraction_Timestamp"] = extraction_time
        upgrades_downgrades["Extraction_Timestamp"] = pd.to_datetime(upgrades_downgrades["Extraction_Timestamp"])
        
        #renombrar las columnas
        upgrades_downgrades.columns = ["date", "firm", "to_grade", "from_grade", "action", "ticker", "extraction_timestamp"]
            
        #añadir df a la lista
        all_data.append(upgrades_downgrades)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"upgrades_downgrades_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [31]:
df_upgrades_downgrades = get_upgrades_downgrades(tickers)

In [32]:
df_upgrades_downgrades

,date,firm,to_grade,from_grade,action,ticker,extraction_timestamp
0,2024-10-25 16:17:57,Keybanc,Underweight,Sector Weight,down,AAPL,2024-10-31 11:37:05
1,2024-10-09 11:56:32,Piper Sandler,Neutral,Neutral,reit,AAPL,2024-10-31 11:37:05
2,2024-10-03 17:20:35,B of A Securities,Buy,Buy,reit,AAPL,2024-10-31 11:37:05
3,2024-10-01 15:58:30,Barclays,Underweight,Underweight,main,AAPL,2024-10-31 11:37:05
4,2024-09-25 14:27:12,New Street Research,Neutral,Neutral,reit,AAPL,2024-10-31 11:37:05
...,...,...,...,...,...,...,...
3390,2012-03-21 15:02:00,UBS,Buy,,main,ORCL,2024-10-31 11:37:06
3391,2012-03-21 13:04:00,Societe Generale,Hold,,main,ORCL,2024-10-31 11:37:06
3392,2012-03-21 11:03:00,Morgan Keegan,Outperform,,main,ORCL,2024-10-31 11:37:06
3393,2012-03-21 10:46:00,Deutsche Bank,Hold,,main,ORCL,2024-10-31 11:37:06
3394,2012-03-12 09:54:00,Jefferies,Hold,Buy,down,ORCL,2024-10-31 11:37:06

In [33]:
#identificación de las empresas del sector de tecnológico
sector = yf.Sector("technology").top_companies
sector = sector.reset_index().rename(columns={"index": "symbol"})
sector

   symbol                                          name rating  market weight
0    AAPL                                    Apple Inc.    Buy       0.186074
1    NVDA                            NVIDIA Corporation    Buy       0.181772
2    MSFT                         Microsoft Corporation    Buy       0.171015
3    AVGO                                 Broadcom Inc.    Buy       0.044540
4    ORCL                            Oracle Corporation    Buy       0.025725
5     CRM                              Salesforce, Inc.    Buy       0.015070
6     AMD                  Advanced Micro Devices, Inc.    Buy       0.012801
7     ACN                                 Accenture plc    Buy       0.012064
8    CSCO                           Cisco Systems, Inc.    Buy       0.011784
9    ADBE                                    Adobe Inc.    Buy       0.011394
10    NOW                              ServiceNow, Inc.    Buy       0.010458
11    TXN                Texas Instruments Incorporated   Hold       0.010088
12    IBM   International Business Machines Corporation   Hold       0.010038
13   QCOM                         QUALCOMM Incorporated    Buy       0.009931
14   INTU                                   Intuit Inc.    Buy       0.009259
15   UBER                       Uber Technologies, Inc.    Buy       0.008875
16   AMAT                       Applied Materials, Inc.    Buy       0.008124
17   ANET                         Arista Networks, Inc.    Buy       0.006709
18    ADP               Automatic Data Processing, Inc.   Hold       0.006350
19   PANW                      Palo Alto Networks, Inc.    Buy       0.006225
20     MU                       Micron Technology, Inc.    Buy       0.006137
21     FI                                  Fiserv, Inc.    Buy       0.006079
22    ADI                          Analog Devices, Inc.    Buy       0.006076
23   LRCX                      Lam Research Corporation    Buy       0.005361
24   PLTR                    Palantir Technologies Inc.   Hold       0.005351
25   INTC                             Intel Corporation   Hold       0.005073
26   KLAC                               KLA Corporation    Buy       0.004929
27   DELL                        Dell Technologies Inc.    Buy       0.004541
28    APH                          Amphenol Corporation    Buy       0.004416
29   SNPS                                Synopsys, Inc.    Buy       0.004382
30   CDNS                  Cadence Design Systems, Inc.    Buy       0.004223
31    MSI                      Motorola Solutions, Inc.    Buy       0.004066
32   CRWD                    CrowdStrike Holdings, Inc.    Buy       0.004054
33   MRVL                      Marvell Technology, Inc.    Buy       0.003814
34   NXPI                       NXP Semiconductors N.V.    Buy       0.003323
35   ADSK                                Autodesk, Inc.    Buy       0.003310
36   WDAY                                 Workday, Inc.    Buy       0.003307
37   FTNT                                Fortinet, Inc.   Hold       0.003259
38    TTD                          The Trade Desk, Inc.    Buy       0.003131
39    ROP                      Roper Technologies, Inc.    Buy       0.003120
40    APP                          AppLovin Corporation    Buy       0.002944
41   PAYX                                 Paychex, Inc.   Hold       0.002706
42   TEAM                         Atlassian Corporation    Buy       0.002639
43   FICO                        Fair Isaac Corporation    Buy       0.002636
44   MSTR                    MicroStrategy Incorporated    Buy       0.002633
45    FIS  Fidelity National Information Services, Inc.    Buy       0.002632
46    TEL                           TE Connectivity plc    Buy       0.002467
47     SQ                                   Block, Inc.    Buy       0.002400
48   MPWR                Monolithic Power Systems, Inc.    Buy       0.002385
49   DDOG                                 Datadog, Inc.    Buy       0.002255

In [34]:
#datos de las acciones del sector de tecnológico

tickers = [
    'AAPL', 'MSFT', 'GOOGL', 'AMZN', 'META', 'TSLA', 'NVDA', 'INTC', 'ADBE', 'CSCO',
    'ORCL', 'CRM', 'IBM', 'AMD', 'NFLX', 'PYPL', 'SQ', 'TWTR', 'SNPS', 'ATVI',"AAPL","MSFT",                          
    "AVGO","ORCL", "CRM","AMD",  "ACN", "CSCO", "ADBE", "IBM", "NOW", "QCOM", "TXN", "INTU",                                    
    "UBER", "AMAT", "ANET", "PANW", "MU", "ADP", "FI", "ADI", "INTC", "PLTR", "LRCX", "KLAC",                             
    "DELL", "APH", "MSI", "SNPS", "CRWD", "MRVL", "CDNS", "WDAY", "FTNT", "ADSK", "ROP", "NXPI",                       
    "TTD", "APP", "PAYX", "TEAM", "FIS", "FICO", "SQ", "TEL", "MSTR", "MPWR", "DDOG"  
]

stock_info = []

for ticker in tickers:
    stock = yf.Ticker(ticker)
    stock_data = {
        "ticker": ticker,
        "name": stock.info.get("longName", ""),
        "sector": stock.info.get("sector", ""),
        "industry": stock.info.get("industry", ""),
        "market_cap": stock.info.get("marketCap", ""),
        "full_time_employees": stock.info.get("fullTimeEmployees", ""),
        "marketStart": stock.info.get("regularMarketTime", None)  # Time in Unix
        
    }
    stock_info.append(stock_data)

stocks = pd.DataFrame(stock_info)

# Convert marketStart from Unix timestamp to human-readable date if needed
stocks["marketStart"] = pd.to_datetime(stocks["marketStart"], unit="s")

stocks

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=ZPqPbUSAzP9

,ticker,name,sector,industry,market_cap,full_time_employees,marketStart
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3498463461376,161000,NaT
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3215808528384,228000,NaT
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2145823096832,181269,NaT
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,2022816874496,1525000,NaT
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1497147375616,70799,NaT
...,...,...,...,...,...,...,...
64,SQ,"Block, Inc.",Technology,Software - Infrastructure,45120622592,12985,NaT
65,TEL,TE Connectivity plc,Technology,Electronic Components,45524553728,85000,NaT
66,MSTR,MicroStrategy Incorporated,Technology,Software - Application,50114895872,1839,NaT
67,MPWR,"Monolithic Power Systems, Inc.",Technology,Semiconductors,44867411968,3564,NaT
68,DDOG,"Datadog, Inc.",Technology,Software - Application,43209400320,5200,NaT

In [35]:
#IPO (Initial Public Offering)
tech_tickers_ipo = {
    'AAPL': '1980-12-12',
    'MSFT': '1986-03-13',
    'GOOGL': '2004-08-19',
    'AMZN': '1997-05-15',
    'META': '2012-05-18',  
    'TSLA': '2010-06-29',
    'NVDA': '1999-01-22',
    'INTC': '1971-10-13',
    'ADBE': '1986-08-08',
    'CSCO': '1990-02-16',
    'ORCL': '1986-03-12',
    'CRM': '2004-06-23',
    'IBM': '1911-11-12',
    'AMD': '1972-09-18',
    'NFLX': '2002-05-23',
    'PYPL': '2015-07-20',
    'SQ': '2015-11-19',
    'TWTR': '2013-11-07',
    'SNPS': '2000-01-24',
    'ATVI': '2003-08-09',
    'AVGO': '2016-09-14',
    'NOW': '2012-06-28',
    'QCOM': '1991-07-11',
    'TXN': '1953-01-01',
    'INTU': '1993-03-24',
    'UBER': '2019-05-10',
    'AMAT': '1980-06-19',
    'ANET': '2015-06-27',
    'PANW': '2012-07-20',
    'MU': '1984-03-06',
    'ADP': '1961-10-13',
    'FI': 'NA', 
    'ADI': '2000-08-08',
    'PLTR': '2020-09-30',
    'LRCX': '1996-11-06',
    'KLAC': '1995-08-01',
    'DELL': '2018-12-28',  # IPO tras ser privado
    'APH': '2011-07-06',
    'MSI': '2006-12-01',
    'CRWD': '2019-09-20',
    'MRVL': '2000-11-17',
    'CDNS': '1983-03-29',
    'WDAY': '2012-10-09',
    'FTNT': '2009-08-06',
    'ADSK': '1985-12-12',
    'ROP': '2000-08-10',
    'NXPI': '2012-08-02',
    'TTD': '2016-09-21',
    'APP': 'NA', 
    'PAYX': '1971-08-14',
    'TEAM': '2018-09-25',
    'FIS': '1968-01-08',
    'FICO': '1986-04-04',
    'TEL': '2016-01-05',
    'MSTR': '2006-01-26',
    'MPWR': '2007-11-02',
    'DDOG': '2019-09-19',
}

data = []

for ticker, ipo_date in tech_tickers_ipo.items():
    stock = yf.Ticker(ticker)
    info = stock.info
    data.append({
        "ticker": ticker,
        "name": info.get("shortName", None),
        "sector": info.get("sector", None),
        "industry": info.get("industry", None),
        "market_cap": info.get("marketCap", None),
        "full_time_employees": info.get("fullTimeEmployees", None),
        "ipo_date": ipo_date if ipo_date != "NA" else None  # Use the manually defined IPO date
    })


df = pd.DataFrame(data)

df['ipo_date'] = pd.to_datetime(df['ipo_date'])

# Añadir la columna de Extraction_Timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
df["extraction_timestamp"] = extraction_time
df["extraction_timestamp"] = pd.to_datetime(df["extraction_timestamp"])

file_name = f"stocks_{datetime.now().strftime('%Y%m%d')}.csv"
df.to_csv(file_name)

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=ZPqPbUSAzP9

In [36]:
df.head(10)

,ticker,name,sector,industry,market_cap,full_time_employees,ipo_date,extraction_timestamp
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3.498463e+12,161000.0,1980-12-12,2024-10-31 11:37:23
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3.215809e+12,228000.0,1986-03-13,2024-10-31 11:37:23
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2.145823e+12,181269.0,2004-08-19,2024-10-31 11:37:23
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,2.022817e+12,1525000.0,1997-05-15,2024-10-31 11:37:23
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1.497147e+12,70799.0,2012-05-18,2024-10-31 11:37:23
5,TSLA,"Tesla, Inc.",Consumer Cyclical,Auto Manufacturers,8.267509e+11,140473.0,2010-06-29,2024-10-31 11:37:23
6,NVDA,NVIDIA Corporation,Technology,Semiconductors,3.417888e+12,29600.0,1999-01-22,2024-10-31 11:37:23
7,INTC,Intel Corporation,Technology,Semiconductors,9.535480e+10,124800.0,1971-10-13,2024-10-31 11:37:23
8,ADBE,Adobe Inc.,Technology,Software - Infrastructure,2.142365e+11,29945.0,1986-08-08,2024-10-31 11:37:23
9,CSCO,"Cisco Systems, Inc.",Technology,Communication Equipment,2.215829e+11,90400.0,1990-02-16,2024-10-31 11:37:23

In [37]:
"""
Extra: localización de los holders

Intentamos obtenenr la latitud y longitud de cada holder utilizando tanto la API Nominatim junto con la biblioteca Geopy 
como la API de GoogleMaps para realizar la geocodificación, pero no devolvían resultados ya que no reconocía los nombres correctamente.
Optamos por hacer una búsqueda manual de la dirección, latitud y longitud de los headquarters de los 18 holders y crear un df y csv ad hoc.

"""

'\nExtra: localización de los holders\n\nIntentamos obtenenr la latitud y longitud de cada holder utilizando tanto la API Nominatim junto con la biblioteca Geopy \ncomo la API de GoogleMaps para realizar la geocodificación, pero no devolvían resultados ya que no reconocía los nombres correctamente.\nOptamos por hacer una búsqueda manual de la dirección, latitud y longitud de los headquarters de los 18 holders y crear un df y csv ad hoc.\n\n'

In [38]:
#creación diccionario datos de la ubicación de los holders

locations = [
    {"holder": "Bank of America Corporation", "latitude": 35.22787, "longitude": -80.84219, "headquarters": "100 North Tryon Street, Charlotte, NC 28255"},
    {"holder": "Berkshire Hathaway, Inc", "latitude": 41.25724, "longitude": -95.96544, "headquarters": "3555 Farnam Street, Omaha, NE 68131"},
    {"holder": "Blackrock Inc.", "latitude": 40.75443, "longitude": -73.99963, "headquarters": "50 Hudson Yards, New York, NY 10001"},
    {"holder": "Capital International Investors", "latitude": 34.05364, "longitude": -118.25315, "headquarters": "333 South Hope Street, Los Angeles, CA 90071"},
    {"holder": "Capital Research Global Investors", "latitude": 34.05364, "longitude": -118.25315, "headquarters": "333 South Hope Street, Los Angeles, CA 90071"},
    {"holder": "Capital World Investors", "latitude": 34.05364, "longitude": -118.25315, "headquarters": "333 South Hope Street, Los Angeles, CA 90071"},
    {"holder": "Charles Schwab Investment Management, Inc.", "latitude": 37.79507, "longitude": -122.39378, "headquarters": "211 Main Street, San Francisco, CA 94105"},
    {"holder": "First Eagle Investment Management, LLC", "latitude": 40.76328, "longitude": -73.97930, "headquarters": "1345 Avenue of the Americas, New York, NY 10105"},
    {"holder": "Fisher Asset Management, LLC", "latitude": 33.01812, "longitude": -96.84023, "headquarters": "6500 International Pkwy, Plano, TX 75093"},
    {"holder": "FMR, LLC", "latitude": 42.35174, "longitude": -71.05389, "headquarters": "245 Summer St, Boston, MA 02210"},
    {"holder": "Geode Capital Management, LLC", "latitude": 42.35390, "longitude": -71.05744, "headquarters": "100 Summer St, Boston, MA 02110"},
    {"holder": "JP Morgan Chase & Company", "latitude": 40.75621, "longitude": -73.97428, "headquarters": "270 Park Ave, New York, NY 10017"},
    {"holder": "Loomis Sayles & Company, LP", "latitude": 42.35239, "longitude": -71.05635, "headquarters": "One Financial Center, Boston, MA 02111"},
    {"holder": "Morgan Stanley", "latitude": 40.76003, "longitude": -73.98548, "headquarters": "1585 Broadway, New York, NY 10019"},
    {"holder": "Norges Bank Investment Management", "latitude": 59.90878, "longitude": 10.74239, "headquarters": "Bankplassen 2, 0107, 0151 Oslo"},
    {"holder": "Northern Trust Corporation", "latitude": 41.88123, "longitude": -87.63237, "headquarters": "50 S La Salle St, Chicago, IL 60604"},
    {"holder": "Price (T.Rowe) Associates Inc", "latitude": 39.28729, "longitude": -76.61279, "headquarters": "100 E Pratt St, Baltimore, MD 21202"},
    {"holder": "State Street Corporation", "latitude": 42.36270, "longitude": -71.06005, "headquarters": "1 Congress St, Boston, MA 02114"},
    {"holder": "Vanguard Group Inc", "latitude": 40.05139, "longitude": -75.50420, "headquarters": "100 Vanguard Blvd, Malvern, PA 19355"}
]

df_locations = pd.DataFrame(locations)

df_locations.to_csv("holder_locations.csv", index=False)

In [39]:
df_locations

,holder,latitude,longitude,headquarters
0,Bank of America Corporation,35.22787,-80.84219,"100 North Tryon Street, Charlotte, NC 28255"
1,"Berkshire Hathaway, Inc",41.25724,-95.96544,"3555 Farnam Street, Omaha, NE 68131"
2,Blackrock Inc.,40.75443,-73.99963,"50 Hudson Yards, New York, NY 10001"
3,Capital International Investors,34.05364,-118.25315,"333 South Hope Street, Los Angeles, CA 90071"
4,Capital Research Global Investors,34.05364,-118.25315,"333 South Hope Street, Los Angeles, CA 90071"
5,Capital World Investors,34.05364,-118.25315,"333 South Hope Street, Los Angeles, CA 90071"
6,"Charles Schwab Investment Management, Inc.",37.79507,-122.39378,"211 Main Street, San Francisco, CA 94105"
7,"First Eagle Investment Management, LLC",40.76328,-73.97930,"1345 Avenue of the Americas, New York, NY 10105"
8,"Fisher Asset Management, LLC",33.01812,-96.84023,"6500 International Pkwy, Plano, TX 75093"
9,"FMR, LLC",42.35174,-71.05389,"245 Summer St, Boston, MA 02210"
10,"Geode Capital Management, LLC",42.35390,-71.05744,"100 Summer St, Boston, MA 02110"
11,JP Morgan Chase & Company,40.75621,-73.97428,"270 Park Ave, New York, NY 10017"
12,"Loomis Sayles & Company, LP",42.35239,-71.05635,"One Financial Center, Boston, MA 02111"
13,Morgan Stanley,40.76003,-73.98548,"1585 Broadway, New York, NY 10019"
14,Norges Bank Investment Management,59.90878,10.74239,"Bankplassen 2, 0107, 0151 Oslo"
15,Northern Trust Corporation,41.88123,-87.63237,"50 S La Salle St, Chicago, IL 60604"
16,Price (T.Rowe) Associates Inc,39.28729,-76.61279,"100 E Pratt St, Baltimore, MD 21202"
17,State Street Corporation,42.36270,-71.06005,"1 Congress St, Boston, MA 02114"
18,Vanguard Group Inc,40.05139,-75.50420,"100 Vanguard Blvd, Malvern, PA 19355"