In [1]:
"""
Para las acciones de Nvidia (NVDA), he extraído los siguientes ficheros .csv, en cada
comentario se indica qué tipos de datos o información contienen
"""

'\nPara las acciones de Nvidia (NVDA), he extraído los siguientes ficheros .csv, en cada\ncomentario se indica qué tipos de datos o información contienen\n'

In [2]:
#pip install yfinance
#pip install finplot
#pip install matplotlib

In [3]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [4]:
#exploración de los datos que existen de una acción
ticker = "NVDA"
stock = yf.Ticker(ticker)
stock_info = stock.info

for line in stock_info.items():
    print("-", line)

- ('address1', '2788 San Tomas Expressway')
- ('city', 'Santa Clara')
- ('state', 'CA')
- ('zip', '95051')
- ('country', 'United States')
- ('phone', '408 486 2000')
- ('website', 'https://www.nvidia.com')
- ('industry', 'Semiconductors')
- ('industryKey', 'semiconductors')
- ('industryDisp', 'Semiconductors')
- ('sector', 'Technology')
- ('sectorKey', 'technology')
- ('sectorDisp', 'Technology')
- ('longBusinessSummary', "NVIDIA Corporation provides graphics and compute and networking solutions in the United States, Taiwan, China, Hong Kong, and internationally. The Graphics segment offers GeForce GPUs for gaming and PCs, the GeForce NOW game streaming service and related infrastructure, and solutions for gaming platforms; Quadro/NVIDIA RTX GPUs for enterprise workstation graphics; virtual GPU or vGPU software for cloud-based visual and virtual computing; automotive platforms for infotainment systems; and Omniverse software for building and operating metaverse and 3D internet applications. The Compute & Networking segment comprises Data Center computing platforms and end-to-end networking platforms, including Quantum for InfiniBand and Spectrum for Ethernet; NVIDIA DRIVE automated-driving platform and automotive development agreements; Jetson robotics and other embedded platforms; NVIDIA AI Enterprise and other software; and DGX Cloud software and services. The company's products are used in gaming, professional visualization, data center, and automotive markets. It sells its products to original equipment manufacturers, original device manufacturers, system integrators and distributors, independent software vendors, cloud service providers, consumer internet companies, add-in board manufacturers, distributors, automotive manufacturers and tier-1 automotive suppliers, and other ecosystem participants. NVIDIA Corporation was incorporated in 1993 and is headquartered in Santa Clara, California.")
- ('fullTimeEmployees', 29600)
- ('companyOfficers', [{'maxAge': 1, 'name': 'Mr. Jen-Hsun  Huang', 'age': 60, 'title': 'Co-Founder, CEO, President & Director', 'yearBorn': 1963, 'fiscalYear': 2024, 'totalPay': 7491487, 'exercisedValue': 217327152, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Colette M. Kress', 'age': 56, 'title': 'Executive VP & CFO', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1510765, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Debora  Shoquist', 'age': 68, 'title': 'Executive Vice President of Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 1371266, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Timothy S. Teter', 'age': 56, 'title': 'Executive VP, General Counsel & Secretary', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1360939, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Ajay K. Puri', 'age': 68, 'title': 'Executive Vice President of Worldwide Field Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 2295097, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Chris A. Malachowsky', 'title': 'Co-Founder', 'fiscalYear': 2024, 'totalPay': 320000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Donald F. Robertson Jr.', 'age': 54, 'title': 'VP & Chief Accounting Officer', 'yearBorn': 1969, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Prof. William J. Dally Ph.D.', 'age': 62, 'title': 'Chief Scientist & Senior VP of Research', 'yearBorn': 1961, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Mylene  Mangalindan', 'title': 'VP of Corporate Communications', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Tommy  Lee', 'title': 'Senior Vice President of Systems Engineering & Application', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}])
- ('auditRisk', 7)
- ('boardRisk', 10)
- ('compensationRisk', 5)
- ('shareHolderRightsRisk', 6)
- ('overallRisk', 8)
- ('governanceEpochDate', 1727740800)
- ('compensationAsOfEpochDate', 1735603200)
- ('irWebsite', 'http://phx.corporate-ir.net/phoenix.zhtml?c=116466&p=irol-IRHome')
- ('maxAge', 86400)
- ('priceHint', 2)
- ('previousClose', 143.59)
- ('open', 142.015)
- ('dayLow', 138.26)
- ('dayHigh', 142.43)
- ('regularMarketPreviousClose', 143.59)
- ('regularMarketOpen', 142.015)
- ('regularMarketDayLow', 138.26)
- ('regularMarketDayHigh', 142.43)
- ('dividendRate', 0.04)
- ('dividendYield', 0.00029999999)
- ('exDividendDate', 1726099200)
- ('payoutRatio', 0.010299999)
- ('fiveYearAvgDividendYield', 0.1)
- ('beta', 1.669)
- ('trailingPE', 66.10563)
- ('forwardPE', 34.681034)
- ('volume', 108302981)
- ('regularMarketVolume', 108302981)
- ('averageVolume', 325747392)
- ('averageVolume10days', 250414250)
- ('averageDailyVolume10Day', 250414250)
- ('marketCap', 3453946429440)
- ('fiftyTwoWeekLow', 39.23)
- ('fiftyTwoWeekHigh', 144.42)
- ('priceToSalesTrailing12Months', 35.86392)
- ('fiftyDayAverage', 123.0612)
- ('twoHundredDayAverage', 101.35982)
- ('trailingAnnualDividendRate', 0.022)
- ('trailingAnnualDividendYield', 0.00015321402)
- ('currency', 'USD')
- ('enterpriseValue', 3497477799936)
- ('profitMargins', 0.55041003)
- ('floatShares', 23541441000)
- ('sharesOutstanding', 24529999872)
- ('sharesShort', 251090067)
- ('sharesShortPriorMonth', 260873913)
- ('sharesShortPreviousMonthDate', 1724976000)
- ('dateShortInterest', 1727654400)
- ('sharesPercentSharesOut', 0.010199999)
- ('heldPercentInsiders', 0.042940002)
- ('heldPercentInstitutions', 0.66766)
- ('shortRatio', 0.8)
- ('shortPercentOfFloat', 0.0107)
- ('impliedSharesOutstanding', 24748699648)
- ('bookValue', 2.368)
- ('priceToBook', 59.461567)
- ('lastFiscalYearEnd', 1706400000)
- ('nextFiscalYearEnd', 1738022400)
- ('mostRecentQuarter', 1722124800)
- ('earningsQuarterlyGrowth', 1.682)
- ('netIncomeToCommon', 53007998976)
- ('trailingEps', 2.13)
- ('forwardEps', 4.06)
- ('pegRatio', 0.88)
- ('lastSplitFactor', '10:1')
- ('lastSplitDate', 1717977600)
- ('enterpriseToRevenue', 36.316)
- ('enterpriseToEbitda', 57.163)
- ('52WeekChange', 2.4368942)
- ('SandP52WeekChange', 0.3975451)
- ('lastDividendValue', 0.01)
- ('lastDividendDate', 1726099200)
- ('exchange', 'NMS')
- ('quoteType', 'EQUITY')
- ('symbol', 'NVDA')
- ('underlyingSymbol', 'NVDA')
- ('shortName', 'NVIDIA Corporation')
- ('longName', 'NVIDIA Corporation')
- ('firstTradeDateEpochUtc', 917015400)
- ('timeZoneFullName', 'America/New_York')
- ('timeZoneShortName', 'EDT')
- ('uuid', '7f5f6a07-b148-30f4-98a2-2caa3df2aed0')
- ('messageBoardId', 'finmb_32307')
- ('gmtOffSetMilliseconds', -14400000)
- ('currentPrice', 140.805)
- ('targetHighPrice', 202.79)
- ('targetLowPrice', 75.4)
- ('targetMeanPrice', 149.03)
- ('targetMedianPrice', 150.0)
- ('recommendationMean', 1.8)
- ('recommendationKey', 'buy')
- ('numberOfAnalystOpinions', 50)
- ('totalCash', 34800001024)
- ('totalCashPerShare', 1.419)
- ('ebitda', 61184000000)
- ('totalDebt', 10014999552)
- ('quickRatio', 3.503)
- ('currentRatio', 4.269)
- ('totalRevenue', 96307003392)
- ('debtToEquity', 17.221)
- ('revenuePerShare', 3.91)
- ('returnOnAssets', 0.55258)
- ('returnOnEquity', 1.23767)
- ('freeCashflow', 33725874176)
- ('operatingCashflow', 48663998464)
- ('earningsGrowth', 1.68)
- ('revenueGrowth', 1.224)
- ('grossMargins', 0.75975996)
- ('ebitdaMargins', 0.6353)
- ('operatingMargins', 0.62057)
- ('financialCurrency', 'USD')
- ('trailingPegRatio', 1.1133)

In [5]:
#datos del comportamiento de la acción a lo largo del tiempo
historical_prices = yf.download(ticker)
historical_prices = historical_prices.reset_index()

#añadir valor del ticker para todas las filas
historical_prices["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
historical_prices["Extraction_Timestamp"] = extraction_time
historical_prices["Extraction_Timestamp"] = pd.to_datetime(historical_prices["Extraction_Timestamp"])

#renombrar las columnas
historical_prices.columns = ["date", "open", "high", "low", "close", "adj_close", "volume", "ticker", "extraction_timestamp"]

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_historical_prices_{datetime.now().strftime('%Y%m%d')}.csv"
historical_prices.to_csv(file_name)

[*********************100%***********************]  1 of 1 completed

In [6]:
historical_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6481 entries, 0 to 6480
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  6481 non-null   datetime64[ns]
 1   open                  6481 non-null   float64
 2   high                  6481 non-null   float64
 3   low                   6481 non-null   float64
 4   close                 6481 non-null   float64
 5   adj_close             6481 non-null   float64
 6   volume                6481 non-null   int64
 7   ticker                6481 non-null   object
 8   extraction_timestamp  6481 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(1), object(1)
memory usage: 455.8+ KB

In [7]:
historical_prices.head()

,date,open,high,low,close,adj_close,volume,ticker,extraction_timestamp
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037618,2714688000,NVDA,2024-10-23 17:02:38
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041559,510480000,NVDA,2024-10-23 17:02:38
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038334,343200000,NVDA,2024-10-23 17:02:38
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038215,244368000,NVDA,2024-10-23 17:02:38
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038095,227520000,NVDA,2024-10-23 17:02:38

In [8]:
#datos de cuándo y cuánto ha pagado la empresa en dividendos
dividends = yf.Ticker(ticker).dividends
dividends = dividends.reset_index()

#añadir valor del ticker para todas las filas
dividends["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
dividends = pd.DataFrame(dividends)
dividends["Extraction_Timestamp"] = extraction_time
dividends["Extraction_Timestamp"] = pd.to_datetime(dividends["Extraction_Timestamp"])

#renombrar las columnas
dividends.columns = ["date", "dividends", "ticker", "extraction_timestamp"]

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_dividends_{datetime.now().strftime('%Y%m%d')}.csv"
dividends.to_csv(file_name)

In [9]:
dividends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  48 non-null     datetime64[ns, America/New_York]
 1   dividends             48 non-null     float64
 2   ticker                48 non-null     object
 3   extraction_timestamp  48 non-null     datetime64[ns]
dtypes: datetime64[ns, America/New_York](1), datetime64[ns](1), float64(1), object(1)
memory usage: 1.6+ KB

In [10]:
dividends.head()

                       date  dividends ticker extraction_timestamp
0 2012-11-20 00:00:00-05:00   0.001875   NVDA  2024-10-23 17:02:38
1 2013-02-26 00:00:00-05:00   0.001875   NVDA  2024-10-23 17:02:38
2 2013-05-21 00:00:00-04:00   0.001875   NVDA  2024-10-23 17:02:38
3 2013-08-20 00:00:00-04:00   0.001875   NVDA  2024-10-23 17:02:38
4 2013-11-19 00:00:00-05:00   0.002125   NVDA  2024-10-23 17:02:38

In [11]:
#datos de los splits, afectan a cómo se interpreta el precio histórico de las acciones
splits = yf.Ticker(ticker).splits
splits = splits.reset_index()

#añadir valor del ticker para todas las filas
splits["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
splits = pd.DataFrame(splits)
splits["Extraction_Timestamp"] = extraction_time
splits["Extraction_Timestamp"] = pd.to_datetime(splits["Extraction_Timestamp"])

#renombrar las columnas
splits.columns = ["date", "splits", "ticker", "extraction_timestamp"]

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_splits_{datetime.now().strftime('%Y%m%d')}.csv"
splits.to_csv(file_name)

In [12]:
splits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  6 non-null      datetime64[ns, America/New_York]
 1   splits                6 non-null      float64
 2   ticker                6 non-null      object
 3   extraction_timestamp  6 non-null      datetime64[ns]
dtypes: datetime64[ns, America/New_York](1), datetime64[ns](1), float64(1), object(1)
memory usage: 324.0+ bytes

In [13]:
splits.head()

                       date  splits ticker extraction_timestamp
0 2000-06-27 00:00:00-04:00     2.0   NVDA  2024-10-23 17:02:38
1 2001-09-10 00:00:00-04:00     2.0   NVDA  2024-10-23 17:02:38
2 2006-04-07 00:00:00-04:00     2.0   NVDA  2024-10-23 17:02:38
3 2007-09-11 00:00:00-04:00     1.5   NVDA  2024-10-23 17:02:38
4 2021-07-20 00:00:00-04:00     4.0   NVDA  2024-10-23 17:02:38

In [14]:
#datos de la estructura financiera de la empresa
balance_sheet = yf.Ticker(ticker).balance_sheet.T
balance_sheet = balance_sheet.reset_index()
balance_sheet = balance_sheet.rename(columns={'index': 'Date'})

#añadir valor del ticker para todas las filas
balance_sheet["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
balance_sheet["Extraction_Timestamp"] = extraction_time
balance_sheet["Extraction_Timestamp"] = pd.to_datetime(balance_sheet["Extraction_Timestamp"])

#filtrar columnas
balance_sheet_filtered = balance_sheet[["Date", "ticker", "Ordinary Shares Number", "Net Debt", "Total Assets", "Current Liabilities", "Stockholders Equity", "Extraction_Timestamp"]]

#renombrar las columnas
balance_sheet_filtered.columns = ["date", "ticker", "ordinary_shares_number", "net_debt", "total_assets", "current_liabilities", "stockholders_equity", "extraction_timestamp"]
      
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_balance_sheet_{datetime.now().strftime('%Y%m%d')}.csv"
balance_sheet_filtered.to_csv(file_name)

In [15]:
balance_sheet_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    5 non-null      datetime64[ns]
 1   ticker                  5 non-null      object
 2   ordinary_shares_number  4 non-null      object
 3   net_debt                4 non-null      object
 4   total_assets            4 non-null      object
 5   current_liabilities     4 non-null      object
 6   stockholders_equity     4 non-null      object
 7   extraction_timestamp    5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(6)
memory usage: 452.0+ bytes

In [16]:
balance_sheet_filtered.head()

,date,ticker,ordinary_shares_number,net_debt,total_assets,current_liabilities,stockholders_equity,extraction_timestamp
0,2024-01-31,NVDA,24640000000.0,2429000000.0,65728000000.0,10631000000.0,42978000000.0,2024-10-23 17:02:39
1,2023-01-31,NVDA,24661365720.0,7564000000.0,41182000000.0,6563000000.0,22101000000.0,2024-10-23 17:02:39
2,2022-01-31,NVDA,25060000000.0,8956000000.0,44187000000.0,4335000000.0,26612000000.0,2024-10-23 17:02:39
3,2021-01-31,NVDA,24800000000.0,6116000000.0,28791000000.0,3925000000.0,16893000000.0,2024-10-23 17:02:39
4,2020-01-31,NVDA,NaN,NaN,NaN,NaN,NaN,2024-10-23 17:02:39

In [17]:
#estado de resultados, para entender la rentabilidad de la empresa a lo largo del tiempo
income_statement = yf.Ticker(ticker).financials.T
income_statement = income_statement.reset_index()
income_statement = income_statement.rename(columns={'index': 'Date'})

#añadir valor del ticker para todas las filas
income_statement["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
income_statement["Extraction_Timestamp"] = extraction_time
income_statement["Extraction_Timestamp"] = pd.to_datetime(income_statement["Extraction_Timestamp"])

#filtrar columnas
income_statement_filtered = income_statement[["Date", "ticker", "EBITDA", "Total Revenue", "Net Income", "Operating Income", "Diluted EPS", "Extraction_Timestamp"]]

#renombrar las columnas
income_statement_filtered.columns = ["date", "ticker", "ebitda", "total_revenue", "net_income", "operating_income", "diluted_eps", "extraction_timestamp"]

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_income_statement_{datetime.now().strftime('%Y%m%d')}.csv"
income_statement_filtered.to_csv(file_name)

In [18]:
income_statement_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  4 non-null      datetime64[ns]
 1   ticker                4 non-null      object
 2   ebitda                4 non-null      object
 3   total_revenue         4 non-null      object
 4   net_income            4 non-null      object
 5   operating_income      4 non-null      object
 6   diluted_eps           4 non-null      object
 7   extraction_timestamp  4 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(6)
memory usage: 388.0+ bytes

In [19]:
income_statement_filtered.head()

,date,ticker,ebitda,total_revenue,net_income,operating_income,diluted_eps,extraction_timestamp
0,2024-01-31,NVDA,35583000000.0,60922000000.0,29760000000.0,32972000000.0,1.193,2024-10-23 17:02:39
1,2023-01-31,NVDA,5987000000.0,26974000000.0,4368000000.0,5577000000.0,0.174,2024-10-23 17:02:39
2,2022-01-31,NVDA,11351000000.0,26914000000.0,9752000000.0,10041000000.0,0.385,2024-10-23 17:02:39
3,2021-01-31,NVDA,5691000000.0,16675000000.0,4332000000.0,4532000000.0,0.1725,2024-10-23 17:02:39

In [20]:
#muestra cómo se genera y usa el efectivo, sirve para medir su salud financiera
cashflow = yf.Ticker(ticker).cashflow.T
cashflow = cashflow.reset_index()
cashflow = cashflow.rename(columns={'index': 'Date'})

#añadir valor del ticker para todas las filas
cashflow["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
cashflow["Extraction_Timestamp"] = extraction_time
cashflow["Extraction_Timestamp"] = pd.to_datetime(cashflow["Extraction_Timestamp"])

#filtrar columnas
cashflow_filtered = cashflow[["Date", "ticker", "Operating Cash Flow", "Capital Expenditure", "Free Cash Flow", "Extraction_Timestamp"]]

#renombrar las columnas
cashflow_filtered.columns = ["date", "ticker", "operating_cash_flow", "capital_expenditure", "free_cash_flow", "extraction_timestamp"]

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_cashflow_{datetime.now().strftime('%Y%m%d')}.csv"
cashflow_filtered.to_csv(file_name)

In [21]:
cashflow_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  5 non-null      datetime64[ns]
 1   ticker                5 non-null      object
 2   operating_cash_flow   4 non-null      object
 3   capital_expenditure   4 non-null      object
 4   free_cash_flow        4 non-null      object
 5   extraction_timestamp  5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 372.0+ bytes

In [22]:
cashflow_filtered.head()

,date,ticker,operating_cash_flow,capital_expenditure,free_cash_flow,extraction_timestamp
0,2024-01-31,NVDA,28090000000.0,-1069000000.0,27021000000.0,2024-10-23 17:02:39
1,2023-01-31,NVDA,5641000000.0,-1833000000.0,3808000000.0,2024-10-23 17:02:39
2,2022-01-31,NVDA,9108000000.0,-976000000.0,8132000000.0,2024-10-23 17:02:39
3,2021-01-31,NVDA,5822000000.0,-1128000000.0,4694000000.0,2024-10-23 17:02:39
4,2020-01-31,NVDA,NaN,NaN,NaN,2024-10-23 17:02:39

In [23]:
#identificación de las instituciones que tienen participaciones
holders = yf.Ticker(ticker).institutional_holders

#añadir valor del ticker para todas las filas
holders["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
holders["Extraction_Timestamp"] = extraction_time
holders["Extraction_Timestamp"] = pd.to_datetime(holders["Extraction_Timestamp"])

#renombrar las columnas
holders.columns = ["date", "holder", "pct_held", "shares", "value", "ticker", "extraction_timestamp"]
    
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_holders_{datetime.now().strftime('%Y%m%d')}.csv"
holders.to_csv(file_name)

In [24]:
holders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  10 non-null     datetime64[ns]
 1   holder                10 non-null     object
 2   pct_held              10 non-null     float64
 3   shares                10 non-null     int64
 4   value                 10 non-null     int64
 5   ticker                10 non-null     object
 6   extraction_timestamp  10 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 692.0+ bytes

In [25]:
holders.head()

,date,holder,pct_held,shares,value,ticker,extraction_timestamp
0,2024-03-31,Vanguard Group Inc,0.8672,2133356260,192761538228,NVDA,2024-10-23 17:02:39
1,2024-03-31,Blackrock Inc.,0.7408,1822389250,164663803073,NVDA,2024-10-23 17:02:39
2,2024-03-31,"FMR, LLC",0.4679,1151036980,104003097364,NVDA,2024-10-23 17:02:39
3,2024-03-31,State Street Corporation,0.3678,904894170,81762617624,NVDA,2024-10-23 17:02:39
4,2024-03-31,"Geode Capital Management, LLC",0.2134,524942990,47431748804,NVDA,2024-10-23 17:02:39

In [26]:
#datos de los cambios en las calificaciones que los analistas financieros hacen sobre una acción
upgrades_downgrades = yf.Ticker(ticker).upgrades_downgrades
upgrades_downgrades = upgrades_downgrades.reset_index()

#añadir valor del ticker para todas las filas
upgrades_downgrades["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
upgrades_downgrades["Extraction_Timestamp"] = extraction_time
upgrades_downgrades["Extraction_Timestamp"] = pd.to_datetime(upgrades_downgrades["Extraction_Timestamp"])

#renombrar las columnas
upgrades_downgrades.columns = ["date", "firm", "to_grade", "from_grade", "action", "ticker", "extraction_timestamp"]
   
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_upgrades_downgrades_{datetime.now().strftime('%Y%m%d')}.csv"
upgrades_downgrades.to_csv(file_name)

In [27]:
upgrades_downgrades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 818 entries, 0 to 817
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  818 non-null    datetime64[ns]
 1   firm                  818 non-null    object
 2   to_grade              818 non-null    object
 3   from_grade            818 non-null    object
 4   action                818 non-null    object
 5   ticker                818 non-null    object
 6   extraction_timestamp  818 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 44.9+ KB

In [28]:
upgrades_downgrades.head()

,date,firm,to_grade,from_grade,action,ticker,extraction_timestamp
0,2024-10-18 11:15:27,B of A Securities,Buy,Buy,main,NVDA,2024-10-23 17:02:39
1,2024-10-11 13:55:04,Goldman Sachs,Buy,Buy,main,NVDA,2024-10-23 17:02:39
2,2024-10-10 12:29:45,Morgan Stanley,Overweight,Overweight,reit,NVDA,2024-10-23 17:02:39
3,2024-10-08 19:45:05,Cantor Fitzgerald,Overweight,Overweight,reit,NVDA,2024-10-23 17:02:39
4,2024-10-08 14:41:59,UBS,Buy,Buy,reit,NVDA,2024-10-23 17:02:39

In [29]:
#identificación de las empresas del sector de tecnológico
sector = yf.Sector("technology").top_companies
sector = sector.reset_index().rename(columns={"index": "symbol"})
sector

   symbol                                          name rating  market weight
0    AAPL                                    Apple Inc.    Buy       0.189363
1    NVDA                            NVIDIA Corporation    Buy       0.183535
2    MSFT                         Microsoft Corporation    Buy       0.169411
3    AVGO                                 Broadcom Inc.    Buy       0.044200
4    ORCL                            Oracle Corporation    Buy       0.025809
5     CRM                              Salesforce, Inc.    Buy       0.014519
6     AMD                  Advanced Micro Devices, Inc.    Buy       0.013122
7     ACN                                 Accenture plc    Buy       0.012282
8    CSCO                           Cisco Systems, Inc.    Buy       0.011945
9    ADBE                                    Adobe Inc.    Buy       0.011404
10    IBM   International Business Machines Corporation   Hold       0.011395
11   QCOM                         QUALCOMM Incorporated    Buy       0.009994
12    NOW                              ServiceNow, Inc.    Buy       0.009974
13    TXN                Texas Instruments Incorporated   Hold       0.009739
14   INTU                                   Intuit Inc.    Buy       0.009023
15   UBER                       Uber Technologies, Inc.    Buy       0.008934
16   AMAT                       Applied Materials, Inc.    Buy       0.008038
17   ANET                         Arista Networks, Inc.    Buy       0.006649
18   PANW                      Palo Alto Networks, Inc.    Buy       0.006321
19    ADP               Automatic Data Processing, Inc.   Hold       0.006291
20     MU                       Micron Technology, Inc.    Buy       0.006270
21     FI                                  Fiserv, Inc.    Buy       0.006179
22    ADI                          Analog Devices, Inc.    Buy       0.006000
23   PLTR                    Palantir Technologies Inc.   Hold       0.005149
24   INTC                             Intel Corporation   Hold       0.005047
25   LRCX                      Lam Research Corporation    Buy       0.005037
26   KLAC                               KLA Corporation    Buy       0.004778
27   DELL                        Dell Technologies Inc.    Buy       0.004521
28    APH                          Amphenol Corporation    Buy       0.004390
29    MSI                      Motorola Solutions, Inc.    Buy       0.004181
30   SNPS                                Synopsys, Inc.    Buy       0.004073
31   CRWD                    CrowdStrike Holdings, Inc.    Buy       0.003960
32   MRVL                      Marvell Technology, Inc.    Buy       0.003806
33   CDNS                  Cadence Design Systems, Inc.    Buy       0.003637
34   WDAY                                 Workday, Inc.    Buy       0.003455
35   FTNT                                Fortinet, Inc.   Hold       0.003304
36   ADSK                                Autodesk, Inc.    Buy       0.003284
37   NXPI                       NXP Semiconductors N.V.    Buy       0.003234
38    TTD                          The Trade Desk, Inc.    Buy       0.003117
39    ROP                      Roper Technologies, Inc.    Buy       0.003068
40    APP                          AppLovin Corporation    Buy       0.002908
41   PAYX                                 Paychex, Inc.   Hold       0.002700
42   FICO                        Fair Isaac Corporation    Buy       0.002622
43   TEAM                         Atlassian Corporation    Buy       0.002612
44    FIS  Fidelity National Information Services, Inc.    Buy       0.002605
45    TEL                           TE Connectivity plc    Buy       0.002384
46     SQ                                   Block, Inc.    Buy       0.002372
47   MSTR                    MicroStrategy Incorporated    Buy       0.002353
48   MPWR                Monolithic Power Systems, Inc.    Buy       0.002315
49   DDOG                                 Datadog, Inc.    Buy       0.002202

In [30]:
sector.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   symbol         50 non-null     object
 1   name           50 non-null     object
 2   rating         50 non-null     object
 3   market weight  50 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.7+ KB

In [31]:
#datos de las acciones del sector de tecnológico

tickers = [
    'AAPL', 'MSFT', 'GOOGL', 'AMZN', 'META', 'TSLA', 'NVDA', 'INTC', 'ADBE', 'CSCO',
    'ORCL', 'CRM', 'IBM', 'AMD', 'NFLX', 'PYPL', 'SQ', 'TWTR', 'SNPS', 'ATVI',"AAPL","MSFT",                          
    "AVGO","ORCL", "CRM","AMD",  "ACN", "CSCO", "ADBE", "IBM", "NOW", "QCOM", "TXN", "INTU",                                    
    "UBER", "AMAT", "ANET", "PANW", "MU", "ADP", "FI", "ADI", "INTC", "PLTR", "LRCX", "KLAC",                             
    "DELL", "APH", "MSI", "SNPS", "CRWD", "MRVL", "CDNS", "WDAY", "FTNT", "ADSK", "ROP", "NXPI",                       
    "TTD", "APP", "PAYX", "TEAM", "FIS", "FICO", "SQ", "TEL", "MSTR", "MPWR", "DDOG"  
]

stock_info = []

for ticker in tickers:
    stock = yf.Ticker(ticker)
    stock_data = {
        "ticker": ticker,
        "name": stock.info.get("longName", ""),
        "sector": stock.info.get("sector", ""),
        "industry": stock.info.get("industry", ""),
        "market_cap": stock.info.get("marketCap", ""),
        "full_time_employees": stock.info.get("fullTimeEmployees", ""),
        "marketStart": stock.info.get("regularMarketTime", None)  # Time in Unix
        
    }
    stock_info.append(stock_data)

stocks = pd.DataFrame(stock_info)

# Convert marketStart from Unix timestamp to human-readable date if needed
stocks["marketStart"] = pd.to_datetime(stocks["marketStart"], unit="s")


stocks

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=BTPZZ3xIXui

,ticker,name,sector,industry,market_cap,full_time_employees,marketStart
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3561712517120,161000,NaT
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3188067926016,228000,NaT
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2025036316672,179582,NaT
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1967400157184,1525000,NaT
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1466030620672,70799,NaT
...,...,...,...,...,...,...,...
64,SQ,"Block, Inc.",Technology,Software - Infrastructure,44640419840,12985,NaT
65,TEL,TE Connectivity plc,Technology,Electronic Components,44803739648,85000,NaT
66,MSTR,MicroStrategy Incorporated,Technology,Software - Application,44336017408,1839,NaT
67,MPWR,"Monolithic Power Systems, Inc.",Technology,Semiconductors,43560886272,3564,NaT
68,DDOG,"Datadog, Inc.",Technology,Software - Application,41425866752,5200,NaT

In [32]:
#IPO (Initial Public Offering)
tech_tickers_ipo = {
    'AAPL': '1980-12-12',
    'MSFT': '1986-03-13',
    'GOOGL': '2004-08-19',
    'AMZN': '1997-05-15',
    'META': '2012-05-18',  
    'TSLA': '2010-06-29',
    'NVDA': '1999-01-22',
    'INTC': '1971-10-13',
    'ADBE': '1986-08-08',
    'CSCO': '1990-02-16',
    'ORCL': '1986-03-12',
    'CRM': '2004-06-23',
    'IBM': '1911-11-12',
    'AMD': '1972-09-18',
    'NFLX': '2002-05-23',
    'PYPL': '2015-07-20',
    'SQ': '2015-11-19',
    'TWTR': '2013-11-07',
    'SNPS': '2000-01-24',
    'ATVI': '2003-08-09',
    'AVGO': '2016-09-14',
    'NOW': '2012-06-28',
    'QCOM': '1991-07-11',
    'TXN': '1953-01-01',
    'INTU': '1993-03-24',
    'UBER': '2019-05-10',
    'AMAT': '1980-06-19',
    'ANET': '2015-06-27',
    'PANW': '2012-07-20',
    'MU': '1984-03-06',
    'ADP': '1961-10-13',
    'FI': 'NA', 
    'ADI': '2000-08-08',
    'PLTR': '2020-09-30',
    'LRCX': '1996-11-06',
    'KLAC': '1995-08-01',
    'DELL': '2018-12-28',  # IPO tras ser privado
    'APH': '2011-07-06',
    'MSI': '2006-12-01',
    'CRWD': '2019-09-20',
    'MRVL': '2000-11-17',
    'CDNS': '1983-03-29',
    'WDAY': '2012-10-09',
    'FTNT': '2009-08-06',
    'ADSK': '1985-12-12',
    'ROP': '2000-08-10',
    'NXPI': '2012-08-02',
    'TTD': '2016-09-21',
    'APP': 'NA', 
    'PAYX': '1971-08-14',
    'TEAM': '2018-09-25',
    'FIS': '1968-01-08',
    'FICO': '1986-04-04',
    'TEL': '2016-01-05',
    'MSTR': '2006-01-26',
    'MPWR': '2007-11-02',
    'DDOG': '2019-09-19',
}

data = []

for ticker, ipo_date in tech_tickers_ipo.items():
    stock = yf.Ticker(ticker)
    info = stock.info
    data.append({
        "ticker": ticker,
        "name": info.get("shortName", None),
        "sector": info.get("sector", None),
        "industry": info.get("industry", None),
        "market_cap": info.get("marketCap", None),
        "full_time_employees": info.get("fullTimeEmployees", None),
        "ipo_date": ipo_date if ipo_date != "NA" else None  # Use the manually defined IPO date
    })


df = pd.DataFrame(data)

df['ipo_date'] = pd.to_datetime(df['ipo_date'])

# Añadir la columna de Extraction_Timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
df["extraction_timestamp"] = extraction_time
df["extraction_timestamp"] = pd.to_datetime(df["extraction_timestamp"])

file_name = f"stocks_{datetime.now().strftime('%Y%m%d')}.csv"
df.to_csv(file_name)

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=BTPZZ3xIXui

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ticker                57 non-null     object
 1   name                  55 non-null     object
 2   sector                55 non-null     object
 3   industry              55 non-null     object
 4   market_cap            55 non-null     float64
 5   full_time_employees   55 non-null     float64
 6   ipo_date              55 non-null     datetime64[ns]
 7   extraction_timestamp  57 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 3.7+ KB

In [34]:
df.head()

,ticker,name,sector,industry,market_cap,full_time_employees,ipo_date,extraction_timestamp
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3.562473e+12,161000.0,1980-12-12,2024-10-23 17:02:57
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3.188328e+12,228000.0,1986-03-13,2024-10-23 17:02:57
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2.025098e+12,179582.0,2004-08-19,2024-10-23 17:02:57
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1.967820e+12,1525000.0,1997-05-15,2024-10-23 17:02:57
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1.466094e+12,70799.0,2012-05-18,2024-10-23 17:02:57