In [1]:
"""
Para las acciones de Nvidia (NVDA), hemos extraído los siguientes ficheros .csv, cada comentario se indica qué tipo de información contienen
"""

'\nPara las acciones de Nvidia (NVDA), hemos extraído los siguientes ficheros .csv, cada comentario se indica qué tipo de información contienen\n'

In [2]:
#pip install yfinance
#pip install finplot
#pip install matplotlib

In [3]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [4]:
#exploración de los datos que existen de una acción
ticker = "NVDA"
stock = yf.Ticker(ticker)
stock_info = stock.info

for line in stock_info.items():
    print("-", line)

- ('address1', '2788 San Tomas Expressway')
- ('city', 'Santa Clara')
- ('state', 'CA')
- ('zip', '95051')
- ('country', 'United States')
- ('phone', '408 486 2000')
- ('website', 'https://www.nvidia.com')
- ('industry', 'Semiconductors')
- ('industryKey', 'semiconductors')
- ('industryDisp', 'Semiconductors')
- ('sector', 'Technology')
- ('sectorKey', 'technology')
- ('sectorDisp', 'Technology')
- ('longBusinessSummary', "NVIDIA Corporation provides graphics and compute and networking solutions in the United States, Taiwan, China, Hong Kong, and internationally. The Graphics segment offers GeForce GPUs for gaming and PCs, the GeForce NOW game streaming service and related infrastructure, and solutions for gaming platforms; Quadro/NVIDIA RTX GPUs for enterprise workstation graphics; virtual GPU or vGPU software for cloud-based visual and virtual computing; automotive platforms for infotainment systems; and Omniverse software for building and operating metaverse and 3D internet applications. The Compute & Networking segment comprises Data Center computing platforms and end-to-end networking platforms, including Quantum for InfiniBand and Spectrum for Ethernet; NVIDIA DRIVE automated-driving platform and automotive development agreements; Jetson robotics and other embedded platforms; NVIDIA AI Enterprise and other software; and DGX Cloud software and services. The company's products are used in gaming, professional visualization, data center, and automotive markets. It sells its products to original equipment manufacturers, original device manufacturers, system integrators and distributors, independent software vendors, cloud service providers, consumer internet companies, add-in board manufacturers, distributors, automotive manufacturers and tier-1 automotive suppliers, and other ecosystem participants. NVIDIA Corporation was incorporated in 1993 and is headquartered in Santa Clara, California.")
- ('fullTimeEmployees', 29600)
- ('companyOfficers', [{'maxAge': 1, 'name': 'Mr. Jen-Hsun  Huang', 'age': 60, 'title': 'Co-Founder, CEO, President & Director', 'yearBorn': 1963, 'fiscalYear': 2024, 'totalPay': 7491487, 'exercisedValue': 217327152, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Colette M. Kress', 'age': 56, 'title': 'Executive VP & CFO', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1510765, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Debora  Shoquist', 'age': 68, 'title': 'Executive Vice President of Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 1371266, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Timothy S. Teter', 'age': 56, 'title': 'Executive VP, General Counsel & Secretary', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1360939, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Ajay K. Puri', 'age': 68, 'title': 'Executive Vice President of Worldwide Field Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 2295097, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Chris A. Malachowsky', 'title': 'Co-Founder', 'fiscalYear': 2024, 'totalPay': 320000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Donald F. Robertson Jr.', 'age': 54, 'title': 'VP & Chief Accounting Officer', 'yearBorn': 1969, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Prof. William J. Dally Ph.D.', 'age': 62, 'title': 'Chief Scientist & Senior VP of Research', 'yearBorn': 1961, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Mylene  Mangalindan', 'title': 'VP of Corporate Communications', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Tommy  Lee', 'title': 'Senior Vice President of Systems Engineering & Application', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}])
- ('auditRisk', 7)
- ('boardRisk', 10)
- ('compensationRisk', 5)
- ('shareHolderRightsRisk', 6)
- ('overallRisk', 8)
- ('governanceEpochDate', 1727740800)
- ('compensationAsOfEpochDate', 1735603200)
- ('irWebsite', 'http://phx.corporate-ir.net/phoenix.zhtml?c=116466&p=irol-IRHome')
- ('maxAge', 86400)
- ('priceHint', 2)
- ('previousClose', 140.41)
- ('open', 140.94)
- ('dayLow', 140.8)
- ('dayHigh', 144.13)
- ('regularMarketPreviousClose', 140.41)
- ('regularMarketOpen', 140.94)
- ('regularMarketDayLow', 140.8)
- ('regularMarketDayHigh', 144.13)
- ('dividendRate', 0.04)
- ('dividendYield', 0.00029999999)
- ('exDividendDate', 1726099200)
- ('payoutRatio', 0.010299999)
- ('fiveYearAvgDividendYield', 0.1)
- ('beta', 1.669)
- ('trailingPE', 66.14018)
- ('forwardPE', 34.86207)
- ('volume', 205122109)
- ('regularMarketVolume', 205122109)
- ('averageVolume', 319251217)
- ('averageVolume10days', 251091790)
- ('averageDailyVolume10Day', 251091790)
- ('marketCap', 3471975907328)
- ('fiftyTwoWeekLow', 39.23)
- ('fiftyTwoWeekHigh', 144.42)
- ('priceToSalesTrailing12Months', 36.051125)
- ('fiftyDayAverage', 124.3498)
- ('twoHundredDayAverage', 102.668655)
- ('trailingAnnualDividendRate', 0.022)
- ('trailingAnnualDividendYield', 0.000156684)
- ('currency', 'USD')
- ('enterpriseValue', 3447191240704)
- ('profitMargins', 0.55041003)
- ('floatShares', 23541441000)
- ('sharesOutstanding', 24529999872)
- ('sharesShort', 255835181)
- ('sharesShortPriorMonth', 275330404)
- ('sharesShortPreviousMonthDate', 1726185600)
- ('dateShortInterest', 1728950400)
- ('sharesPercentSharesOut', 0.0104)
- ('heldPercentInsiders', 0.042940002)
- ('heldPercentInstitutions', 0.66815)
- ('shortRatio', 0.93)
- ('shortPercentOfFloat', 0.0109)
- ('impliedSharesOutstanding', 24748699648)
- ('bookValue', 2.368)
- ('priceToBook', 59.771957)
- ('lastFiscalYearEnd', 1706400000)
- ('nextFiscalYearEnd', 1738022400)
- ('mostRecentQuarter', 1722124800)
- ('earningsQuarterlyGrowth', 1.682)
- ('netIncomeToCommon', 53007998976)
- ('trailingEps', 2.14)
- ('forwardEps', 4.06)
- ('pegRatio', 0.86)
- ('lastSplitFactor', '10:1')
- ('lastSplitDate', 1717977600)
- ('enterpriseToRevenue', 35.794)
- ('enterpriseToEbitda', 56.341)
- ('52WeekChange', 2.4386919)
- ('SandP52WeekChange', 0.39389753)
- ('lastDividendValue', 0.01)
- ('lastDividendDate', 1726099200)
- ('exchange', 'NMS')
- ('quoteType', 'EQUITY')
- ('symbol', 'NVDA')
- ('underlyingSymbol', 'NVDA')
- ('shortName', 'NVIDIA Corporation')
- ('longName', 'NVIDIA Corporation')
- ('firstTradeDateEpochUtc', 917015400)
- ('timeZoneFullName', 'America/New_York')
- ('timeZoneShortName', 'EDT')
- ('uuid', '7f5f6a07-b148-30f4-98a2-2caa3df2aed0')
- ('messageBoardId', 'finmb_32307')
- ('gmtOffSetMilliseconds', -14400000)
- ('currentPrice', 141.54)
- ('targetHighPrice', 202.79)
- ('targetLowPrice', 75.4)
- ('targetMeanPrice', 149.03)
- ('targetMedianPrice', 150.0)
- ('recommendationMean', 1.8)
- ('recommendationKey', 'buy')
- ('numberOfAnalystOpinions', 50)
- ('totalCash', 34800001024)
- ('totalCashPerShare', 1.419)
- ('ebitda', 61184000000)
- ('totalDebt', 10014999552)
- ('quickRatio', 3.503)
- ('currentRatio', 4.269)
- ('totalRevenue', 96307003392)
- ('debtToEquity', 17.221)
- ('revenuePerShare', 3.91)
- ('returnOnAssets', 0.55258)
- ('returnOnEquity', 1.23767)
- ('freeCashflow', 33725874176)
- ('operatingCashflow', 48663998464)
- ('earningsGrowth', 1.68)
- ('revenueGrowth', 1.224)
- ('grossMargins', 0.75975996)
- ('ebitdaMargins', 0.6353)
- ('operatingMargins', 0.62057)
- ('financialCurrency', 'USD')
- ('trailingPegRatio', 1.0936)

In [5]:
tickers = ["NVDA", "AVGO", "AMD", "QCOM", "TXN"]  #indicar qué tickers de compañías se quieren estudiar

In [6]:
#datos del comportamiento de la acción a lo largo del tiempo

def get_historical_prices(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        historical_prices = yf.download(ticker)
        historical_prices = historical_prices.reset_index()
        
        #añadir valor del ticker para todas las filas
        historical_prices["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        historical_prices["extraction_timestamp"] = pd.to_datetime(extraction_time)
        
        #renombrar las columnas
        historical_prices.columns = ["date", "open", "high", "low", "close", "adj_close", "volume", "ticker", "extraction_timestamp"]
        
        #añadir df a la lista
        all_data.append(historical_prices)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"historical_prices_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [7]:
df_historical_prices = get_historical_prices(tickers)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
df_historical_prices

,date,open,high,low,close,adj_close,volume,ticker,extraction_timestamp
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037618,2714688000,NVDA,2024-10-27 19:42:22
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041559,510480000,NVDA,2024-10-27 19:42:22
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038334,343200000,NVDA,2024-10-27 19:42:22
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038215,244368000,NVDA,2024-10-27 19:42:22
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038095,227520000,NVDA,2024-10-27 19:42:22
...,...,...,...,...,...,...,...,...,...
43050,2024-10-21,196.740005,197.929993,194.119995,195.770004,195.770004,4948100,TXN,2024-10-27 19:42:23
43051,2024-10-22,193.610001,195.300003,192.850006,193.970001,193.970001,7910800,TXN,2024-10-27 19:42:23
43052,2024-10-23,201.039993,203.000000,198.000000,201.740005,201.740005,10548500,TXN,2024-10-27 19:42:23
43053,2024-10-24,202.820007,206.910004,201.210007,206.610001,206.610001,9309300,TXN,2024-10-27 19:42:23
43054,2024-10-25,207.610001,211.389999,206.750000,206.929993,206.929993,5103100,TXN,2024-10-27 19:42:23

In [9]:
#datos de cuándo y cuánto ha pagado la empresa en dividendos

def get_dividends(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        dividends = yf.Ticker(ticker).dividends
        dividends = dividends.reset_index()
        
        #añadir valor del ticker para todas las filas
        dividends["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        dividends = pd.DataFrame(dividends)
        dividends["Extraction_Timestamp"] = extraction_time
        dividends["Extraction_Timestamp"] = pd.to_datetime(dividends["Extraction_Timestamp"])
        
        #renombrar las columnas
        dividends.columns = ["date", "dividends", "ticker", "extraction_timestamp"]
    
        #añadir df a la lista
        all_data.append(dividends)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"dividends_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [10]:
df_dividends = get_dividends(tickers)

In [11]:
df_dividends

                         date  dividends ticker extraction_timestamp
0   2012-11-20 00:00:00-05:00   0.001875   NVDA  2024-10-27 19:42:24
1   2013-02-26 00:00:00-05:00   0.001875   NVDA  2024-10-27 19:42:24
2   2013-05-21 00:00:00-04:00   0.001875   NVDA  2024-10-27 19:42:24
3   2013-08-20 00:00:00-04:00   0.001875   NVDA  2024-10-27 19:42:24
4   2013-11-19 00:00:00-05:00   0.002125   NVDA  2024-10-27 19:42:24
..                        ...        ...    ...                  ...
396 2023-07-28 00:00:00-04:00   1.240000    TXN  2024-10-27 19:42:25
397 2023-10-30 00:00:00-04:00   1.300000    TXN  2024-10-27 19:42:25
398 2024-01-30 00:00:00-05:00   1.300000    TXN  2024-10-27 19:42:25
399 2024-05-07 00:00:00-04:00   1.300000    TXN  2024-10-27 19:42:25
400 2024-07-31 00:00:00-04:00   1.300000    TXN  2024-10-27 19:42:25

[401 rows x 4 columns]

In [12]:
#datos de los splits, afectan a cómo se interpreta el precio histórico de las acciones

def get_splits(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        splits = yf.Ticker(ticker).splits
        splits = splits.reset_index()
        
        #añadir valor del ticker para todas las filas
        splits["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        splits = pd.DataFrame(splits)
        splits["Extraction_Timestamp"] = extraction_time
        splits["Extraction_Timestamp"] = pd.to_datetime(splits["Extraction_Timestamp"])
            
        #renombrar las columnas
        splits.columns = ["date", "splits", "ticker", "extraction_timestamp"]
    
        #añadir df a la lista
        all_data.append(splits)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"splits_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [13]:
df_splits = get_splits(tickers)

In [14]:
df_splits

                        date  splits ticker extraction_timestamp
0  2000-06-27 00:00:00-04:00     2.0   NVDA  2024-10-27 19:42:25
1  2001-09-10 00:00:00-04:00     2.0   NVDA  2024-10-27 19:42:25
2  2006-04-07 00:00:00-04:00     2.0   NVDA  2024-10-27 19:42:25
3  2007-09-11 00:00:00-04:00     1.5   NVDA  2024-10-27 19:42:25
4  2021-07-20 00:00:00-04:00     4.0   NVDA  2024-10-27 19:42:25
5  2024-06-10 00:00:00-04:00    10.0   NVDA  2024-10-27 19:42:25
6  2024-07-15 00:00:00-04:00    10.0   AVGO  2024-10-27 19:42:25
7  1980-10-24 00:00:00-04:00     2.0    AMD  2024-10-27 19:42:26
8  1982-10-28 00:00:00-04:00     1.5    AMD  2024-10-27 19:42:26
9  1983-08-23 00:00:00-04:00     2.0    AMD  2024-10-27 19:42:26
10 2000-08-22 00:00:00-04:00     2.0    AMD  2024-10-27 19:42:26
11 1994-02-24 00:00:00-05:00     2.0   QCOM  2024-10-27 19:42:26
12 1999-05-11 00:00:00-04:00     2.0   QCOM  2024-10-27 19:42:26
13 1999-12-31 00:00:00-05:00     4.0   QCOM  2024-10-27 19:42:26
14 2004-08-16 00:00:00-04:00     2.0   QCOM  2024-10-27 19:42:26
15 1973-05-29 00:00:00-04:00     2.0    TXN  2024-10-27 19:42:27
16 1987-06-15 00:00:00-04:00     3.0    TXN  2024-10-27 19:42:27
17 1995-08-21 00:00:00-04:00     2.0    TXN  2024-10-27 19:42:27
18 1997-11-24 00:00:00-05:00     2.0    TXN  2024-10-27 19:42:27
19 1999-08-17 00:00:00-04:00     2.0    TXN  2024-10-27 19:42:27
20 2000-05-23 00:00:00-04:00     2.0    TXN  2024-10-27 19:42:27

In [15]:
#datos de la estructura financiera de la empresa

def get_balance_sheet(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        try:
            balance_sheet = yf.Ticker(ticker).balance_sheet.T
            balance_sheet = balance_sheet.reset_index()
            balance_sheet = balance_sheet.rename(columns={'index': 'Date'})
            
            #añadir valor del ticker para todas las filas
            balance_sheet["ticker"] = ticker
            
            #añadir timestamp
            extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
            balance_sheet["extraction_timestamp"] = pd.to_datetime(extraction_time)
            
            #filtrado de columnas
            columns_needed = {
                "Date": "date",
                "ticker": "ticker",
                "Ordinary Shares Number": "ordinary_shares_number",
                "Net Debt": "net_debt",
                "Total Assets": "total_assets",
                "Current Liabilities": "current_liabilities",
                "Stockholders Equity": "stockholders_equity",
                "extraction_timestamp": "extraction_timestamp"
            }
            balance_sheet_filtered = balance_sheet[[col for col in columns_needed if col in balance_sheet.columns]]
            
            #renombrar las columnas
            balance_sheet_filtered = balance_sheet_filtered.rename(columns=columns_needed)
            
            #añadir df a la lista
            all_data.append(balance_sheet_filtered)
        
        except exception as e: #por si algun ticket da error
            print(f"Error en el {ticker}: {e}")
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"balance_sheet_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [16]:
df_balance_sheet = get_balance_sheet(tickers)

In [17]:
df_balance_sheet

,date,ticker,ordinary_shares_number,net_debt,total_assets,current_liabilities,stockholders_equity,extraction_timestamp
0,2024-01-31,NVDA,24640000000.0,2429000000.0,65728000000.0,10631000000.0,42978000000.0,2024-10-27 19:42:27
1,2023-01-31,NVDA,24661365720.0,7564000000.0,41182000000.0,6563000000.0,22101000000.0,2024-10-27 19:42:27
2,2022-01-31,NVDA,25060000000.0,8956000000.0,44187000000.0,4335000000.0,26612000000.0,2024-10-27 19:42:27
3,2021-01-31,NVDA,24800000000.0,6116000000.0,28791000000.0,3925000000.0,16893000000.0,2024-10-27 19:42:27
4,2020-01-31,NVDA,NaN,NaN,NaN,NaN,NaN,2024-10-27 19:42:27
5,2023-10-31,AVGO,4140000000.0,24991000000.0,72861000000.0,7405000000.0,23988000000.0,2024-10-27 19:42:27
6,2022-10-31,AVGO,4180000000.0,27040000000.0,73249000000.0,7052000000.0,22709000000.0,2024-10-27 19:42:27
7,2021-10-31,AVGO,4130000000.0,27502000000.0,75570000000.0,6281000000.0,24989000000.0,2024-10-27 19:42:27
8,2020-10-31,AVGO,4070000000.0,33444000000.0,75933000000.0,6371000000.0,23901000000.0,2024-10-27 19:42:27
9,2019-10-31,AVGO,NaN,NaN,NaN,NaN,NaN,2024-10-27 19:42:27
10,2023-12-31,AMD,1616000000.0,NaN,67885000000.0,6689000000.0,55892000000.0,2024-10-27 19:42:27
11,2022-12-31,AMD,1612000000.0,NaN,67580000000.0,6369000000.0,54750000000.0,2024-10-27 19:42:27
12,2021-12-31,AMD,1207000000.0,NaN,12419000000.0,4240000000.0,7497000000.0,2024-10-27 19:42:27
13,2020-12-31,AMD,1211000000.0,NaN,8962000000.0,2417000000.0,5837000000.0,2024-10-27 19:42:27
14,2019-12-31,AMD,NaN,NaN,NaN,NaN,NaN,2024-10-27 19:42:27
15,2023-09-30,QCOM,1114000000.0,6948000000.0,51040000000.0,9628000000.0,21581000000.0,2024-10-27 19:42:27
16,2022-09-30,QCOM,1121000000.0,12709000000.0,49014000000.0,11866000000.0,18013000000.0,2024-10-27 19:42:27
17,2021-09-30,QCOM,1125000000.0,8629000000.0,41240000000.0,11951000000.0,9950000000.0,2024-10-27 19:42:27
18,2020-09-30,QCOM,1131000000.0,9019000000.0,35594000000.0,8672000000.0,6077000000.0,2024-10-27 19:42:27
19,2023-12-31,TXN,909000000.0,8259000000.0,32348000000.0,3320000000.0,16897000000.0,2024-10-27 19:42:27
20,2022-12-31,TXN,906000000.0,5685000000.0,27207000000.0,2985000000.0,14577000000.0,2024-10-27 19:42:27
21,2021-12-31,TXN,924000000.0,3110000000.0,24676000000.0,2569000000.0,13333000000.0,2024-10-27 19:42:27
22,2020-12-31,TXN,919354152.0,3691000000.0,19351000000.0,2390000000.0,9187000000.0,2024-10-27 19:42:27
23,2019-12-31,TXN,NaN,NaN,NaN,NaN,NaN,2024-10-27 19:42:27

In [18]:
#estado de resultados, para entender la rentabilidad de la empresa a lo largo del tiempo

def get_income_statement(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        income_statement = yf.Ticker(ticker).financials.T
        income_statement = income_statement.reset_index()
        income_statement = income_statement.rename(columns={'index': 'Date'})
        
        #añadir valor del ticker para todas las filas
        income_statement["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        income_statement["Extraction_Timestamp"] = extraction_time
        income_statement["Extraction_Timestamp"] = pd.to_datetime(income_statement["Extraction_Timestamp"])
                
        #filtrar columnas
        income_statement_filtered = income_statement[["Date", "ticker", "EBITDA", "Total Revenue", "Net Income", "Operating Income", "Diluted EPS", "Extraction_Timestamp"]]
        
        #renombrar las columnas
        income_statement_filtered.columns = ["date", "ticker", "ebitda", "total_revenue", "net_income", "operating_income", "diluted_eps", "extraction_timestamp"]
    
        #añadir df a la lista
        all_data.append(income_statement_filtered)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"income_statement_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [19]:
df_income_statement = get_income_statement(tickers)

In [20]:
df_income_statement

,date,ticker,ebitda,total_revenue,net_income,operating_income,diluted_eps,extraction_timestamp
0,2024-01-31,NVDA,35583000000.0,60922000000.0,29760000000.0,32972000000.0,1.193,2024-10-27 19:42:27
1,2023-01-31,NVDA,5987000000.0,26974000000.0,4368000000.0,5577000000.0,0.174,2024-10-27 19:42:27
2,2022-01-31,NVDA,11351000000.0,26914000000.0,9752000000.0,10041000000.0,0.385,2024-10-27 19:42:27
3,2021-01-31,NVDA,5691000000.0,16675000000.0,4332000000.0,4532000000.0,0.1725,2024-10-27 19:42:27
4,2023-10-31,AVGO,20554000000.0,35819000000.0,14082000000.0,16451000000.0,3.298,2024-10-27 19:42:28
5,2022-10-31,AVGO,19155000000.0,33203000000.0,11495000000.0,14282000000.0,2.646368,2024-10-27 19:42:28
6,2021-10-31,AVGO,14691000000.0,27450000000.0,6736000000.0,8667000000.0,1.49625,2024-10-27 19:42:28
7,2020-10-31,AVGO,11125000000.0,23888000000.0,2960000000.0,4212000000.0,0.631418,2024-10-27 19:42:28
8,2019-10-31,AVGO,NaN,NaN,NaN,NaN,NaN,2024-10-27 19:42:28
9,2023-12-31,AMD,4149000000.0,22680000000.0,854000000.0,401000000.0,0.53,2024-10-27 19:42:28
10,2022-12-31,AMD,5534000000.0,23601000000.0,1320000000.0,1264000000.0,0.84,2024-10-27 19:42:28
11,2021-12-31,AMD,4166000000.0,16434000000.0,3162000000.0,3648000000.0,2.57,2024-10-27 19:42:28
12,2020-12-31,AMD,1676000000.0,9763000000.0,2490000000.0,1369000000.0,2.06,2024-10-27 19:42:28
13,2019-12-31,AMD,NaN,NaN,NaN,NaN,NaN,2024-10-27 19:42:28
14,2023-09-30,QCOM,9946000000.0,35820000000.0,7232000000.0,7788000000.0,6.42,2024-10-27 19:42:28
15,2022-09-30,QCOM,17250000000.0,44200000000.0,12936000000.0,15860000000.0,11.37,2024-10-27 19:42:28
16,2021-09-30,QCOM,12415000000.0,33566000000.0,9043000000.0,9789000000.0,7.87,2024-10-27 19:42:28
17,2020-09-30,QCOM,7714000000.0,23531000000.0,5198000000.0,6255000000.0,4.52,2024-10-27 19:42:28
18,2023-12-31,TXN,9009000000.0,17519000000.0,6510000000.0,7331000000.0,7.07,2024-10-27 19:42:28
19,2022-12-31,TXN,11225000000.0,20028000000.0,8749000000.0,10397000000.0,9.41,2024-10-27 19:42:28
20,2021-12-31,TXN,10057000000.0,18344000000.0,7769000000.0,9156000000.0,8.26,2024-10-27 19:42:28
21,2020-12-31,TXN,7199000000.0,14461000000.0,5595000000.0,6116000000.0,5.97,2024-10-27 19:42:28

In [21]:
#muestra cómo se genera y usa el efectivo, sirve para medir su salud financiera

def get_cashflow(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        cashflow = yf.Ticker(ticker).cashflow.T
        cashflow = cashflow.reset_index()
        cashflow = cashflow.rename(columns={'index': 'Date'})
        
        #añadir valor del ticker para todas las filas
        cashflow["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        cashflow["Extraction_Timestamp"] = extraction_time
        cashflow["Extraction_Timestamp"] = pd.to_datetime(cashflow["Extraction_Timestamp"])
        
        #filtrar columnas
        cashflow_filtered = cashflow[["Date", "ticker", "Operating Cash Flow", "Capital Expenditure", "Free Cash Flow", "Extraction_Timestamp"]]
        
        #renombrar las columnas
        cashflow_filtered.columns = ["date", "ticker", "operating_cash_flow", "capital_expenditure", "free_cash_flow", "extraction_timestamp"]
           
        #añadir df a la lista
        all_data.append(cashflow_filtered)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"cashflow_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [22]:
df_cashflow = get_cashflow(tickers)

In [23]:
df_cashflow

,date,ticker,operating_cash_flow,capital_expenditure,free_cash_flow,extraction_timestamp
0,2024-01-31,NVDA,28090000000.0,-1069000000.0,27021000000.0,2024-10-27 19:42:28
1,2023-01-31,NVDA,5641000000.0,-1833000000.0,3808000000.0,2024-10-27 19:42:28
2,2022-01-31,NVDA,9108000000.0,-976000000.0,8132000000.0,2024-10-27 19:42:28
3,2021-01-31,NVDA,5822000000.0,-1128000000.0,4694000000.0,2024-10-27 19:42:28
4,2020-01-31,NVDA,NaN,NaN,NaN,2024-10-27 19:42:28
5,2023-10-31,AVGO,18085000000.0,-452000000.0,17633000000.0,2024-10-27 19:42:28
6,2022-10-31,AVGO,16736000000.0,-424000000.0,16312000000.0,2024-10-27 19:42:28
7,2021-10-31,AVGO,13764000000.0,-443000000.0,13321000000.0,2024-10-27 19:42:28
8,2020-10-31,AVGO,12061000000.0,-463000000.0,11598000000.0,2024-10-27 19:42:28
9,2019-10-31,AVGO,NaN,NaN,NaN,2024-10-27 19:42:28
10,2023-12-31,AMD,1667000000.0,-546000000.0,1121000000.0,2024-10-27 19:42:28
11,2022-12-31,AMD,3565000000.0,-450000000.0,3115000000.0,2024-10-27 19:42:28
12,2021-12-31,AMD,3521000000.0,-301000000.0,3220000000.0,2024-10-27 19:42:28
13,2020-12-31,AMD,1071000000.0,-294000000.0,777000000.0,2024-10-27 19:42:28
14,2019-12-31,AMD,NaN,NaN,NaN,2024-10-27 19:42:28
15,2023-09-30,QCOM,11299000000.0,-1450000000.0,9849000000.0,2024-10-27 19:42:29
16,2022-09-30,QCOM,9096000000.0,-2262000000.0,6834000000.0,2024-10-27 19:42:29
17,2021-09-30,QCOM,10536000000.0,-1888000000.0,8648000000.0,2024-10-27 19:42:29
18,2020-09-30,QCOM,5814000000.0,-1407000000.0,4407000000.0,2024-10-27 19:42:29
19,2023-12-31,TXN,6420000000.0,-5071000000.0,1349000000.0,2024-10-27 19:42:29
20,2022-12-31,TXN,8720000000.0,-2797000000.0,5923000000.0,2024-10-27 19:42:29
21,2021-12-31,TXN,8756000000.0,-2462000000.0,6294000000.0,2024-10-27 19:42:29
22,2020-12-31,TXN,6139000000.0,-649000000.0,5490000000.0,2024-10-27 19:42:29
23,2019-12-31,TXN,NaN,NaN,NaN,2024-10-27 19:42:29

In [24]:
#identificación de las instituciones que tienen participaciones

def get_holders(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        holders = yf.Ticker(ticker).institutional_holders
        
        #añadir valor del ticker para todas las filas
        holders["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        holders["Extraction_Timestamp"] = extraction_time
        holders["Extraction_Timestamp"] = pd.to_datetime(holders["Extraction_Timestamp"])
    
        #renombrar las columnas
        holders.columns = ["date", "holder", "pct_held", "shares", "value", "ticker", "extraction_timestamp"]
        
        #añadir df a la lista
        all_data.append(holders)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"holders_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [25]:
df_holders = get_holders(tickers)

In [26]:
df_holders

,date,holder,pct_held,shares,value,ticker,extraction_timestamp
0,2024-03-31,Vanguard Group Inc,0.8672,2133356260,192761538228,NVDA,2024-10-27 19:42:29
1,2024-03-31,Blackrock Inc.,0.7408,1822389250,164663803073,NVDA,2024-10-27 19:42:29
2,2024-03-31,"FMR, LLC",0.4679,1151036980,104003097364,NVDA,2024-10-27 19:42:29
3,2024-03-31,State Street Corporation,0.3678,904894170,81762617624,NVDA,2024-10-27 19:42:29
4,2024-03-31,"Geode Capital Management, LLC",0.2134,524942990,47431748804,NVDA,2024-10-27 19:42:29
5,2024-03-31,Price (T.Rowe) Associates Inc,0.1876,461499100,41699212679,NVDA,2024-10-27 19:42:29
6,2024-03-31,JP Morgan Chase & Company,0.1543,379614540,34300451376,NVDA,2024-10-27 19:42:29
7,2024-03-31,Morgan Stanley,0.1377,338760640,30609056387,NVDA,2024-10-27 19:42:29
8,2023-12-31,Norges Bank Investment Management,0.1199,294947080,14606369295,NVDA,2024-10-27 19:42:29
9,2024-03-31,Northern Trust Corporation,0.0986,242517530,21912913940,NVDA,2024-10-27 19:42:29
10,2023-06-30,Vanguard Group Inc,0.0982,40531455,35158200010,AVGO,2024-10-27 19:42:29
11,2023-06-30,Blackrock Inc.,0.0768,31681688,27481646621,AVGO,2024-10-27 19:42:29
12,2023-06-30,Capital World Investors,0.0674,27822521,24134089391,AVGO,2024-10-27 19:42:29
13,2023-06-30,Capital International Investors,0.0555,22910715,19873441512,AVGO,2024-10-27 19:42:29
14,2023-06-30,Capital Research Global Investors,0.0465,19205984,16659846701,AVGO,2024-10-27 19:42:29
15,2023-06-30,State Street Corporation,0.0410,16941449,14695521106,AVGO,2024-10-27 19:42:29
16,2023-06-30,"Geode Capital Management, LLC",0.0208,8602239,7461840175,AVGO,2024-10-27 19:42:29
17,2023-06-30,Bank of America Corporation,0.0202,8353977,7246490269,AVGO,2024-10-27 19:42:29
18,2023-06-30,Morgan Stanley,0.0145,6001603,5205970490,AVGO,2024-10-27 19:42:29
19,2023-06-30,"Charles Schwab Investment Management, Inc.",0.0132,5444336,4722580376,AVGO,2024-10-27 19:42:29
20,2023-09-30,Vanguard Group Inc,0.0875,140054820,14400436592,AMD,2024-10-27 19:42:29
21,2023-09-30,Blackrock Inc.,0.0760,121643071,12507340560,AMD,2024-10-27 19:42:29
22,2023-09-30,State Street Corporation,0.0401,64162483,6597186502,AMD,2024-10-27 19:42:29
23,2023-09-30,"FMR, LLC",0.0257,41078610,4223702680,AMD,2024-10-27 19:42:29
24,2023-09-30,JP Morgan Chase & Company,0.0224,35809867,3681970524,AMD,2024-10-27 19:42:29
25,2023-09-30,"Geode Capital Management, LLC",0.0194,31103595,3198071637,AMD,2024-10-27 19:42:29
26,2023-09-30,"Fisher Asset Management, LLC",0.0174,27768188,2855125090,AMD,2024-10-27 19:42:29
27,2023-09-30,Jennison Associates LLC,0.0159,25395283,2611142998,AMD,2024-10-27 19:42:29
28,2023-09-30,Price (T.Rowe) Associates Inc,0.0157,25122292,2583074063,AMD,2024-10-27 19:42:29
29,2023-09-30,Morgan Stanley,0.0152,24351551,2503826473,AMD,2024-10-27 19:42:29
30,2023-06-30,Vanguard Group Inc,0.1002,110233998,13122255121,QCOM,2024-10-27 19:42:29
31,2023-06-30,Blackrock Inc.,0.0774,85088444,10128928373,QCOM,2024-10-27 19:42:29
32,2023-06-30,State Street Corporation,0.0446,49042212,5837984916,QCOM,2024-10-27 19:42:29
33,2023-06-30,"Geode Capital Management, LLC",0.0196,21582298,2569156753,QCOM,2024-10-27 19:42:29
34,2023-06-30,Morgan Stanley,0.0185,20328829,2419943804,QCOM,2024-10-27 19:42:29
35,2023-06-30,Price (T.Rowe) Associates Inc,0.0171,18819581,2240282922,QCOM,2024-10-27 19:42:29
36,2023-06-30,Alliancebernstein L.P.,0.0164,18042933,2147830744,QCOM,2024-10-27 19:42:29
37,2023-06-30,"FMR, LLC",0.0139,15343677,1826511310,QCOM,2024-10-27 19:42:29
38,2023-06-30,"Wellington Management Group, LLP",0.0139,15298280,1821107251,QCOM,2024-10-27 19:42:29
39,2023-06-30,"Ameriprise Financial, Inc.",0.0133,14618628,1740201477,QCOM,2024-10-27 19:42:29
40,2023-06-30,Vanguard Group Inc,0.0974,88403348,15914370706,TXN,2024-10-27 19:42:29
41,2023-06-30,Blackrock Inc.,0.0878,79683366,14344599547,TXN,2024-10-27 19:42:29
42,2023-06-30,State Street Corporation,0.0418,37931129,6828361842,TXN,2024-10-27 19:42:29
43,2023-06-30,"Wellington Management Group, LLP",0.0292,26527026,4775395220,TXN,2024-10-27 19:42:29
44,2023-06-30,Bank of America Corporation,0.0246,22331047,4020035080,TXN,2024-10-27 19:42:29
45,2023-06-30,"Geode Capital Management, LLC",0.0227,20649108,3717252422,TXN,2024-10-27 19:42:29
46,2023-06-30,JP Morgan Chase & Company,0.0216,19599901,3528374178,TXN,2024-10-27 19:42:29
47,2023-06-30,"Charles Schwab Investment Management, Inc.",0.0199,18053857,3250055337,TXN,2024-10-27 19:42:29
48,2023-06-30,Capital Research Global Investors,0.0188,17061878,3071479277,TXN,2024-10-27 19:42:29
49,2023-06-30,Primecap Management Company,0.0175,15928105,2867377462,TXN,2024-10-27 19:42:29

In [27]:
#datos de los cambios en las calificaciones que los analistas financieros hacen sobre una acción

def get_upgrades_downgrades(tickers):
    all_data = []  #almacenar los df individuales de cada ticker
    
    for ticker in tickers:
        upgrades_downgrades = yf.Ticker(ticker).upgrades_downgrades
        upgrades_downgrades = upgrades_downgrades.reset_index()
        
        #añadir valor del ticker para todas las filas
        upgrades_downgrades["ticker"] = ticker
        
        #añadir timestamp
        extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        upgrades_downgrades["Extraction_Timestamp"] = extraction_time
        upgrades_downgrades["Extraction_Timestamp"] = pd.to_datetime(upgrades_downgrades["Extraction_Timestamp"])
        
        #renombrar las columnas
        upgrades_downgrades.columns = ["date", "firm", "to_grade", "from_grade", "action", "ticker", "extraction_timestamp"]
            
        #añadir df a la lista
        all_data.append(upgrades_downgrades)
    
    #concatenar todos los dfs en uno solo
    combined_data = pd.concat(all_data, ignore_index=True)
    
    #guardar csv con el nombre del ticker y la fecha de extracción    
    file_name = f"upgrades_downgrades_{datetime.now().strftime('%Y%m%d')}.csv"
    combined_data.to_csv(file_name, index=False)
    
    return combined_data

In [28]:
df_upgrades_downgrades = get_upgrades_downgrades(tickers)

In [29]:
df_upgrades_downgrades

,date,firm,to_grade,from_grade,action,ticker,extraction_timestamp
0,2024-10-18 11:15:27,B of A Securities,Buy,Buy,main,NVDA,2024-10-27 19:42:29
1,2024-10-11 13:55:04,Goldman Sachs,Buy,Buy,main,NVDA,2024-10-27 19:42:29
2,2024-10-10 12:29:45,Morgan Stanley,Overweight,Overweight,reit,NVDA,2024-10-27 19:42:29
3,2024-10-08 19:45:05,Cantor Fitzgerald,Overweight,Overweight,reit,NVDA,2024-10-27 19:42:29
4,2024-10-08 14:41:59,UBS,Buy,Buy,reit,NVDA,2024-10-27 19:42:29
...,...,...,...,...,...,...,...
2721,2012-07-24 09:52:00,Williams Capital,Buy,,main,TXN,2024-10-27 19:42:30
2722,2012-07-16 11:01:00,FBR Capital,Underperform,Market Perform,down,TXN,2024-10-27 19:42:30
2723,2012-04-24 12:26:00,FBR Capital,Market Perform,,main,TXN,2024-10-27 19:42:30
2724,2012-04-24 11:29:00,Morgan Stanley,Overweight,,main,TXN,2024-10-27 19:42:30
2725,2012-04-02 16:54:00,UBS,Neutral,Buy,down,TXN,2024-10-27 19:42:30

In [30]:
#identificación de las empresas del sector de tecnológico
sector = yf.Sector("technology").top_companies
sector = sector.reset_index().rename(columns={"index": "symbol"})
sector

   symbol                                          name rating  market weight
0    AAPL                                    Apple Inc.    Buy       0.187056
1    NVDA                            NVIDIA Corporation    Buy       0.184589
2    MSFT                         Microsoft Corporation    Buy       0.169228
3    AVGO                                 Broadcom Inc.    Buy       0.043085
4    ORCL                            Oracle Corporation    Buy       0.025564
5     CRM                              Salesforce, Inc.    Buy       0.014763
6     AMD                  Advanced Micro Devices, Inc.    Buy       0.013443
7     ACN                                 Accenture plc    Buy       0.012313
8    CSCO                           Cisco Systems, Inc.    Buy       0.011927
9     IBM   International Business Machines Corporation   Hold       0.011398
10   ADBE                                    Adobe Inc.    Buy       0.011351
11    NOW                              ServiceNow, Inc.    Buy       0.010430
12   QCOM                         QUALCOMM Incorporated    Buy       0.010084
13    TXN                Texas Instruments Incorporated   Hold       0.010036
14   INTU                                   Intuit Inc.    Buy       0.009079
15   UBER                       Uber Technologies, Inc.    Buy       0.008917
16   AMAT                       Applied Materials, Inc.    Buy       0.008175
17   ANET                         Arista Networks, Inc.    Buy       0.006582
18     MU                       Micron Technology, Inc.    Buy       0.006361
19   PANW                      Palo Alto Networks, Inc.    Buy       0.006343
20    ADP               Automatic Data Processing, Inc.   Hold       0.006289
21     FI                                  Fiserv, Inc.    Buy       0.006121
22    ADI                          Analog Devices, Inc.    Buy       0.006076
23   LRCX                      Lam Research Corporation    Buy       0.005353
24   INTC                             Intel Corporation   Hold       0.005156
25   PLTR                    Palantir Technologies Inc.   Hold       0.005109
26   KLAC                               KLA Corporation    Buy       0.004794
27   DELL                        Dell Technologies Inc.    Buy       0.004460
28    APH                          Amphenol Corporation    Buy       0.004444
29    MSI                      Motorola Solutions, Inc.    Buy       0.004143
30   SNPS                                Synopsys, Inc.    Buy       0.004096
31   CRWD                    CrowdStrike Holdings, Inc.    Buy       0.003901
32   MRVL                      Marvell Technology, Inc.    Buy       0.003768
33   CDNS                  Cadence Design Systems, Inc.    Buy       0.003746
34   WDAY                                 Workday, Inc.    Buy       0.003410
35   NXPI                       NXP Semiconductors N.V.    Buy       0.003293
36   ADSK                                Autodesk, Inc.    Buy       0.003280
37   FTNT                                Fortinet, Inc.   Hold       0.003268
38    ROP                      Roper Technologies, Inc.    Buy       0.003094
39    TTD                          The Trade Desk, Inc.    Buy       0.003073
40    APP                          AppLovin Corporation    Buy       0.002833
41   PAYX                                 Paychex, Inc.   Hold       0.002706
42   TEAM                         Atlassian Corporation    Buy       0.002615
43    FIS  Fidelity National Information Services, Inc.    Buy       0.002608
44   FICO                        Fair Isaac Corporation    Buy       0.002607
45    TEL                           TE Connectivity plc    Buy       0.002410
46     SQ                                   Block, Inc.    Buy       0.002337
47   MPWR                Monolithic Power Systems, Inc.    Buy       0.002336
48   MSTR                    MicroStrategy Incorporated    Buy       0.002305
49   DDOG                                 Datadog, Inc.    Buy       0.002178

In [31]:
#datos de las acciones del sector de tecnológico

tickers = [
    'AAPL', 'MSFT', 'GOOGL', 'AMZN', 'META', 'TSLA', 'NVDA', 'INTC', 'ADBE', 'CSCO',
    'ORCL', 'CRM', 'IBM', 'AMD', 'NFLX', 'PYPL', 'SQ', 'TWTR', 'SNPS', 'ATVI',"AAPL","MSFT",                          
    "AVGO","ORCL", "CRM","AMD",  "ACN", "CSCO", "ADBE", "IBM", "NOW", "QCOM", "TXN", "INTU",                                    
    "UBER", "AMAT", "ANET", "PANW", "MU", "ADP", "FI", "ADI", "INTC", "PLTR", "LRCX", "KLAC",                             
    "DELL", "APH", "MSI", "SNPS", "CRWD", "MRVL", "CDNS", "WDAY", "FTNT", "ADSK", "ROP", "NXPI",                       
    "TTD", "APP", "PAYX", "TEAM", "FIS", "FICO", "SQ", "TEL", "MSTR", "MPWR", "DDOG"  
]

stock_info = []

for ticker in tickers:
    stock = yf.Ticker(ticker)
    stock_data = {
        "ticker": ticker,
        "name": stock.info.get("longName", ""),
        "sector": stock.info.get("sector", ""),
        "industry": stock.info.get("industry", ""),
        "market_cap": stock.info.get("marketCap", ""),
        "full_time_employees": stock.info.get("fullTimeEmployees", ""),
        "marketStart": stock.info.get("regularMarketTime", None)  # Time in Unix
        
    }
    stock_info.append(stock_data)

stocks = pd.DataFrame(stock_info)

# Convert marketStart from Unix timestamp to human-readable date if needed
stocks["marketStart"] = pd.to_datetime(stocks["marketStart"], unit="s")

stocks

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=e%2FYpFJsPE8e

,ticker,name,sector,industry,market_cap,full_time_employees,marketStart
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3518380900352,161000,NaT
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3183055470592,228000,NaT
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2013319135232,179582,NaT
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1971388547072,1525000,NaT
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1426033999872,70799,NaT
...,...,...,...,...,...,...,...
64,SQ,"Block, Inc.",Technology,Software - Infrastructure,43950907392,12985,NaT
65,TEL,TE Connectivity plc,Technology,Electronic Components,45323444224,85000,NaT
66,MSTR,MicroStrategy Incorporated,Technology,Software - Application,43352432640,1839,NaT
67,MPWR,"Monolithic Power Systems, Inc.",Technology,Semiconductors,43939688448,3564,NaT
68,DDOG,"Datadog, Inc.",Technology,Software - Application,40970797056,5200,NaT

In [32]:
#IPO (Initial Public Offering)
tech_tickers_ipo = {
    'AAPL': '1980-12-12',
    'MSFT': '1986-03-13',
    'GOOGL': '2004-08-19',
    'AMZN': '1997-05-15',
    'META': '2012-05-18',  
    'TSLA': '2010-06-29',
    'NVDA': '1999-01-22',
    'INTC': '1971-10-13',
    'ADBE': '1986-08-08',
    'CSCO': '1990-02-16',
    'ORCL': '1986-03-12',
    'CRM': '2004-06-23',
    'IBM': '1911-11-12',
    'AMD': '1972-09-18',
    'NFLX': '2002-05-23',
    'PYPL': '2015-07-20',
    'SQ': '2015-11-19',
    'TWTR': '2013-11-07',
    'SNPS': '2000-01-24',
    'ATVI': '2003-08-09',
    'AVGO': '2016-09-14',
    'NOW': '2012-06-28',
    'QCOM': '1991-07-11',
    'TXN': '1953-01-01',
    'INTU': '1993-03-24',
    'UBER': '2019-05-10',
    'AMAT': '1980-06-19',
    'ANET': '2015-06-27',
    'PANW': '2012-07-20',
    'MU': '1984-03-06',
    'ADP': '1961-10-13',
    'FI': 'NA', 
    'ADI': '2000-08-08',
    'PLTR': '2020-09-30',
    'LRCX': '1996-11-06',
    'KLAC': '1995-08-01',
    'DELL': '2018-12-28',  # IPO tras ser privado
    'APH': '2011-07-06',
    'MSI': '2006-12-01',
    'CRWD': '2019-09-20',
    'MRVL': '2000-11-17',
    'CDNS': '1983-03-29',
    'WDAY': '2012-10-09',
    'FTNT': '2009-08-06',
    'ADSK': '1985-12-12',
    'ROP': '2000-08-10',
    'NXPI': '2012-08-02',
    'TTD': '2016-09-21',
    'APP': 'NA', 
    'PAYX': '1971-08-14',
    'TEAM': '2018-09-25',
    'FIS': '1968-01-08',
    'FICO': '1986-04-04',
    'TEL': '2016-01-05',
    'MSTR': '2006-01-26',
    'MPWR': '2007-11-02',
    'DDOG': '2019-09-19',
}

data = []

for ticker, ipo_date in tech_tickers_ipo.items():
    stock = yf.Ticker(ticker)
    info = stock.info
    data.append({
        "ticker": ticker,
        "name": info.get("shortName", None),
        "sector": info.get("sector", None),
        "industry": info.get("industry", None),
        "market_cap": info.get("marketCap", None),
        "full_time_employees": info.get("fullTimeEmployees", None),
        "ipo_date": ipo_date if ipo_date != "NA" else None  # Use the manually defined IPO date
    })


df = pd.DataFrame(data)

df['ipo_date'] = pd.to_datetime(df['ipo_date'])

# Añadir la columna de Extraction_Timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
df["extraction_timestamp"] = extraction_time
df["extraction_timestamp"] = pd.to_datetime(df["extraction_timestamp"])

file_name = f"stocks_{datetime.now().strftime('%Y%m%d')}.csv"
df.to_csv(file_name)

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=p%2FYrM8eEbGR

In [33]:
df.head(10)

,ticker,name,sector,industry,market_cap,full_time_employees,ipo_date,extraction_timestamp
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3.518381e+12,161000.0,1980-12-12,2024-10-27 19:42:46
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3.183055e+12,228000.0,1986-03-13,2024-10-27 19:42:46
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2.013319e+12,179582.0,2004-08-19,2024-10-27 19:42:46
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1.971389e+12,1525000.0,1997-05-15,2024-10-27 19:42:46
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1.426034e+12,70799.0,2012-05-18,2024-10-27 19:42:46
5,TSLA,"Tesla, Inc.",Consumer Cyclical,Auto Manufacturers,8.641161e+11,140473.0,2010-06-29,2024-10-27 19:42:46
6,NVDA,NVIDIA Corporation,Technology,Semiconductors,3.471976e+12,29600.0,1999-01-22,2024-10-27 19:42:46
7,INTC,Intel Corporation,Technology,Semiconductors,9.697968e+10,124800.0,1971-10-13,2024-10-27 19:42:46
8,ADBE,Adobe Inc.,Technology,Software - Infrastructure,2.135101e+11,29945.0,1986-08-08,2024-10-27 19:42:46
9,CSCO,"Cisco Systems, Inc.",Technology,Communication Equipment,2.243329e+11,90400.0,1990-02-16,2024-10-27 19:42:46