In [1]:
"""
Para las acciones de Nvidia (NVDA), he extraído los siguientes ficheros .csv, en cada
comentario se indica qué tipos de datos o información contienen
"""

'\nPara las acciones de Nvidia (NVDA), he extraído los siguientes ficheros .csv, en cada\ncomentario se indica qué tipos de datos o información contienen\n'

In [2]:
#pip install yfinance
#pip install finplot
#pip install matplotlib

In [3]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [4]:
#exploración de los datos que existen de una acción
ticker = "NVDA"
stock = yf.Ticker(ticker)
stock_info = stock.info

for line in stock_info.items():
    print("-", line)

- ('address1', '2788 San Tomas Expressway')
- ('city', 'Santa Clara')
- ('state', 'CA')
- ('zip', '95051')
- ('country', 'United States')
- ('phone', '408 486 2000')
- ('website', 'https://www.nvidia.com')
- ('industry', 'Semiconductors')
- ('industryKey', 'semiconductors')
- ('industryDisp', 'Semiconductors')
- ('sector', 'Technology')
- ('sectorKey', 'technology')
- ('sectorDisp', 'Technology')
- ('longBusinessSummary', "NVIDIA Corporation provides graphics and compute and networking solutions in the United States, Taiwan, China, Hong Kong, and internationally. The Graphics segment offers GeForce GPUs for gaming and PCs, the GeForce NOW game streaming service and related infrastructure, and solutions for gaming platforms; Quadro/NVIDIA RTX GPUs for enterprise workstation graphics; virtual GPU or vGPU software for cloud-based visual and virtual computing; automotive platforms for infotainment systems; and Omniverse software for building and operating metaverse and 3D internet applications. The Compute & Networking segment comprises Data Center computing platforms and end-to-end networking platforms, including Quantum for InfiniBand and Spectrum for Ethernet; NVIDIA DRIVE automated-driving platform and automotive development agreements; Jetson robotics and other embedded platforms; NVIDIA AI Enterprise and other software; and DGX Cloud software and services. The company's products are used in gaming, professional visualization, data center, and automotive markets. It sells its products to original equipment manufacturers, original device manufacturers, system integrators and distributors, independent software vendors, cloud service providers, consumer internet companies, add-in board manufacturers, distributors, automotive manufacturers and tier-1 automotive suppliers, and other ecosystem participants. NVIDIA Corporation was incorporated in 1993 and is headquartered in Santa Clara, California.")
- ('fullTimeEmployees', 29600)
- ('companyOfficers', [{'maxAge': 1, 'name': 'Mr. Jen-Hsun  Huang', 'age': 60, 'title': 'Co-Founder, CEO, President & Director', 'yearBorn': 1963, 'fiscalYear': 2024, 'totalPay': 7491487, 'exercisedValue': 217327152, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Colette M. Kress', 'age': 56, 'title': 'Executive VP & CFO', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1510765, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Debora  Shoquist', 'age': 68, 'title': 'Executive Vice President of Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 1371266, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Timothy S. Teter', 'age': 56, 'title': 'Executive VP, General Counsel & Secretary', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 1360939, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Ajay K. Puri', 'age': 68, 'title': 'Executive Vice President of Worldwide Field Operations', 'yearBorn': 1955, 'fiscalYear': 2024, 'totalPay': 2295097, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Chris A. Malachowsky', 'title': 'Co-Founder', 'fiscalYear': 2024, 'totalPay': 320000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Donald F. Robertson Jr.', 'age': 54, 'title': 'VP & Chief Accounting Officer', 'yearBorn': 1969, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Prof. William J. Dally Ph.D.', 'age': 62, 'title': 'Chief Scientist & Senior VP of Research', 'yearBorn': 1961, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Mylene  Mangalindan', 'title': 'VP of Corporate Communications', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Tommy  Lee', 'title': 'Senior Vice President of Systems Engineering & Application', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}])
- ('auditRisk', 7)
- ('boardRisk', 10)
- ('compensationRisk', 5)
- ('shareHolderRightsRisk', 6)
- ('overallRisk', 8)
- ('governanceEpochDate', 1727740800)
- ('compensationAsOfEpochDate', 1735603200)
- ('irWebsite', 'http://phx.corporate-ir.net/phoenix.zhtml?c=116466&p=irol-IRHome')
- ('maxAge', 86400)
- ('priceHint', 2)
- ('previousClose', 143.71)
- ('open', 142.91)
- ('dayLow', 141.78)
- ('dayHigh', 144.42)
- ('regularMarketPreviousClose', 143.71)
- ('regularMarketOpen', 142.91)
- ('regularMarketDayLow', 141.78)
- ('regularMarketDayHigh', 144.42)
- ('dividendRate', 0.04)
- ('dividendYield', 0.00029999999)
- ('exDividendDate', 1726099200)
- ('payoutRatio', 0.010299999)
- ('fiveYearAvgDividendYield', 0.1)
- ('beta', 1.669)
- ('trailingPE', 67.41314)
- ('forwardPE', 35.366993)
- ('volume', 222271198)
- ('regularMarketVolume', 222271198)
- ('averageVolume', 324949146)
- ('averageVolume10days', 256486630)
- ('averageDailyVolume10Day', 256486630)
- ('marketCap', 3522262466560)
- ('fiftyTwoWeekLow', 39.23)
- ('fiftyTwoWeekHigh', 144.42)
- ('priceToSalesTrailing12Months', 36.573273)
- ('fiftyDayAverage', 122.3698)
- ('twoHundredDayAverage', 100.88735)
- ('trailingAnnualDividendRate', 0.022)
- ('trailingAnnualDividendYield', 0.00015308606)
- ('currency', 'USD')
- ('enterpriseValue', 3500421414912)
- ('profitMargins', 0.55041003)
- ('floatShares', 23541441000)
- ('sharesOutstanding', 24529999872)
- ('sharesShort', 251090067)
- ('sharesShortPriorMonth', 260873913)
- ('sharesShortPreviousMonthDate', 1724976000)
- ('dateShortInterest', 1727654400)
- ('sharesPercentSharesOut', 0.010199999)
- ('heldPercentInsiders', 0.042930003)
- ('heldPercentInstitutions', 0.66767)
- ('shortRatio', 0.8)
- ('shortPercentOfFloat', 0.0107)
- ('impliedSharesOutstanding', 24748699648)
- ('bookValue', 2.368)
- ('priceToBook', 60.637665)
- ('lastFiscalYearEnd', 1706400000)
- ('nextFiscalYearEnd', 1738022400)
- ('mostRecentQuarter', 1722124800)
- ('earningsQuarterlyGrowth', 1.682)
- ('netIncomeToCommon', 53007998976)
- ('trailingEps', 2.13)
- ('forwardEps', 4.06)
- ('pegRatio', 0.88)
- ('lastSplitFactor', '10:1')
- ('lastSplitDate', 1717977600)
- ('enterpriseToRevenue', 36.346)
- ('enterpriseToEbitda', 57.211)
- ('52WeekChange', 2.2913451)
- ('SandP52WeekChange', 0.3781594)
- ('lastDividendValue', 0.01)
- ('lastDividendDate', 1726099200)
- ('exchange', 'NMS')
- ('quoteType', 'EQUITY')
- ('symbol', 'NVDA')
- ('underlyingSymbol', 'NVDA')
- ('shortName', 'NVIDIA Corporation')
- ('longName', 'NVIDIA Corporation')
- ('firstTradeDateEpochUtc', 917015400)
- ('timeZoneFullName', 'America/New_York')
- ('timeZoneShortName', 'EDT')
- ('uuid', '7f5f6a07-b148-30f4-98a2-2caa3df2aed0')
- ('messageBoardId', 'finmb_32307')
- ('gmtOffSetMilliseconds', -14400000)
- ('currentPrice', 143.59)
- ('targetHighPrice', 202.79)
- ('targetLowPrice', 75.4)
- ('targetMeanPrice', 149.03)
- ('targetMedianPrice', 150.0)
- ('recommendationMean', 1.8)
- ('recommendationKey', 'buy')
- ('numberOfAnalystOpinions', 50)
- ('totalCash', 34800001024)
- ('totalCashPerShare', 1.419)
- ('ebitda', 61184000000)
- ('totalDebt', 10014999552)
- ('quickRatio', 3.503)
- ('currentRatio', 4.269)
- ('totalRevenue', 96307003392)
- ('debtToEquity', 17.221)
- ('revenuePerShare', 3.91)
- ('returnOnAssets', 0.55258)
- ('returnOnEquity', 1.23767)
- ('freeCashflow', 33725874176)
- ('operatingCashflow', 48663998464)
- ('earningsGrowth', 1.68)
- ('revenueGrowth', 1.224)
- ('grossMargins', 0.75975996)
- ('ebitdaMargins', 0.6353)
- ('operatingMargins', 0.62057)
- ('financialCurrency', 'USD')
- ('trailingPegRatio', 1.1133)

In [5]:
#datos del comportamiento de la acción a lo largo del tiempo
historical_prices = yf.download(ticker)
historical_prices = historical_prices.reset_index()

#añadir valor del ticker para todas las filas
historical_prices["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
historical_prices["Extraction_Timestamp"] = extraction_time

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_historical_prices_{datetime.now().strftime('%Y%m%d')}.csv"
historical_prices.to_csv(file_name)

[*********************100%***********************]  1 of 1 completed

In [6]:
# Verificar el resultado
historical_prices.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ticker,Extraction_Timestamp
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037618,2714688000,NVDA,2024-10-22 22:26:23
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041559,510480000,NVDA,2024-10-22 22:26:23
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038334,343200000,NVDA,2024-10-22 22:26:23
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038215,244368000,NVDA,2024-10-22 22:26:23
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038095,227520000,NVDA,2024-10-22 22:26:23

In [7]:
historical_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6480 entries, 0 to 6479
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  6480 non-null   datetime64[ns]
 1   Open                  6480 non-null   float64
 2   High                  6480 non-null   float64
 3   Low                   6480 non-null   float64
 4   Close                 6480 non-null   float64
 5   Adj Close             6480 non-null   float64
 6   Volume                6480 non-null   int64
 7   ticker                6480 non-null   object
 8   Extraction_Timestamp  6480 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 455.8+ KB

In [8]:
#datos de cuándo y cuánto ha pagado la empresa en dividendos
dividends = yf.Ticker(ticker).dividends
dividends = dividends.reset_index()

#añadir valor del ticker para todas las filas
dividends["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
dividends = pd.DataFrame(dividends)
dividends["Extraction_Timestamp"] = extraction_time

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_dividends_{datetime.now().strftime('%Y%m%d')}.csv"
dividends.to_csv(file_name)

In [9]:
dividends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  48 non-null     datetime64[ns, America/New_York]
 1   Dividends             48 non-null     float64
 2   ticker                48 non-null     object
 3   Extraction_Timestamp  48 non-null     object
dtypes: datetime64[ns, America/New_York](1), float64(1), object(2)
memory usage: 1.6+ KB

In [10]:
dividends.head()

                       Date  Dividends ticker Extraction_Timestamp
0 2012-11-20 00:00:00-05:00   0.001875   NVDA  2024-10-22 22:26:23
1 2013-02-26 00:00:00-05:00   0.001875   NVDA  2024-10-22 22:26:23
2 2013-05-21 00:00:00-04:00   0.001875   NVDA  2024-10-22 22:26:23
3 2013-08-20 00:00:00-04:00   0.001875   NVDA  2024-10-22 22:26:23
4 2013-11-19 00:00:00-05:00   0.002125   NVDA  2024-10-22 22:26:23

In [11]:
#datos de los splits, afectan a cómo se interpreta el precio histórico de las acciones
splits = yf.Ticker(ticker).splits
splits = splits.reset_index()

#añadir valor del ticker para todas las filas
splits["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
splits = pd.DataFrame(splits)
splits["Extraction_Timestamp"] = extraction_time

#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_splits_{datetime.now().strftime('%Y%m%d')}.csv"
splits.to_csv(file_name)

In [12]:
splits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  6 non-null      datetime64[ns, America/New_York]
 1   Stock Splits          6 non-null      float64
 2   ticker                6 non-null      object
 3   Extraction_Timestamp  6 non-null      object
dtypes: datetime64[ns, America/New_York](1), float64(1), object(2)
memory usage: 324.0+ bytes

In [13]:
splits.head()

                       Date  Stock Splits ticker Extraction_Timestamp
0 2000-06-27 00:00:00-04:00           2.0   NVDA  2024-10-22 22:26:24
1 2001-09-10 00:00:00-04:00           2.0   NVDA  2024-10-22 22:26:24
2 2006-04-07 00:00:00-04:00           2.0   NVDA  2024-10-22 22:26:24
3 2007-09-11 00:00:00-04:00           1.5   NVDA  2024-10-22 22:26:24
4 2021-07-20 00:00:00-04:00           4.0   NVDA  2024-10-22 22:26:24

In [14]:
#datos de la estructura financiera de la empresa
balance_sheet = yf.Ticker(ticker).balance_sheet.T
balance_sheet = balance_sheet.reset_index()
balance_sheet = balance_sheet.rename(columns={'index': 'Date'})

#añadir valor del ticker para todas las filas
balance_sheet["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
balance_sheet["Extraction_Timestamp"] = extraction_time
      
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_balance_sheet_{datetime.now().strftime('%Y%m%d')}.csv"
balance_sheet.to_csv(file_name)

In [15]:
balance_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 87 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Date                                                 5 non-null      datetime64[ns]
 1   Treasury Shares Number                               2 non-null      object
 2   Ordinary Shares Number                               4 non-null      object
 3   Share Issued                                         4 non-null      object
 4   Net Debt                                             4 non-null      object
 5   Total Debt                                           4 non-null      object
 6   Tangible Book Value                                  4 non-null      object
 7   Invested Capital                                     4 non-null      object
 8   Working Capital                                      4 non-null      object
 9   Net Tangible Assets                                  4 non-null      object
 10  Capital Lease Obligations                            4 non-null      object
 11  Common Stock Equity                                  4 non-null      object
 12  Total Capitalization                                 4 non-null      object
 13  Total Equity Gross Minority Interest                 4 non-null      object
 14  Stockholders Equity                                  4 non-null      object
 15  Gains Losses Not Affecting Retained Earnings         4 non-null      object
 16  Other Equity Adjustments                             4 non-null      object
 17  Treasury Stock                                       3 non-null      object
 18  Retained Earnings                                    4 non-null      object
 19  Additional Paid In Capital                           4 non-null      object
 20  Capital Stock                                        4 non-null      object
 21  Common Stock                                         4 non-null      object
 22  Preferred Stock                                      4 non-null      object
 23  Total Liabilities Net Minority Interest              4 non-null      object
 24  Total Non Current Liabilities Net Minority Interest  4 non-null      object
 25  Other Non Current Liabilities                        4 non-null      object
 26  Employee Benefits                                    2 non-null      object
 27  Tradeand Other Payables Non Current                  4 non-null      object
 28  Non Current Deferred Liabilities                     4 non-null      object
 29  Non Current Deferred Revenue                         4 non-null      object
 30  Non Current Deferred Taxes Liabilities               4 non-null      object
 31  Long Term Debt And Capital Lease Obligation          4 non-null      object
 32  Long Term Capital Lease Obligation                   4 non-null      object
 33  Long Term Debt                                       4 non-null      object
 34  Current Liabilities                                  4 non-null      object
 35  Other Current Liabilities                            4 non-null      object
 36  Current Deferred Liabilities                         4 non-null      object
 37  Current Deferred Revenue                             4 non-null      object
 38  Current Debt And Capital Lease Obligation            4 non-null      object
 39  Current Capital Lease Obligation                     4 non-null      object
 40  Current Debt                                         3 non-null      object
 41  Other Current Borrowings                             3 non-null      object
 42  Current Provisions                                   2 non-null      object
 43  Payables And Accrued Expenses                        4 non-null      object
 44  Current Accrued Expenses                             4 non-null      object
 45  Interest Payable                                     2 non-null      object
 46  Payables                                             4 non-null      object
 47  Other Payable                                        1 non-null      object
 48  Total Tax Payable                                    4 non-null      object
 49  Accounts Payable                                     4 non-null      object
 50  Total Assets                                         4 non-null      object
 51  Total Non Current Assets                             4 non-null      object
 52  Other Non Current Assets                             4 non-null      object
 53  Non Current Prepaid Assets                           4 non-null      object
 54  Non Current Deferred Assets                          4 non-null      object
 55  Non Current Deferred Taxes Assets                    4 non-null      object
 56  Investments And Advances                             4 non-null      object
 57  Other Investments                                    4 non-null      object
 58  Goodwill And Other Intangible Assets                 4 non-null      object
 59  Other Intangible Assets                              4 non-null      object
 60  Goodwill                                             4 non-null      object
 61  Net PPE                                              4 non-null      object
 62  Accumulated Depreciation                             4 non-null      object
 63  Gross PPE                                            4 non-null      object
 64  Leases                                               2 non-null      object
 65  Construction In Progress                             4 non-null      object
 66  Other Properties                                     4 non-null      object
 67  Machinery Furniture Equipment                        4 non-null      object
 68  Buildings And Improvements                           4 non-null      object
 69  Land And Improvements                                4 non-null      object
 70  Properties                                           4 non-null      object
 71  Current Assets                                       4 non-null      object
 72  Other Current Assets                                 4 non-null      object
 73  Prepaid Assets                                       3 non-null      object
 74  Inventory                                            4 non-null      object
 75  Finished Goods                                       4 non-null      object
 76  Work In Process                                      4 non-null      object
 77  Raw Materials                                        4 non-null      object
 78  Receivables                                          4 non-null      object
 79  Accounts Receivable                                  4 non-null      object
 80  Allowance For Doubtful Accounts Receivable           2 non-null      object
 81  Gross Accounts Receivable                            2 non-null      object
 82  Cash Cash Equivalents And Short Term Investments     4 non-null      object
 83  Other Short Term Investments                         4 non-null      object
 84  Cash And Cash Equivalents                            4 non-null      object
 85  ticker                                               5 non-null      object
 86  Extraction_Timestamp                                 5 non-null      object
dtypes: datetime64[ns](1), object(86)
memory usage: 3.5+ KB

In [16]:
balance_sheet.head()

,Date,Treasury Shares Number,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,...,Raw Materials,Receivables,Accounts Receivable,Allowance For Doubtful Accounts Receivable,Gross Accounts Receivable,Cash Cash Equivalents And Short Term Investments,Other Short Term Investments,Cash And Cash Equivalents,ticker,Extraction_Timestamp
0,2024-01-31,NaN,24640000000.0,24640000000.0,2429000000.0,11056000000.0,37436000000.0,52687000000.0,33714000000.0,37436000000.0,...,1719000000.0,9999000000.0,9999000000.0,NaN,NaN,25984000000.0,18704000000.0,7280000000.0,NVDA,2024-10-22 22:26:24
1,2023-01-31,NaN,24661365720.0,24661365720.0,7564000000.0,12031000000.0,16053000000.0,33054000000.0,16510000000.0,16053000000.0,...,2430000000.0,3827000000.0,3827000000.0,NaN,NaN,13296000000.0,9907000000.0,3389000000.0,NVDA,2024-10-22 22:26:24
2,2022-01-31,NaN,25060000000.0,25060000000.0,8956000000.0,11831000000.0,19924000000.0,37558000000.0,24494000000.0,19924000000.0,...,791000000.0,4650000000.0,4650000000.0,NaN,NaN,21208000000.0,19218000000.0,1990000000.0,NVDA,2024-10-22 22:26:24
3,2021-01-31,13800000000.0,24800000000.0,38600000000.0,6116000000.0,7597000000.0,9963000000.0,23856000000.0,12130000000.0,9963000000.0,...,632000000.0,2429000000.0,2429000000.0,-21000000.0,2450000000.0,11561000000.0,10714000000.0,847000000.0,NVDA,2024-10-22 22:26:24
4,2020-01-31,13700576960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-11000000.0,1668000000.0,NaN,NaN,NaN,NVDA,2024-10-22 22:26:24

In [17]:
#estado de resultados, para entender la rentabilidad de la empresa a lo largo del tiempo
income_statement = yf.Ticker(ticker).financials.T
income_statement = income_statement.reset_index()
income_statement = income_statement.rename(columns={'index': 'Date'})

#añadir valor del ticker para todas las filas
income_statement["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
income_statement["Extraction_Timestamp"] = extraction_time
       
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_income_statement_{datetime.now().strftime('%Y%m%d')}.csv"
income_statement.to_csv(file_name)

In [18]:
income_statement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 46 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Date                                                        4 non-null      datetime64[ns]
 1   Tax Effect Of Unusual Items                                 4 non-null      object
 2   Tax Rate For Calcs                                          4 non-null      object
 3   Normalized EBITDA                                           4 non-null      object
 4   Total Unusual Items                                         4 non-null      object
 5   Total Unusual Items Excluding Goodwill                      4 non-null      object
 6   Net Income From Continuing Operation Net Minority Interest  4 non-null      object
 7   Reconciled Depreciation                                     4 non-null      object
 8   Reconciled Cost Of Revenue                                  4 non-null      object
 9   EBITDA                                                      4 non-null      object
 10  EBIT                                                        4 non-null      object
 11  Net Interest Income                                         4 non-null      object
 12  Interest Expense                                            4 non-null      object
 13  Interest Income                                             4 non-null      object
 14  Normalized Income                                           4 non-null      object
 15  Net Income From Continuing And Discontinued Operation       4 non-null      object
 16  Total Expenses                                              4 non-null      object
 17  Total Operating Income As Reported                          4 non-null      object
 18  Diluted Average Shares                                      4 non-null      object
 19  Basic Average Shares                                        4 non-null      object
 20  Diluted EPS                                                 4 non-null      object
 21  Basic EPS                                                   4 non-null      object
 22  Diluted NI Availto Com Stockholders                         4 non-null      object
 23  Net Income Common Stockholders                              4 non-null      object
 24  Net Income                                                  4 non-null      object
 25  Net Income Including Noncontrolling Interests               4 non-null      object
 26  Net Income Continuous Operations                            4 non-null      object
 27  Tax Provision                                               4 non-null      object
 28  Pretax Income                                               4 non-null      object
 29  Other Income Expense                                        4 non-null      object
 30  Other Non Operating Income Expenses                         4 non-null      object
 31  Special Income Charges                                      4 non-null      object
 32  Restructuring And Mergern Acquisition                       4 non-null      object
 33  Net Non Operating Interest Income Expense                   4 non-null      object
 34  Interest Expense Non Operating                              4 non-null      object
 35  Interest Income Non Operating                               4 non-null      object
 36  Operating Income                                            4 non-null      object
 37  Operating Expense                                           4 non-null      object
 38  Research And Development                                    4 non-null      object
 39  Selling General And Administration                          4 non-null      object
 40  Gross Profit                                                4 non-null      object
 41  Cost Of Revenue                                             4 non-null      object
 42  Total Revenue                                               4 non-null      object
 43  Operating Revenue                                           4 non-null      object
 44  ticker                                                      4 non-null      object
 45  Extraction_Timestamp                                        4 non-null      object
dtypes: datetime64[ns](1), object(45)
memory usage: 1.6+ KB

In [19]:
income_statement.head()

,Date,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,...,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue,ticker,Extraction_Timestamp
0,2024-01-31,0.0,0.12,35583000000.0,0.0,0.0,29760000000.0,1508000000.0,16621000000.0,35583000000.0,...,32972000000.0,11329000000.0,8675000000.0,2654000000.0,44301000000.0,16621000000.0,60922000000.0,60922000000.0,NVDA,2024-10-22 22:26:24
1,2023-01-31,-284130000.0,0.21,7340000000.0,-1353000000.0,-1353000000.0,4368000000.0,1544000000.0,11618000000.0,5987000000.0,...,5577000000.0,9779000000.0,7339000000.0,2440000000.0,15356000000.0,11618000000.0,26974000000.0,26974000000.0,NVDA,2024-10-22 22:26:24
2,2022-01-31,0.0,0.019,11351000000.0,0.0,0.0,9752000000.0,1174000000.0,9439000000.0,11351000000.0,...,10041000000.0,7434000000.0,5268000000.0,2166000000.0,17475000000.0,9439000000.0,26914000000.0,26914000000.0,NVDA,2024-10-22 22:26:24
3,2021-01-31,0.0,0.017,5691000000.0,0.0,0.0,4332000000.0,1098000000.0,6279000000.0,5691000000.0,...,4532000000.0,5864000000.0,3924000000.0,1940000000.0,10396000000.0,6279000000.0,16675000000.0,16675000000.0,NVDA,2024-10-22 22:26:24

In [20]:
#muestra cómo se genera y usa el efectivo, sirve para medir su salud financiera
cashflow = yf.Ticker(ticker).cashflow.T
cashflow = cashflow.reset_index()
cashflow = cashflow.rename(columns={'index': 'Date'})

#añadir valor del ticker para todas las filas
cashflow["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
cashflow["Extraction_Timestamp"] = extraction_time
    
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_cashflow_{datetime.now().strftime('%Y%m%d')}.csv"
cashflow.to_csv(file_name)

In [21]:
cashflow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 58 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Date                                            5 non-null      datetime64[ns]
 1   Free Cash Flow                                  4 non-null      object
 2   Repurchase Of Capital Stock                     4 non-null      object
 3   Repayment Of Debt                               4 non-null      object
 4   Issuance Of Debt                                4 non-null      object
 5   Capital Expenditure                             4 non-null      object
 6   Interest Paid Supplemental Data                 4 non-null      object
 7   Income Tax Paid Supplemental Data               4 non-null      object
 8   End Cash Position                               4 non-null      object
 9   Beginning Cash Position                         4 non-null      object
 10  Changes In Cash                                 4 non-null      object
 11  Financing Cash Flow                             4 non-null      object
 12  Cash Flow From Continuing Financing Activities  4 non-null      object
 13  Net Other Financing Charges                     4 non-null      object
 14  Proceeds From Stock Option Exercised            4 non-null      object
 15  Cash Dividends Paid                             4 non-null      object
 16  Common Stock Dividend Paid                      4 non-null      object
 17  Net Common Stock Issuance                       4 non-null      object
 18  Common Stock Payments                           4 non-null      object
 19  Net Issuance Payments Of Debt                   4 non-null      object
 20  Net Long Term Debt Issuance                     4 non-null      object
 21  Long Term Debt Payments                         4 non-null      object
 22  Long Term Debt Issuance                         4 non-null      object
 23  Investing Cash Flow                             4 non-null      object
 24  Cash Flow From Continuing Investing Activities  4 non-null      object
 25  Net Investment Purchase And Sale                4 non-null      object
 26  Sale Of Investment                              4 non-null      object
 27  Purchase Of Investment                          4 non-null      object
 28  Net Business Purchase And Sale                  4 non-null      object
 29  Purchase Of Business                            4 non-null      object
 30  Net PPE Purchase And Sale                       4 non-null      object
 31  Sale Of PPE                                     1 non-null      object
 32  Purchase Of PPE                                 4 non-null      object
 33  Capital Expenditure Reported                    2 non-null      object
 34  Operating Cash Flow                             4 non-null      object
 35  Cash Flow From Continuing Operating Activities  4 non-null      object
 36  Change In Working Capital                       4 non-null      object
 37  Change In Other Working Capital                 2 non-null      object
 38  Change In Other Current Liabilities             4 non-null      object
 39  Change In Payables And Accrued Expense          4 non-null      object
 40  Change In Accrued Expense                       4 non-null      object
 41  Change In Payable                               4 non-null      object
 42  Change In Account Payable                       4 non-null      object
 43  Change In Prepaid Assets                        4 non-null      object
 44  Change In Inventory                             4 non-null      object
 45  Change In Receivables                           4 non-null      object
 46  Changes In Account Receivables                  4 non-null      object
 47  Other Non Cash Items                            4 non-null      object
 48  Stock Based Compensation                        4 non-null      object
 49  Deferred Tax                                    4 non-null      object
 50  Deferred Income Tax                             4 non-null      object
 51  Depreciation Amortization Depletion             4 non-null      object
 52  Depreciation And Amortization                   4 non-null      object
 53  Operating Gains Losses                          4 non-null      object
 54  Gain Loss On Investment Securities              4 non-null      object
 55  Net Income From Continuing Operations           4 non-null      object
 56  ticker                                          5 non-null      object
 57  Extraction_Timestamp                            5 non-null      object
dtypes: datetime64[ns](1), object(57)
memory usage: 2.4+ KB

In [22]:
cashflow.head()

,Date,Free Cash Flow,Repurchase Of Capital Stock,Repayment Of Debt,Issuance Of Debt,Capital Expenditure,Interest Paid Supplemental Data,Income Tax Paid Supplemental Data,End Cash Position,Beginning Cash Position,...,Stock Based Compensation,Deferred Tax,Deferred Income Tax,Depreciation Amortization Depletion,Depreciation And Amortization,Operating Gains Losses,Gain Loss On Investment Securities,Net Income From Continuing Operations,ticker,Extraction_Timestamp
0,2024-01-31,27021000000.0,-9533000000.0,-1250000000.0,0.0,-1069000000.0,252000000.0,6549000000.0,7280000000.0,3389000000.0,...,3549000000.0,-2489000000.0,-2489000000.0,1508000000.0,1508000000.0,-238000000.0,-238000000.0,29760000000.0,NVDA,2024-10-22 22:26:24
1,2023-01-31,3808000000.0,-10039000000.0,0.0,0.0,-1833000000.0,254000000.0,1404000000.0,3389000000.0,1990000000.0,...,2709000000.0,-2164000000.0,-2164000000.0,1544000000.0,1544000000.0,45000000.0,45000000.0,4368000000.0,NVDA,2024-10-22 22:26:24
2,2022-01-31,8132000000.0,0.0,-1000000000.0,4977000000.0,-976000000.0,246000000.0,396000000.0,1990000000.0,847000000.0,...,2004000000.0,-406000000.0,-406000000.0,1174000000.0,1174000000.0,-100000000.0,-100000000.0,9752000000.0,NVDA,2024-10-22 22:26:24
3,2021-01-31,4694000000.0,0.0,0.0,4968000000.0,-1128000000.0,138000000.0,249000000.0,847000000.0,10896000000.0,...,1397000000.0,-282000000.0,-282000000.0,1098000000.0,1098000000.0,NaN,NaN,4332000000.0,NVDA,2024-10-22 22:26:24
4,2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1000000.0,1000000.0,NaN,NVDA,2024-10-22 22:26:24

In [23]:
#identificación de las instituciones que tienen participaciones
holders = yf.Ticker(ticker).institutional_holders

#añadir valor del ticker para todas las filas
holders["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
holders["Extraction_Timestamp"] = extraction_time
    
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_holders_{datetime.now().strftime('%Y%m%d')}.csv"
holders.to_csv(file_name)

In [24]:
holders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date Reported         10 non-null     datetime64[ns]
 1   Holder                10 non-null     object
 2   pctHeld               10 non-null     float64
 3   Shares                10 non-null     int64
 4   Value                 10 non-null     int64
 5   ticker                10 non-null     object
 6   Extraction_Timestamp  10 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 692.0+ bytes

In [25]:
holders.head()

,Date Reported,Holder,pctHeld,Shares,Value,ticker,Extraction_Timestamp
0,2024-03-31,Vanguard Group Inc,0.8672,2133356260,192761538228,NVDA,2024-10-22 22:26:25
1,2024-03-31,Blackrock Inc.,0.7408,1822389250,164663803073,NVDA,2024-10-22 22:26:25
2,2024-03-31,"FMR, LLC",0.4679,1151036980,104003097364,NVDA,2024-10-22 22:26:25
3,2024-03-31,State Street Corporation,0.3678,904894170,81762617624,NVDA,2024-10-22 22:26:25
4,2024-03-31,"Geode Capital Management, LLC",0.2134,524942990,47431748804,NVDA,2024-10-22 22:26:25

In [26]:
#datos de los cambios en las calificaciones que los analistas financieros hacen sobre una acción
upgrades_downgrades = yf.Ticker(ticker).upgrades_downgrades
upgrades_downgrades = upgrades_downgrades.reset_index()

#añadir valor del ticker para todas las filas
upgrades_downgrades["ticker"] = ticker

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
upgrades_downgrades["Extraction_Timestamp"] = extraction_time
    
#guardar .csv con el nombre del ticker y la fecha de extracción
file_name = f"{ticker}_upgrades_downgrades_{datetime.now().strftime('%Y%m%d')}.csv"
upgrades_downgrades.to_csv(file_name)

In [27]:
upgrades_downgrades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 818 entries, 0 to 817
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GradeDate             818 non-null    datetime64[ns]
 1   Firm                  818 non-null    object
 2   ToGrade               818 non-null    object
 3   FromGrade             818 non-null    object
 4   Action                818 non-null    object
 5   ticker                818 non-null    object
 6   Extraction_Timestamp  818 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 44.9+ KB

In [28]:
upgrades_downgrades.head()

,GradeDate,Firm,ToGrade,FromGrade,Action,ticker,Extraction_Timestamp
0,2024-10-18 11:15:27,B of A Securities,Buy,Buy,main,NVDA,2024-10-22 22:26:25
1,2024-10-11 13:55:04,Goldman Sachs,Buy,Buy,main,NVDA,2024-10-22 22:26:25
2,2024-10-10 12:29:45,Morgan Stanley,Overweight,Overweight,reit,NVDA,2024-10-22 22:26:25
3,2024-10-08 19:45:05,Cantor Fitzgerald,Overweight,Overweight,reit,NVDA,2024-10-22 22:26:25
4,2024-10-08 14:41:59,UBS,Buy,Buy,reit,NVDA,2024-10-22 22:26:25

In [29]:
#identificación de las empresas del sector de tecnológico
sector = yf.Sector("technology").top_companies
sector = sector.reset_index().rename(columns={"index": "symbol"})
sector

   symbol                                          name rating  market weight
0    AAPL                                    Apple Inc.    Buy       0.189458
1    NVDA                            NVIDIA Corporation    Buy       0.186011
2    MSFT                         Microsoft Corporation    Buy       0.167849
3    AVGO                                 Broadcom Inc.    Buy       0.044254
4    ORCL                            Oracle Corporation    Buy       0.025660
5     CRM                              Salesforce, Inc.    Buy       0.014560
6     AMD                  Advanced Micro Devices, Inc.    Buy       0.013172
7     ACN                                 Accenture plc    Buy       0.012271
8    CSCO                           Cisco Systems, Inc.    Buy       0.011931
9    ADBE                                    Adobe Inc.    Buy       0.011466
10    IBM   International Business Machines Corporation   Hold       0.011300
11   QCOM                         QUALCOMM Incorporated    Buy       0.010190
12    NOW                              ServiceNow, Inc.    Buy       0.009981
13    TXN                Texas Instruments Incorporated   Hold       0.009347
14   INTU                                   Intuit Inc.    Buy       0.009025
15   UBER                       Uber Technologies, Inc.    Buy       0.008922
16   AMAT                       Applied Materials, Inc.    Buy       0.007969
17   ANET                         Arista Networks, Inc.    Buy       0.006580
18   PANW                      Palo Alto Networks, Inc.    Buy       0.006468
19     MU                       Micron Technology, Inc.    Buy       0.006316
20    ADP               Automatic Data Processing, Inc.   Hold       0.006276
21     FI                                  Fiserv, Inc.    Buy       0.006072
22    ADI                          Analog Devices, Inc.    Buy       0.005891
23   PLTR                    Palantir Technologies Inc.   Hold       0.005081
24   INTC                             Intel Corporation   Hold       0.005056
25   LRCX                      Lam Research Corporation    Buy       0.004998
26   KLAC                               KLA Corporation    Buy       0.004742
27   DELL                        Dell Technologies Inc.    Buy       0.004464
28    APH                          Amphenol Corporation    Buy       0.004252
29    MSI                      Motorola Solutions, Inc.    Buy       0.004144
30   SNPS                                Synopsys, Inc.    Buy       0.004077
31   CRWD                    CrowdStrike Holdings, Inc.    Buy       0.003995
32   MRVL                      Marvell Technology, Inc.    Buy       0.003815
33   CDNS                  Cadence Design Systems, Inc.    Buy       0.003638
34   WDAY                                 Workday, Inc.    Buy       0.003454
35   FTNT                                Fortinet, Inc.   Hold       0.003331
36   ADSK                                Autodesk, Inc.    Buy       0.003284
37    ROP                      Roper Technologies, Inc.    Buy       0.003126
38   NXPI                       NXP Semiconductors N.V.    Buy       0.003115
39    TTD                          The Trade Desk, Inc.    Buy       0.003099
40    APP                          AppLovin Corporation    Buy       0.002806
41   PAYX                                 Paychex, Inc.   Hold       0.002687
42   TEAM                         Atlassian Corporation    Buy       0.002663
43   FICO                        Fair Isaac Corporation    Buy       0.002626
44    FIS  Fidelity National Information Services, Inc.    Buy       0.002579
45     SQ                                   Block, Inc.    Buy       0.002368
46    TEL                           TE Connectivity plc    Buy       0.002357
47   MSTR                    MicroStrategy Incorporated    Buy       0.002351
48   MPWR                Monolithic Power Systems, Inc.    Buy       0.002260
49   DDOG                                 Datadog, Inc.    Buy       0.002219

In [30]:
sector.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   symbol         50 non-null     object
 1   name           50 non-null     object
 2   rating         50 non-null     object
 3   market weight  50 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.7+ KB

In [31]:
#datos de las acciones del sector de tecnológico

tickers = [
    'AAPL', 'MSFT', 'GOOGL', 'AMZN', 'META', 'TSLA', 'NVDA', 'INTC', 'ADBE', 'CSCO',
    'ORCL', 'CRM', 'IBM', 'AMD', 'NFLX', 'PYPL', 'SQ', 'TWTR', 'SNPS', 'ATVI',"AAPL","MSFT",                          
    "AVGO","ORCL", "CRM","AMD",  "ACN", "CSCO", "ADBE", "IBM", "NOW", "QCOM", "TXN", "INTU",                                    
    "UBER", "AMAT", "ANET", "PANW", "MU", "ADP", "FI", "ADI", "INTC", "PLTR", "LRCX", "KLAC",                             
    "DELL", "APH", "MSI", "SNPS", "CRWD", "MRVL", "CDNS", "WDAY", "FTNT", "ADSK", "ROP", "NXPI",                       
    "TTD", "APP", "PAYX", "TEAM", "FIS", "FICO", "SQ", "TEL", "MSTR", "MPWR", "DDOG"  
]

stock_info = []

for ticker in tickers:
    stock = yf.Ticker(ticker)
    stock_data = {
        "ticker": ticker,
        "name": stock.info.get("longName", ""),
        "sector": stock.info.get("sector", ""),
        "industry": stock.info.get("industry", ""),
        "marketCap": stock.info.get("marketCap", ""),
        "fullTimeEmployees": stock.info.get("fullTimeEmployees", ""),
        "marketStart": stock.info.get("regularMarketTime", None)  # Time in Unix
        
    }
    stock_info.append(stock_data)

stocks = pd.DataFrame(stock_info)

# Convert marketStart from Unix timestamp to human-readable date if needed
stocks["marketStart"] = pd.to_datetime(stocks["marketStart"], unit="s")

stocks

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=BTPZZ3xIXui

,ticker,name,sector,industry,marketCap,fullTimeEmployees,marketStart
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3586038956032,161000,NaT
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3177698820096,228000,NaT
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2042600095744,179582,NaT
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1991015268352,1525000,NaT
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1472380534784,70799,NaT
...,...,...,...,...,...,...,...
64,SQ,"Block, Inc.",Technology,Software - Infrastructure,44831268864,12985,NaT
65,TEL,TE Connectivity plc,Technology,Electronic Components,44615311360,85000,NaT
66,MSTR,MicroStrategy Incorporated,Technology,Software - Application,44517371904,1839,NaT
67,MPWR,"Monolithic Power Systems, Inc.",Technology,Semiconductors,42746241024,3564,NaT
68,DDOG,"Datadog, Inc.",Technology,Software - Application,42015883264,5200,NaT

In [32]:
#IPO (Initial Public Offering)
tech_tickers_ipo = {
    'AAPL': '1980-12-12',
    'MSFT': '1986-03-13',
    'GOOGL': '2004-08-19',
    'AMZN': '1997-05-15',
    'META': '2012-05-18',  
    'TSLA': '2010-06-29',
    'NVDA': '1999-01-22',
    'INTC': '1971-10-13',
    'ADBE': '1986-08-08',
    'CSCO': '1990-02-16',
    'ORCL': '1986-03-12',
    'CRM': '2004-06-23',
    'IBM': '1911-11-12',
    'AMD': '1972-09-18',
    'NFLX': '2002-05-23',
    'PYPL': '2015-07-20',
    'SQ': '2015-11-19',
    'TWTR': '2013-11-07',
    'SNPS': '2000-01-24',
    'ATVI': '2003-08-09',
    'AVGO': '2016-09-14',
    'NOW': '2012-06-28',
    'QCOM': '1991-07-11',
    'TXN': '1953-01-01',
    'INTU': '1993-03-24',
    'UBER': '2019-05-10',
    'AMAT': '1980-06-19',
    'ANET': '2015-06-27',
    'PANW': '2012-07-20',
    'MU': '1984-03-06',
    'ADP': '1961-10-13',
    'FI': 'NA', 
    'ADI': '2000-08-08',
    'PLTR': '2020-09-30',
    'LRCX': '1996-11-06',
    'KLAC': '1995-08-01',
    'DELL': '2018-12-28',  # IPO tras ser privado
    'APH': '2011-07-06',
    'MSI': '2006-12-01',
    'CRWD': '2019-09-20',
    'MRVL': '2000-11-17',
    'CDNS': '1983-03-29',
    'WDAY': '2012-10-09',
    'FTNT': '2009-08-06',
    'ADSK': '1985-12-12',
    'ROP': '2000-08-10',
    'NXPI': '2012-08-02',
    'TTD': '2016-09-21',
    'APP': 'NA', 
    'PAYX': '1971-08-14',
    'TEAM': '2018-09-25',
    'FIS': '1968-01-08',
    'FICO': '1986-04-04',
    'TEL': '2016-01-05',
    'MSTR': '2006-01-26',
    'MPWR': '2007-11-02',
    'DDOG': '2019-09-19',
}

data = []

for ticker, ipo_date in tech_tickers_ipo.items():
    stock = yf.Ticker(ticker)
    info = stock.info
    data.append({
        "ticker": ticker,
        "name": info.get("shortName", None),
        "sector": info.get("sector", None),
        "industry": info.get("industry", None),
        "marketCap": info.get("marketCap", None),
        "fullTimeEmployees": info.get("fullTimeEmployees", None),
        "ipoDate": ipo_date if ipo_date != "NA" else None  # Use the manually defined IPO date
    })


df = pd.DataFrame(data)

df['ipoDate'] = pd.to_datetime(df['ipoDate'])

#añadir timestamp
extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
stocks["Extraction_Timestamp"] = extraction_time

file_name = f"stocks_{datetime.now().strftime('%Y%m%d')}.csv"
df.to_csv(file_name)

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=BTPZZ3xIXui

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker             57 non-null     object
 1   name               55 non-null     object
 2   sector             55 non-null     object
 3   industry           55 non-null     object
 4   marketCap          55 non-null     float64
 5   fullTimeEmployees  55 non-null     float64
 6   ipoDate            55 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 3.2+ KB

In [34]:
df.head()

,ticker,name,sector,industry,marketCap,fullTimeEmployees,ipoDate
0,AAPL,Apple Inc.,Technology,Consumer Electronics,3.586039e+12,161000.0,1980-12-12
1,MSFT,Microsoft Corporation,Technology,Software - Infrastructure,3.177699e+12,228000.0,1986-03-13
2,GOOGL,Alphabet Inc.,Communication Services,Internet Content & Information,2.042600e+12,179582.0,2004-08-19
3,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,1.991015e+12,1525000.0,1997-05-15
4,META,"Meta Platforms, Inc.",Communication Services,Internet Content & Information,1.472381e+12,70799.0,2012-05-18